section.contenedorAunSinTarjeta
    .container
        .row
            .row.d-none.d-sm-none.d-md-block
                .col-12.mx-5
                    h1.purpleDark3.text-center.t7.mx-5(style="font-size: 26px !important;") Acumula <img class="img-mobile" src="img/svg/i-ripley-puntos-purple-logo.svg" style="height: 70px;"> en todas tus compras en Tiendas Ripley y Ripley.com.pe con cualquier medio de pago: <span class="purpleDark3 text-center" style="font-size: 26px;font-weight: 400;">tarjeta de crédito, débito o efectivo.</span>
            .row.d-block.d-sm-block.d-md-none(style="width:600px;text-align:center;")
                .col-12(style="padding-right: 20px;padding-left: 20px;")
                    h1.purpleDark3.text-center.t7movilR Acumula <img class="img-mobile" src="img/svg/i-ripley-puntos-purple-logo.svg" style="height: 65px;"> en
                    h1.purpleDark3.text-center.t7movilR.fixt7movil todas tus compras en Tiendas <br> Ripley y Ripley.com.pe con cualquier medio <br> de pago: <span class="purpleDark3 text-center" style="font-size: 21px !important;font-style: normal !important;font-weight: 400 !important;">tarjeta de crédito, <br> débito o efectivo.</span>
        .row
            .row.mt-4
                .contenido-seccion.box-no-client_child
                    .row.contenido-info.mx-2
                        .row.mx-0.mt-4.seccion-nc
                            .col-12.text-center.mt-4
                                img.img-mobile_sin_tarjeta(src='img/svg/i-inscripcion.svg')
                        .row.mx-4.mx-md-4.mb-5.mt-4
                            .col-12.mx-0.px-0
                                p.grey.t6.medium.text-center.fixMargin_rptogo <span class="grey t6 bold">Afíliate </span> y <span class="grey t6 bold"> presenta tu documento de identidad</span> en cada compra en Ripley o ingrésalo en Ripley.com.pe
                .box-center-pg
                .contenido-seccion.box-no-client_child
                    .row.contenido-info.mx-2
                        .row.mx-0.mt-4.seccion-nc
                            .col-12.text-center.mt-4
                                img.img-mobile_sin_tarjeta(src='img/svg/i-star-gold-inscrip.svg')
                        .row.mx-2.mx-md-4.mb-5.mt-4
                            .col-12.mx-0.px-0
                                p.grey.t6.medium.text-center.fixMargin_rptogo <span class="grey t6 bold">Acumula 1 punto</span> por cada <span class="grey t6 bold">S/ 5</span> de compra en Ripley y Ripley.com.pe con cualquier medio de pago.
                .box-center-pg
                .contenido-seccion.box-no-client_child
                    .row.contenido-info.mx-2
                        .row.mx-0.mt-4.seccion-nc
                            .col-12.text-center.mt-4
                                img.img-mobile_sin_tarjeta.fiximg-mobile_sin_tarjeta(src='img/svg/i-gift-card-inscrip.svg')
                        .row.mx-2.mx-md-4.mb-5.mt-4
                            .col-12.mx-0.px-0
                                p.grey.t6.medium.text-center.fixMargin_rptogo <span class="grey t6 bold">Canjea</span> tus RipleyPuntos Go por Gift Cards y vales de consumo en Agencias de Banco Ripley.
        .row
            .col-12.text-center
                .col-12.mt-4
                    p.subtitle_links_home Lo que puedes canjear si te afilias:
                    .row.col-12.col-md-6.mt-2(style="margin: auto;")
                        .col-6.px-0
                            a.text_PCalificables(style="text-decoration-line: underline;" href="canjes.html?t=giftcardsSTR") Ver Gift Cards
                        .col-6.px-0
                            a.text_PCalificables(style="text-decoration-line: underline;" href="canjes.html?t=experienciasSTR") Ver Experiencias
        .row
            .col-12
                .col-12.mt-4
                    p.grey.s5.medium.text-center Aprovecha los beneficios de acumular <img class="img-mobile" src="img/svg/i-ripley-puntos-purple-logo.svg" style="height: 54px;"> <button class="btn btnInscripcionTarjeta" type="button" onClick="return RegistroOMPAfiliate()"> ¡Afíliate aquí!

section.seccionRipleyPuntosInfo
    .container
        .boxRPConoceMas.d-none.d-sm-block
            .row.col-12.pt-3.mt-4
                .col-10.mx-5
                    p.detailBoxConoceMas.mr-5 La afiliación al programa y esta información aplica solo si no tienes Tarjeta Ripley. Si la tienes, no necesitas afiliarte, ya estás disfrutando de estos y muchos más beneficios.
                    a.btnConoceMasBoxRP.semiBold(href="canjes.html") Conoce más
        .boxRPConoceMas.d-sm-none(style="height: auto;")
            .row
                .col-10.mx-4.my-4
                    p.detailBoxConoceMas.mb-4 La afiliación al programa y esta información aplica solo si no tienes Tarjeta Ripley. Si la tienes, no necesitas afiliarte, ya estás disfrutando de estos y muchos más beneficios.
                    a.btnConoceMasBoxRP.semiBold(href="canjes.html") Conoce más

section.contenedorAunSinTarjeta
    .container
        .row.anchoTerCondBenefPromociones.mt-5.d-none.d-md-block
            .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
                .row
                    button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                        | Ver condiciones <img src="img/svg/i-arrow-right-tcb.svg" >
                    #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                        row
                            p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                            br
                            p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones para la acumulación de RipleyPuntos Go con otro medio de pago: ] El cliente acumulará 1 punto por cada 5.00 soles de compra en Tiendas Ripley o Ripley.com.pe al realizar sus pagos con tarjetas de crédito / débito de otro banco y/o efectivo. Válido desde el 23 de noviembre de 2019. Aplica para compras realizadas en Tiendas Ripley, Ripley.com.pe y Estaciones R. Indispensable que el cliente se haya registrado para participar en el programa y presente su DNI en la caja o se registre en Ripley.com.pe al momento de la compra. La inscripción se deberá realizar en el formulario ubicado en la web www.ripleypuntos.com.pe Los puntos serán abonados en la quincena del mes siguiente de realizada la compra. El cliente podrá acumular máximo 20000 RipleyPuntos al mes. Los puntos acumulados no se consideran para pertenecer al segmento Gold Prime o Silver Prime. En caso el cliente obtenga Tarjeta de crédito Ripley, los puntos acumulados serán transferidos a la tarjeta del titular. Los clientes inscritos al programa no participarán en campañas de acumulación acelerada. No aplica los puntos acumulados para canjes en Viajes Ripley, certificados de tienda ni súper canjes. Sólo válido para canjes de Gift cards y experiencias.
                            br
        .row.d-md-none.mt-5.mb-3.pt-4
            row(style="margin: auto;")
                a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalCondicionesOMP") <img src="img/svg/i-viewdoc-find.svg" > Ver condiciones
                br
            br
