.containe(style="background: #ffffff;") 
    .row    
        .col-12
            h2.purpleDark3.mx-lg-4.mx-5.mt-5.t3.text-center.semiBold Beneficios de Gold Prime y Silver Prime
    .row.d-none.d-sm-flex
        .col-md-6.col-12
            .row.mt-3.ml-1.ml-sm-1.ml-md-3
                .col-11.px-0.px-md-1.px-lg-2
                    .row
                        .col-12
                            p.grey5.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.mt-lg-3 Categoría Silver Prime
                        .col-12
                            hr.my-2
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/silver/i-delivery-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 299 ] con el código: #[strong DespachoSP ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 4px;" src='../img/svg/silver/i-hourglass-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Vigencia de RipleyPuntos Go por #[strong 12 meses. ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 3px;" src='../img/svg/silver/i-gift-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x2 ] por compras en Ripley.
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/silver/i-cupon-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 40 de descuento por cada S/ 100 ] de compra en Ripley (2 cupones trimestrales).
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3.mt-sm-0
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 5px;" src='../img/svg/silver/i-membership-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3 Membresía #[strong gratis. ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/silver/i-restofans-sp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Restofans: Todos los jueves #[strong 50% de descuento ] en restaurantes seleccionados.
        .col-md-6.col-12
            .row.mt-3.ml-1.ml-sm-1.ml-md-3
                .col-11.px-0.px-md-1.px-lg-2
                    .row
                        .col-12
                            p.gold.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.mt-lg-3 Categoría Gold Prime
                        .col-12
                            hr.my-2
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/gold/i-delivery-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 199 ] con el código: #[strong DespachoGP ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 4px;" src='../img/svg/gold/i-hourglass-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Vigencia de RipleyPuntos Go por #[strong 24 meses. ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 3px;" src='../img/svg/gold/i-gift-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x3 ] por compras en Ripley.
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/gold/i-cupon-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 50 de descuento por cada S/ 100 ] de compra en Ripley (2 cupones trimestrales).
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(style="padding-left: 5px;" src='../img/svg/gold/i-membership-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3 Membresía #[strong gratis. ]
                    .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                        .col-1.mx-0.px-0.mt-2
                            img.fixmargenResponsive(src='../img/svg/gold/i-restofans-gp.svg')
                        .col-11.pl-3.pl-md-2.pl-lg-0
                            p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Restofans: Todos los jueves #[strong 50% de descuento ] en restaurantes seleccionados.
    .row.d-sm-none
        .col-md-6.col-12
            .row.mt-3.ml-1.ml-sm-1.ml-md-3
                .col-12.px-0.px-md-1.px-lg-2
                    .row
                        a.col-6(style="text-decoration: none; cursor: pointer;" onclick="return mostrarSilver()")
                            .col-12
                                p.grey5.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.text-center Silver Prime
                            .col-12
                                hr#markerGrey.my-2.hr-rpg-grey
                        a.col-6(style="text-decoration: none; cursor: pointer;" onclick="return mostrarGold()")
                            .col-12
                                p.gold.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.text-center Gold Prime
                            .col-12
                                hr#markerGold.my-2.hr-rpg-gold
                .row.contentPageBeneficioCategoria
                    .col-12.px-2#seccionSilver
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/silver/i-delivery-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 299 ] con el código: #[strong DespachoSP ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 4px;" src='../img/svg/silver/i-hourglass-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Vigencia de RipleyPuntos Go por #[strong 12 meses. ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 3px;" src='../img/svg/silver/i-gift-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x2 ] por compras en Ripley.
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/silver/i-cupon-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 40 de descuento por cada S/ 100 ] de compra en Ripley (2 cupones trimestrales).
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3.mt-sm-0
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 5px;" src='../img/svg/silver/i-membership-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3 Membresía #[strong gratis. ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/silver/i-restofans-sp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Restofans: Todos los jueves #[strong 50% de descuento ] en restaurantes seleccionados.
                    
                    
                    .col-12.px-2#seccionGold(style="position: absolute;margin-left:100%;display:none;")
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/gold/i-delivery-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 199 ] con el código: #[strong DespachoGP ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 4px;" src='../img/svg/gold/i-hourglass-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Vigencia de RipleyPuntos Go por #[strong 24 meses. ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 3px;" src='../img/svg/gold/i-gift-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x3 ] por compras en Ripley.
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/gold/i-cupon-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 50 de descuento por cada S/ 100 ] de compra en Ripley (2 cupones trimestrales).
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3.mt-sm-0
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(style="padding-left: 5px;" src='../img/svg/gold/i-membership-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3 Membresía #[strong gratis. ]
                        .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-3
                            .col-1.mx-0.px-0.mt-2
                                img.fixmargenResponsive(src='../img/svg/gold/i-restofans-gp.svg')
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-2 Restofans: Todos los jueves #[strong 50% de descuento ] en restaurantes seleccionados.
                    
    
    br
    br