.container#sectionBeneCategorias
    .row    
        .col-12
            h2.titleBen_Categ.purpleDark3.mx-4.pt-3.mt-5.t3.text-center.semiBold Beneficios de Gold Prime y Silver Prime
            p.subtitleBen_Categ.grey.s4.mt-4.text-center.medium Beneficios solo con Tarjeta Ripley
            br
    .row
        .col-12.d-none.d-md-block
            .boxBeneficioCategoria(style="height: 302px;")
                .row
                    .col-12
                        .boxtitleCategorias
                            h2.tituloitemCategoria.mt-4(style="color:#737373;") <img src='img/svg/i-star-silver-categoria.svg'> Silver Prime <span class="tituloitemCategoria ml-5 pl-4" style="color:#F8C21C !important;margin-left: 110px !important;"><img src='img/svg/i-star-gold-categoria.svg'> Gold Prime </span>
                            hr.my-2.hr-rpg-grey.lineacategoriabeneficios
                .row
                    .col-4
                        .boxItemCategoriaBeneficio(style="margin-top: 40px;")
                            img(src="img/svg/i-despacho-gratis.svg")
                            p.bold.purple3.t3.text-center.titleitemLeftBeneCat Despacho gratis
                            p.s7.grey.medium.text-center.itemLeftBeneCat (Solo Lima)
                            p.mt-3
                                a.s1.purple4.semiBold.text-center(href="pdf/despacho-gratis-ripley-puntos-go.pdf" target="_blank") <u>Ver guía de despacho</u>
                    .col-4
                        .boxItemCategoriaBeneficio2Col(style="margin-top: 20px;")
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat Por compras en Ripley.com.pe desde
                            p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat S/ 299
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -50px;margin-right: -50px;") Con el código <span class="s7 bold purpleDark3 medium text-center item2colBeneCat">DespachoSP</span>
                    .col-4
                        .boxItemCategoriaBeneficio2Col(style="margin-top: 20px;")
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat Por compras en Ripley.com.pe desde
                            p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat S/ 199
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -50px;margin-right: -50px;") Con el código <span class="s7 bold purpleDark3 medium text-center item2colBeneCat">DespachoGP</span>
                .row
                    .col-8.offset-4(style="margin-top:-23px;")
                        row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: 75px;") Registro en Ripley.com.pe 48 horas antes de realizar la compra.
            .boxBeneficioCategoria.fixAltoBoxBeneficios
                .row
                    .col-4
                        .boxItemCategoriaBeneficio(style="margin-top: 40px;")
                            img(src="img/svg/i-vigencia-puntos-disponibles.svg")
                            p.bold.purple3.t3.text-center.titleitemLeftBeneCat(style="margin-left: -10px;margin-right: -10px;") Mayor vigencia de RipleyPuntos Go
                    .col-4.mt-4.pt-4
                        .boxItemCategoriaBeneficio2Col
                            img(src="img/svg/i-calendario-12-meses.svg")
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="margin-top: 10px;") meses
                    .col-4.mt-4.pt-4
                        .boxItemCategoriaBeneficio2Col
                            img(src="img/svg/i-calendario-24-meses.svg")
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="margin-top: 10px;") meses
            .boxBeneficioCategoria.fixAltoBoxBeneficios
                .row
                    .col-4
                        .boxItemCategoriaBeneficio(style="margin-top: 40px;")
                            img(src="img/svg/i-mes-de-cumple.svg")
                            p.bold.purple3.t3.text-center.titleitemLeftBeneCat(style="margin-left: -10px;margin-right: -10px;") Mes de cumpleaños
                    .col-4.mt-4
                        .boxItemCategoriaBeneficio2Col
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="margin-top: 10px;font-size: 16px;") Multiplica tus RipleyPuntos Go
                            img(src="img/svg/i-multiplica-puntos-x2.svg")
                            br
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -10px;margin-right: -10px;") Por compras en tienda Ripley y ripley.com
                    .col-4.mt-4
                        .boxItemCategoriaBeneficio2Col
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="margin-top: 10px;font-size: 16px;") Multiplica tus RipleyPuntos Go
                            img(src="img/svg/i-multiplica-puntos-x3.svg")
                            br
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -10px;margin-right: -10px;") Por compras en tienda Ripley y ripley.com
            .boxBeneficioCategoria.fixAltoBoxBeneficios
                //- .row
                //-     .col-12
                //-         .boxtitleCategorias
                //-             h2.tituloitemCategoria.mt-4(style="color:#737373;") <img src='img/svg/i-star-silver-categoria.svg'> Silver Prime <span class="tituloitemCategoria ml-5 pl-4" style="color:#F8C21C !important;margin-left: 110px !important;"><img src='img/svg/i-star-gold-categoria.svg'> Gold Prime </span>
                //-             hr.my-2.hr-rpg-grey.lineacategoriabeneficios
                .row
                    .col-4
                        .boxItemCategoriaBeneficio(style="margin-top: 30px;")
                            img(src="img/svg/i-cupones-categoria-beneficios.svg")
                            p.bold.purple3.t3.text-center.titleitemLeftBeneCat Cupones
                            row.s7.grey.medium.text-center.itemLeftBeneCat Vestuario, Calzado, Accesorios y Decohogar en Ripley
                    .col-4
                        .boxItemCategoriaBeneficio2Col(style="margin-top: 30px;")
                            p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat S/ 40
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat de descuento
                            row.s7.grey4.medium.text-center.item2colBeneCat Por cada S/ 100 de compra en Ripley<br>
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="line-height: 2.5em;") 2 cupones trimestrales
                    .col-4
                        .boxItemCategoriaBeneficio2Col(style="margin-top: 30px;")
                            p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat S/ 50
                            p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat de descuento
                            row.s7.grey4.medium.text-center.item2colBeneCat Por cada S/ 100 de compra en Ripley<br>
                            row.s7.grey4.medium.text-center.item2colBeneCat(style="line-height: 2.5em;") 2 cupones trimestrales
            //- .boxBeneficioCategoria.fixAltoBoxBeneficios
            //-     .row
            //-         .col-4
            //-             .boxItemCategoriaBeneficio(style="margin-top: 40px;")
            //-                 img(src="img/svg/i-restofans-beneficios-categoria.svg")
            //-         .col-8.mt-4
            //-             .boxItemCategoriaBeneficio1Col
            //-                 p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="font-weight: 600 !important;font-size: 26px;") Todos los jueves
            //-                 .row
            //-                     .col-6
            //-                         p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat(style="font-style: normal;font-weight: bold !important;font-size: 50px;margin-top: -15px;") 50% <span class="itemLeftBeneCat" style="font-style: normal;font-weight: 500;font-size: 13px;margin-left: -10px;">de descuento</span>
            //-                         p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="font-style: normal;font-weight: 600 !important;font-size: 17px;margin-bottom: 3px;") en restaurantes exclusivos
            //-                         row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -50px;margin-right: -50px;font-style: normal;font-weight: normal;font-size: 14px;") Descuento máximo S/ 150
            //-                     .col-6
            //-                         p.bold.purpleDark3.t3.text-center.titleitem2ColBeneCat(style="font-style: normal;font-weight: bold !important;font-size: 50px;margin-top: -15px;") 70% <span class="itemLeftBeneCat" style="font-style: normal;font-weight: 500;font-size: 13px;margin-left: -10px;">de descuento</span>
            //-                         p.bold.purpleDark3.t3.text-center.subtitleitemLeftBeneCat(style="font-style: normal;font-weight: 600 !important;font-size: 17px;margin-bottom: 3px;") en restaurantes exclusivos
            //-                         row.s7.grey4.medium.text-center.item2colBeneCat(style="margin-left: -50px;margin-right: -50px;font-style: normal;font-weight: normal;font-size: 14px;") Descuento máximo S/ 150
            .boxBeneficioCategoriaEnd
                .row
                    .col-4
                        img(src="img/ripley_puntos/star-beneficios-background.png")
                    .col-8.mt-4
                        .boxItemCategoriaBeneficio1ColYelloy
                            p.white.t3.text-center.subtitleitemLeftBeneCat(style="font-style: normal;font-weight: 500 !important;font-size: 26px;") Beneficio exclusivo para ambas categorías
                            p.bold.white.t3.text-center.titleitem2ColBeneCat(style="font-style: normal;font-weight: 600;font-size: 48px;line-height: 130%;") Membresía
                            p.bold.white.t3.text-center.titleitem2ColBeneCatYelloy(style="margin-top: -8px;") GRATIS
            .row(style="margin-top:25px;")
                img.mx-auto(src="img/ripley_puntos/banner_resto_bene.png" style="border-radius:8px;")
                a.fontFromRptoToWebPublica( href="https://www.bancoripley.com.pe/promociones/index.html" target="_blank") Ver promociones
            br
            br
    .row.d-md-none
        .col-md-6.col-12
            .row.mt-3.ml-1.ml-sm-1.ml-md-3
                .col-12.px-0.px-md-1.px-lg-2
                    .row(style="margin-left: -20px; !important").d-md-none
                        //-a#hrefmostrarSilverBeneficio.col-6(style="text-decoration: none; cursor: pointer;" onclick="return mostrarSilverBeneficio();")
                        a#hrefmostrarSilverBeneficio.col-6(style="text-decoration: none; cursor: pointer;" onclick="return mostrarSilverBeneficio(event);")
                            .col-12(style="min-width: 175px !important")
                                p.grey5.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.tabBeneficioCategoria <img class="imgTabBeneCat" src="img/svg/i-star-silver-categoria.svg"> Silver Prime
                            .col-12(style="min-width: 175px !important;max-width: 175px !important;margin-top: -5px; margin-left: -5px;")
                                hr#markerGreyBeneficio.my-2.hr-rpg-grey
                        a#hrefmostrarGoldBeneficio.col-6(style="text-decoration: none; cursor: pointer;margin-left: -10px;" onclick="return mostrarGoldBeneficio(event);")
                            .col-12(style="min-width: 175px !important")
                                p.gold.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.semiBold.tabBeneficioCategoria <img class="imgTabBeneCat" src="img/svg/i-star-gold-categoria.svg"> Gold Prime
                            .col-12(style="min-width: 170px !important;max-width: 170px !important;margin-top: -5px; margin-left: -5px;")
                                hr#markerGoldBeneficio.my-2.hr-rpg-gold
                    .row.contentPageBeneficioCategoria
                        .col-12.px-0.px-md-1.px-lg-2#seccionSilverBeneficio.divseccionSilverBeneficio
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2.mt-4.pt-3
                                    img(style="width: 68px;height: 44.2px;" src='../img/svg/i-despacho-gratis.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 299 ] con el código: #[strong DespachoSP ]
                                    p.text-center.mt-2.pl-5
                                        a.s1.purple4.semiBold(href="pdf/despacho-gratis-ripley-puntos-go.pdf" target="_blank") <u>Ver guía de despacho</u>
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4.pt-2
                                .col-1.mx-0.px-0.mt-3
                                    img(style="padding-left: 6px;" src='../img/svg/i-vigencia-puntos-disponibles.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Vigencia de RipleyPuntos Go por #[strong 12 meses. ]
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-4
                                    img(style="padding-left: 9px;" src='../img/svg/i-mes-de-cumple.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x2 ] por compras en tienda Ripley y ripley.com
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2
                                    img(style="padding-left: 15px;" src='../img/svg/i-membership-beneficio-categoria.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-4(style="font-style: normal;font-weight: 500;font-size: 17px;line-height: 21px;") Membresía #[strong gratis. ]
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2.mt-4.pt-3
                                    img(style="width: 67.76px;height: 56px;" src='../img/svg/i-cupones-categoria-beneficios.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 40 de descuento por cada S/ 100 ] de compra en Ripley <br>(2 cupones trimestrales).
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-4
                                    img(style="width: 54px;height: 71.16px;margin-left: 12px;" src='../img/svg/i-restofans-beneficios-categoria.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Restofans: Todos los jueves <br>#[strong 50% de descuento ] en <br>restaurantes seleccionados
                        .col-12.px-0.px-md-1.px-lg-2#seccionGoldBeneficio.divseccionGoldBeneficio(style="display:none;")
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2.mt-4.pt-3
                                    img(style="width: 68px;height: 44.2px;" src='../img/svg/i-despacho-gratis.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Despacho gratis (solo Lima), por compras en Ripley.com.pe #[strong desde S/ 199 ] con el código: #[strong DespachoGP ]
                                    p.text-center.mt-2.pl-5
                                        a.s1.purple4.semiBold(href="pdf/despacho-gratis-ripley-puntos-go.pdf" target="_blank") <u>Ver guía de despacho</u>
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4.pt-2
                                .col-1.mx-0.px-0.mt-3
                                    img(style="padding-left: 6px;" src='../img/svg/i-vigencia-puntos-disponibles.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Vigencia de RipleyPuntos Go por #[strong 24 meses. ]
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-4
                                    img(style="padding-left: 9px;" src='../img/svg/i-mes-de-cumple.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Mes de cumpleaños #[strong multiplica tus RipleyPuntos Go x3 ] por compras en tienda Ripley y ripley.com
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2
                                    img(style="padding-left: 15px;" src='../img/svg/i-membership-beneficio-categoria.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-4(style="font-style: normal;font-weight: 500;font-size: 17px;line-height: 21px;") Membresía #[strong gratis. ]
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-2.mt-4.pt-3
                                    img(style="width: 67.76px;height: 56px;" src='../img/svg/i-cupones-categoria-beneficios.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Cupón en Vestuario, Calzado, Accesorios y Decohogar. #[strong S/ 50 de descuento por cada S/ 100 ] de compra en Ripley <br>(2 cupones trimestrales).
                            .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0.mt-4
                                .col-1.mx-0.px-0.mt-4
                                    img(style="width: 54px;height: 71.16px;margin-left: 12px;" src='../img/svg/i-restofans-beneficios-categoria.svg')
                                .col-11.pl-3.pl-md-2.pl-lg-0
                                    p.grey4.s1.text-center.mt-4.ml-5(style="font-style: normal;font-weight: 500;font-size: 15px;line-height: 18px;") Restofans: Todos los jueves <br>#[strong 50% de descuento ] en <br>restaurantes seleccionados
.clearfix
.container 
    .row.anchoTerCondBenefCategoria.d-none.d-md-block   
        .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
            .row
                button.CondicionesdeBeneficios.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef" aria-expanded="true" aria-controls="acor1-cond_benef")
                    | Ver condiciones de beneficios <img src="img/svg/i-arrow-right-tcb.svg" >
                #acor1-cond_benef.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                    row
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96%, a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Membresía: ] Exoneración del costo de la membresía anual de tu tarjeta Ripley Mastercard para clientes Gold y Silver Prime. Aplica para clientes que hayan obtenido la categoría máximo 1 mes antes del cobro de la membresía. Los beneficios arriba indicados estarán vigentes hasta el 31 de julio del 2020. Mayor información de condiciones y/o tarifas de la tarjeta de crédito en www.bancoripley.com.pe y/o Agencias, o llamando al Ripleyfono 6115757.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Cupones en vestuario, calzado y accesorios y Decohogar: ] Válida durante la vigencia de la promoción y/o hasta agotar stock. Para acceder al beneficio el cliente deberá mostrar su DNI y realizar el pago con su Tarjeta Ripley. Válido en todas las Tiendas Ripley a nivel nacional. Podrás usar dos cupones en cada trimestre: 1er trimestre: del 15/02/2020 al 14/05/2020, 2do trimestre: del 15/05/2020 al 14/08/2020 y 3er trimestre: 15/08/20/20 al 15/11/2020.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Para clientes Gold Prime: ] Usa tu cupón de S/ 50 por cada S/ 100 de compra en VESTUARIO, CALZADO, ACCESORIO Y DECOHOGAR de marcas seleccionadas con tarjeta Ripley. Solo se usará un cupón por compra o transacción.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Para clientes Silver Prime: ] Usa tu cupón de S/ 40 por cada S/ 100 de compra en VESTUARIO, CALZADO, ACCESORIO Y DECOHOGAR de marcas seleccionadas con tarjeta Ripley. Solo se usará un cupón por compra o transacción.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de los cupones: ] Usa tu cupón en las siguientes marcas: ACCESORIOS: Index, Marquis, Aziz y Barbados; ROPA INTERIOR MUJER: Index, Aziz, Marquis, Cacharel y Tatienne; CALZADO: Index, Marquis, Harvest, Navigata, Brigitte Naux, Barbados, Cloudbreak, Kenneth Stevens, Aziz, Gotcha, Cacharel, Aerosoles, Earth; DEPORTE: Fila, Revup, Gotcha; HOMBRE: Kenneth Stevens, Index, Marquis, Navigata, Givenchy, Cloudbreak, Robert Lewis, Cacharel, Barbados, Pepe Jeans, Gotcha, Penguin, TST, Lost, Jack&Jones, La Dolfina, Izod, INFANTIL: Harvest, Baby Harvest, Cloudbreak, Index, Mothercare, Colloky, Pepe Jeans, Next, TST; MUJER: Index, Marquis, Aziz, Navigata, Brigitte Naux, Barbados, Cacharel, Pepe Jeans, Tatienne, Oasis, Tally Weijl, Esprit, Only; DECOHOGAR: solo la marca RIPLEY HOME de los departamentos: COCINA, REGALOS, COMPLEMENTOS DECO, MENAJE DE MESA, BAÑO, CAMA, DECORACIÓN. Aplica para productos seleccionados en tienda. No válido para productos AON. Aplican restricciones. Los descuentos aplican sobre precio regular. No es válido con otras promociones y/o cupones. Stock mínimo 3 unidades por producto.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Despacho gratis en Ripley.com.pe: ] Despacho válido únicamente para Lima y callao. Válido para clientes Gold Prime, que tengan compras superiores a S/ 199.00 pagando con Tarjeta Ripley. Para hacer efectivo el beneficio el cliente deberá registrarse en Ripley.com máximo 48 horas antes de realizarse la compra, loguearse en ripley.com, agregar los productos a su bolsa de compras, ingresar el cupón: DESPACHOGP, elegir la opción “despacho a domicilio” y elegir como medio de pago la Tarjeta Ripley. Promoción válida solo para compras web en Ripley.com. El uso del cupón está limitado a 4 veces por mes. Para clientes Silver Prime, que tengan compras superiores a S/ 299.00 pagando con Tarjeta Ripley en todas las categorías. Para hacer efectivo el beneficio el cliente deberá registrarse en Ripley.com máximo 48 horas antes de realizarse la compra, loguearse en ripley.com, agregar los productos a su bolsa de compra, elegir la opción “despacho a domicilio”, ingresar el cupón: DESPACHOSP y elegir como medio de pago la Tarjeta Ripley. Promoción válida solo para compras web en Ripley.com. El uso del cupón está limitado a 4 veces por mes. Beneficio no aplica en compras de productos en mercado Ripley.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Vencimiento de RipleyPuntos Go: ] Para clientes Gold Prime los puntos estarán vigentes 24 meses desde su generación, para lo cual la tarjeta deberá estar activa. Para los clientes Silver Prime la vigencia es de 12 meses. Beneficio no retroactivo.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Cumpleaños: ] Multiplica x3 en todas tus compras en el mes de tu Cumpleaños si eres categoría Gold Prime y x2 si eres categoría Silver Prime: Aplica para compras con Tarjeta Ripley realizadas en Tiendas Ripley  y Ripley.com.pe en el mes del cumpleaños del titular de la tarjeta. Los puntos ganados por las compras (x1) se abonarán de forma regular, el bono de puntos (x1 Silver Prime / x2 Gold Prime) será abonados hasta el ultimo día del subsiguiente mes de realizados los consumos o compras y se visualizarán en el subsiguiente estado de cuenta. <br>*Bono máximo a abonar : 5000 RipleyPuntos.
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Descuento Restofans: ] Promoción válida durante la vigencia de la promoción pagando con Tarjeta de crédito Ripley MasterCard emitidas en Perú. Por la alta demanda el cliente puede solicitar su pedido los días miércoles previos a los jueves de Restofans. Válido 1 dscto por cliente, 1 dscto por tarjeta y 1 dscto por jueves. Las nuevas tarjetas emitidas podrán usar el beneficio a partir del sexto día de su adquisición. El cliente debe solicitar su pedido vía teléfono solicitando el servicio delivery o para llevar al restaurante de su preferencia. Indispensable presentar o dictar el DNI para validar que sea participante de la campaña. Descuento máximo por pedido S/ 150. El descuento no incluye costo del delivery. El costo del delivery y horarios de reparto están sujetos a disposición de cada restaurante. Se restringirán las solicitudes de pedidos, cuando se alcance el stock máximo de cada restaurante. Imágenes Referenciales. Horarios Referenciales. No válido para las Tarjetas Ripley que inician con la siguiente numeración: 960430 y 960410. No aplica para tarjetas con límite de uso en establecimientos afiliados a MasterCard. Promociones no acumulables con descuentos, vales, cupones y/o promociones vigentes en el establecimiento. No válido para tarjetas adicionales. No participan clientes con tarjetas y cuentas Ripley refinanciadas, con mora (máximo 5 días) o con problemas crediticios. Imágenes referenciales. Banco Ripley, a través de la Tarjeta Ripley, actúa como medio de pago por lo que no será responsable por la calidad ni la idoneidad de los productos y/o servicios ofrecidos por los establecimientos.
                        br
    .row.d-md-none.mt-5.mb-3
        row(style="margin: auto;")
            a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalTerminosBeneficios") <img src="img/svg/i-viewdoc-find.svg" > Ver condiciones de beneficios 
        br
    br    
