mixin tab-canje-promocion(nameTab,active, txt,dispositivo)
    if active == true
        if (dispositivo=='movil')
            a.nav-item.nav-link.nav-linkDesktop1.nav-linkMovil(id='nav-' + nameTab + '-tab' class='active show' data-toggle="tab" href='#nav-' + nameTab role="tab" aria-controls='nav-' + nameTab aria-selected="true")=txt
        else
            a.nav-item.nav-link.nav-linkDesktop1.nav-linkDesktop(id='nav-' + nameTab + '-tab' class='active show' data-toggle="tab" href='#nav-' + nameTab role="tab" aria-controls='nav-' + nameTab aria-selected="true")=txt
    else
        if (dispositivo=='movil')
            a.nav-item.nav-link.nav-linkDesktop1.nav-linkMovil(id='nav-' + nameTab + '-tab' data-toggle="tab" href='#nav-' + nameTab role="tab" aria-controls='nav-' + nameTab aria-selected="false")=txt
        else
            a.nav-item.nav-link.nav-linkDesktop1.nav-linkDesktop(id='nav-' + nameTab + '-tab' data-toggle="tab" href='#nav-' + nameTab role="tab" aria-controls='nav-' + nameTab aria-selected="false")=txt

mixin item-Gifs-Cards(title,PromoPrice, imgsrc,imgPromo,txtante)
    .boxCanjePromoContainer.mt-4.pt-2.ml-4.pl-3(data-titleGitCard=title,data-priceGiftCars=PromoPrice)
        p.s8.ptitleBoxCanjePromo
            | Gift Card de 
            span.s8.purple4.bold=title 
            |   por
        p.titleBoxCanjePromoPrice=PromoPrice
        img.imgLogoCanjePromo(src=imgsrc)
        img.imgTarjetaCanjePromo(src=rutaImgGC+imgPromo).d-none.d-md-block
        img.imgTarjetaCanjePromo(src=rutaImgGC+'xs-'+imgPromo).d-md-none
        p.s6.grey4.subtitleBoxCanjePromo
            | Antes: 
            span.s6.grey4.subtitleBoxCanjePromo(style="text-decoration:line-through;")=txtante 

mixin item-especial-experiencia(imgBack,pricecurrent,priceante,titlebottom,subtitlebottom)
    .col-12.col-lg-4.col-md-6.mt-4.mt-responsiveCP2
        .boxContainerExpeSuper.mt-2(data-titleExperiencia=titlebottom,data-subtitleExperiencia=subtitlebottom,data-priceCurrentExperiencia=pricecurrent)
            .boxContainerExpeSuperTop.pl-3(style='background: url("'+rutaImgE+imgBack+'") center center no-repeat;background-size: cover;').d-none.d-md-block
                .boxContainerExpeSuperTopChild
                    p.t2.text-center.FontboxContainerExpeSuperTopChild=pricecurrent
                    img(style="margin-top: -5px;" src=rutaImgSVG+imgLogoWhite)
                    p.t2.text-center.FontboxContainerExpeSuperBottomChild
                        | Antes: 
                        span.FontboxContainerExpeSuperBottomChild(style="text-decoration:line-through;")=priceante
            .boxContainerExpeSuperTop.pl-3(style='background: url("'+rutaImgE+'xs-'+imgBack+'") center center no-repeat;background-size: cover;').d-md-none
                .boxContainerExpeSuperTopChild
                    p.t2.text-center.FontboxContainerExpeSuperTopChild=pricecurrent
                    img(style="margin-top: -5px;" src=rutaImgSVG+imgLogoWhite)
                    p.t2.text-center.FontboxContainerExpeSuperBottomChild 
                        | Antes: 
                        span.FontboxContainerExpeSuperBottomChild(style="text-decoration:line-through;")=priceante
            .boxContainerExpeSuperBottom.pl-4.pt-1.pr-5
                p.s9.semiBold.purpleDark3.titleboxExpeSuper.py-2=titlebottom
                p.s7.purpleDark3.py-0(style="height: 38px;line-height: 16px;")=subtitlebottom

mixin item-especial-supercanje(imgBack,pricecurrent,priceother,priceante,titlebottom,subtitlebottom)
    .col-12.col-lg-4.col-md-6.mt-4.mt-responsiveCP2
        .boxContainerExpeSuper.mt-2(data-titleCanje=titlebottom,data-subtitlCanje=subtitlebottom,data-priceCurrentCanje=pricecurrent)
            .boxContainerExpeSuperTop.pl-3(style='background: url("'+rutaImgS+imgBack+'") center center no-repeat;background-size: cover;').d-none.d-md-block
                .boxContainerExpeSuperTopChildSC
                    p.t2.text-center.FontboxContainerExpeSuperTopChild=pricecurrent
                    img(style="margin-top: -5px;" src=rutaImgSVG+imgLogoWhite_min)
                    p.t2.text-center.FontboxContainerExpeSuperTopChildSC=priceother
                    p.t2.text-center.FontboxContainerExpeSuperBottomChild
                        | Antes: 
                        span.FontboxContainerExpeSuperBottomChild(style="text-decoration:line-through;")=priceante
            .boxContainerExpeSuperTop.pl-3(style='background: url("'+rutaImgS+'xs-'+imgBack+'") center center no-repeat;background-size: cover;').d-md-none
                .boxContainerExpeSuperTopChildSC
                    p.t2.text-center.FontboxContainerExpeSuperTopChild=pricecurrent
                    img(style="margin-top: -5px;" src=rutaImgSVG+imgLogoWhite_min)
                    p.t2.text-center.FontboxContainerExpeSuperTopChildSC=priceother
                    p.t2.text-center.FontboxContainerExpeSuperBottomChild 
                        | Antes: 
                        span.FontboxContainerExpeSuperBottomChild(style="text-decoration:line-through;")=priceante
            .boxContainerExpeSuperBottom.pl-4.pt-1.pr-5
                p.s9.semiBold.purpleDark3.titleboxExpeSuper.py-2=titlebottom
                p.s7.purpleDark3.py-0(style="height: 38px;line-height: 16px;")=subtitlebottom


mixin item-promocio-triplica(imgBack,pt_tipoPromotion, tittlePromotion)
    .col-12.col-lg-4.col-md-6.mt-4.mt-responsiveCP2
        .boxContainerExpeSuper.mt-2(style="margin-bottom: 75px;" )
            .boxContainerPromoTriplica.pl-3(style='background: url("'+rutaImgGC+imgBack+'") center center no-repeat;background-size: cover;').d-none.d-md-block
            .boxContainerPromoTriplica.pl-3(style='background: url("'+rutaImgGC+'xs-'+imgBack+'") center center no-repeat;background-size: cover;').d-md-none
            .boxContainerPromotionTriplicaBottom.pl-4.pt-1.pr-5
                a.btnRed.ml-3.mt-3(href="promociones.html?t="+pt_tipoPromotion, data-titleTriplicaPromotion=textoHeader,data-tipoTriplicaPromotion=pt_tipoPromotion,data-tittleTriplicaPromotion=tittlePromotion) ¡Inscríbete aquí! 
                //- p.s9.semiBold.purpleDark3.titleboxExpeSuper.py-2=titlebottom
                //- p.s7.purpleDark3.py-0(style="height: 38px;line-height: 16px;")=subtitlebottom
            


//var gift cards
- var titles = [title1,title2,title3,title4];
- var PromoPrices = [PromoPrice1,PromoPrice2,PromoPrice3,PromoPrice4];
- var imgsrcs = [imgsrc1,imgsrc2,imgsrc3,imgsrc4];
- var imgPromos = [imgPromo1,imgPromo2,imgPromo3,imgPromo4];
- var txtantes = [txtante1,txtante2,txtante3,txtante4];

//var experiencas
- var numEspecialesExperiencias = '1';

- var imgBacks = [imgBack1,imgBack2,imgBack3];
- var pricecurrents = [pricecurrent1,pricecurrent2,pricecurrent3];
- var priceantes = [priceante1,priceante2,priceante3];
- var titlebottoms = [titlebottom1,titlebottom2,titlebottom3];
- var subtitlebottoms = [subtitlebottom1,subtitlebottom2,subtitlebottom3];

//var super canjes
- var numEspecialesSuperCanjes = '3';

- var sc_imgBacks = [sc_imgBack1,sc_imgBack2,sc_imgBack3];
- var sc_pricecurrents = [sc_pricecurrent1,sc_pricecurrent2,sc_pricecurrent3];
- var sc_priceantes = [sc_priceante1,sc_priceante2,sc_priceante3];
- var sc_priceothers = [sc_priceother1,sc_priceother2,sc_priceother3];
- var sc_titlebottoms = [sc_titlebottom1,sc_titlebottom2,sc_titlebottom3];
- var sc_subtitlebottoms = [sc_subtitlebottom1,sc_subtitlebottom2,sc_subtitlebottom3];

//var multiplica
- var numMultiplica = '3';

- var pt_imgBacks = [pt_imgBack1,pt_imgBack2,pt_imgBack3];
- var pt_tipoPromotion = [pt_tipoPromotion1,pt_tipoPromotion2,pt_tipoPromotion3];
- var pt_tituloPromotion = [pt_titulopromotion1,pt_titulopromotion2,pt_titulopromotion3]

section.contenedorCanjePromocion#sectionCanjes
    .container
        .row
            .col-12.mt-5
                h1.t1.purpleDark3.bold.text-center.tituloPromociones_rpgo Canjes <br>
                .row.mt-4(style="height: 20px;margin-bottom: -40px;")
                    p.s1.semiBold.grey4.mt-1(style="margin: auto; display: none;" id="pSuperCanjeOnly") Solo si tienes Tarjeta Ripley
                .clearfix
        .row
            .col-12.pageDetails_CanjePromocion
                .row
                    .container
                        .row
                            nav.col-12
                                .nav.nav-tabs#nav-tab(role="tablist").d-sm-none
                                    #slide-tabCanjePromo(style="text-align: center;").col-12.carousel.slider.slide.slide-descuentos
                                        .carousel-inner(style="height: 50px;" id="nav-top-carrousel")
                                            .carousel-item.active
                                                +tab-canje-promocion('giftcards',true,'Gift Cards','movil')
                                                //- +tab-canje-promocion('multiplica',' ','Multiplica','movil')
                                                +tab-canje-promocion('experiencias',' ','Experiencias','movil')
                                            .carousel-item(id="nav-movil-supercanje")
                                                //- +tab-canje-promocion('experiencias',' ','Experiencias','movil')
                                                +tab-canje-promocion('supercanjes',' ','Súper Canjes','movil')
                                a.carousel-control-prev.d-sm-none(style="height: 0px;margin-top: -15px;" href="#slide-tabCanjePromo" role="button" data-slide="prev") 
                                    .divImgLinkControlCarousel
                                        img(src="img/svg/i-prev-flecha.svg")
                                a.carousel-control-next.d-sm-none(style="height: 0px;margin-top: -15px;" href="#slide-tabCanjePromo" role="button" data-slide="next") 
                                    .divImgLinkControlCarousel
                                        img(src="img/svg/i-next-flecha.svg")
                          
                                .row
                                    .col-12.text-center
                                        .centertabPage.d-none.d-sm-inline-block
                                            .nav.nav-tabs#nav-tab(role="tablist")
                                                +tab-canje-promocion('giftcards',true,'Gift Cards','desktop')
                                                //- +tab-canje-promocion('multiplica',' ','Multiplica','desktop')
                                                +tab-canje-promocion('experiencias',' ','Experiencias','desktop')
                                                +tab-canje-promocion('supercanjes',' ','Súper Canjes','desktop')
                                .col-12.tab-content#nav-tabContentCanjePromocion
                                    .row.tab-pane.fade.cont_cards.show.active( id='nav-giftcards'  role="tabpanel" aria-labelledby='nav-giftcards-tab')
                                        .col-12
                                            .container
                                                .row
                                                    .col-12.mt-4
                                                        p.s5.text-center.blue1 #[strong Canjea ] tus RipleyPuntos Go por #[strong Gift Cards ] en Agencias de Banco Ripley.
                                                .row
                                                    .col-12.col-lg-6.col-md-12.mt-4.pt-3
                                                        .boxCanjePromo.fixIzquierdaMargenCanjePromo
                                                            +item-Gifs-Cards(titles[0],PromoPrices[0],imgsrcs[0],imgPromos[0],txtantes[0])
                                                    .col-12.col-lg-6.col-md-12.mt-4.pt-3
                                                        .boxCanjePromo.fixDerechaMargenCanjePromo
                                                            +item-Gifs-Cards(titles[1],PromoPrices[1],imgsrcs[1],imgPromos[1],txtantes[1])
                                                    .col-12.col-lg-6.col-md-12.mt-4.pt-3
                                                        .boxCanjePromo.fixIzquierdaMargenCanjePromo
                                                            +item-Gifs-Cards(titles[2],PromoPrices[2],imgsrcs[2],imgPromos[2],txtantes[2])
                                                    .col-12.col-lg-6.col-md-12.mt-4.pt-3
                                                        .boxCanjePromo.fixDerechaMargenCanjePromo
                                                            +item-Gifs-Cards(titles[3],PromoPrices[3],imgsrcs[3],imgPromos[3],txtantes[3])
                                                .row.anchoTerCondBenefPromociones.mt-5.d-none.d-md-block
                                                    .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
                                                        .row
                                                            button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                                                                | Ver condiciones <img src="img/svg/i-arrow-right-tcb.svg" >
                                                            #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                                                                row
                                                                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                                                                    br
                                                                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de los giftcards: ] Válido hasta el 31 de Julio del 2020 y/o hasta agotar stock. Canje exclusivo en agencias de Banco Ripley. Stock total de la campaña: Giftcard de S/ 140: 200 unidades, Giftcard de S/ 600: 100 unidades. Giftcard de S/ 2000: 15 unidades y Giftcard de S/ 5000 : 15 unidades. No aplica para compras en Viajes Ripley, AON ni productos de concesiones ni consignaciones. No acumulable con otras promociones. El canje de las Gift Card deberá realizarse por la cantidad de puntos indicada en la comunicación. El monto de la tarjeta no es canjeable por dinero en efectivo. No se permite realizar devolución de esta Gift Card por RipleyPuntos Go. Solo se podrán canjear 01 Giftcard de cada denominación por cliente por mes. Las Gift Cards pueden ser canjeadas en las Agencias de Banco Ripley a nivel nacional. La Giftcard es del uso al portador, la perdida deterioro, robo, hurto, y uso no autorizado de la tarjeta, bajo cualquier circunstancia no admite orden de bloqueo o sustitución de tarjeta. Solo se aceptará una Giftcard por una transacción (no son acumulables). No acumulables con otras promociones de Banco Ripley.  Más información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias de Banco Ripley.
                                                                    br
                                                .row.d-md-none.mt-5.mb-3
                                                    row(style="margin: auto;")
                                                        a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalCondicionesGitfCards") <img src="img/svg/i-viewdoc-find.svg" > Ver condiciones
                                            br
                                            br

                                    //- .row.tab-pane.fade.cont_cards( id='nav-multiplica'  role="tabpanel" aria-labelledby='nav-multiplica-tab')
                                        .col-12
                                            .container
                                                .row
                                                    .col-12.mt-4
                                                        p.s5.text-center.blue1 #[strong Inscríbete y compra ] con tu #[strong Tarjeta Ripley ] para #[strong multiplicar ] tus RipleyPuntos Go.
                                                .row                                                    
                                                    //- .col-12.mt-4.pt-3
                                                    //-     .containerImgTriplicaCanjePromo
                                                    //-         img(src="img/canjes_promociones/triplicaFarmacia.png").d-none.d-md-block
                                                    //-         img(src="img/canjes_promociones/xs-imgTriplica.png").d-md-none
                                                    //-         br
                                                    //-         a.btnRed.ml-3.mt-5(href="promociones.html") Inscríbete aquí                                                            
                                                    .row.fixFilaContainer
                                                        - for (var i = 0; i < numMultiplica ; i++)
                                                            +item-promocio-triplica(pt_imgBacks[i],pt_tipoPromotion[i],pt_tituloPromotion[i])
                                                .row.anchoTerCondBenefPromociones.mt-5.d-none.d-md-block
                                                    .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
                                                        .row
                                                            button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                                                                | Texto Legal <img src="img/svg/i-arrow-right-tcb.svg" >
                                                            #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                                                                row
                                                                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 124.33% ] Calculada en base a cuotas de 12 meses, a un año de 360 días.
                                                                    br
                                                                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Ejemplo: ]  Por un consumo de S/ 1000, a una TEA de 96% ,pagará 12 cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente. Si mantuviera saldo de S/ 10 o más en su tarjeta de crédito, se le cargará S/ 7.90 a los clientes que a la fecha de aﬁliación sean mayores de 18 años a 69 años, 11 meses y 29 días, y S/ 15.00 mensual a los clientes que a la fecha de aﬁliación sean mayores a 69 años, 11 meses y 29 días y menores de 79 años, 11 meses y 29 días mensual por concepto de seguro de desgravamen. En caso corresponda, aplicará una comisión mensual por envío físico de estado de cuenta de S/ 9.90. En caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%)* Mayor información de condiciones y/o tarifas de la tarjeta de crédito en ww.bancoripley.com.pe y/o Agencias ubicadas dentro de las Tiendas Ripley.
                                                                    br
                                                                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de la promoción: ] Promoción válida del 01 al 31 de Octubre del 2019. Aplica para consumos realizados con Tarjeta Ripley en farmacias. No acumulables con otras promociones de Banco Ripley. *Bono máximo 5,000 Puntos por cliente. Los puntos ganados por las compras (x1) se abonarán de forma regular y están incluidos en el multiplica x3, el bono de puntos (x2) será abonado hasta el último día del mes siguiente de realizado el consumo y se visualizarán en el subsiguiente mes. Los bonos de puntos adicionales obtenidos en las campañas de acumulación no se consideran para pertenecer al segmento Gold o Silver. Los puntos obtenidos por los pagos de la tarjeta adicional suman al titular. Los puntos serán abonados en la tarjeta de crédito que realizó la compra. De existir decimales en el monto, la acumulación de puntos se redondeará al entero menor. El bono no está incluido dentro del límite de acumulación (1.2 veces su línea de crédito). No acumulables con otras promociones de Banco Ripley. Mayor información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias.
                                                                    br
                                                .row.d-md-none.mt-5.mb-3
                                                    row(style="margin: auto;")
                                                        a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalTerminosLegal") <img src="img/svg/i-viewdoc-find.svg" > Texto legal 
                                                    br
                                                br   

                                    .row.tab-pane.fade.cont_cards( id='nav-experiencias'  role="tabpanel" aria-labelledby='nav-experiencias-tab')
                                        .col-12
                                            .container.px-0
                                                .row.px-0
                                                    .col-12.col-md-6.mt-4.mb-5.mx-auto.py-3.px-0
                                                        .box_NoPromo.mx-4.px-4
                                                            p.mx-auto Pronto tendremos novedades para ti

                                            //- .container
                                            //-     .row
                                            //-         .col-12.mt-4
                                            //-             p.s5.text-center.blue1 #[strong Canjea ] tus RipleyPuntos Go por vales de #[strong Experiencias ] en Agencias de Banco Ripley.
                                            //-     //- .row.fixFilaContainer#divExperienciasLink
                                            //-     //-     .col-12.mt-4
                                            //-     //-         p.s8.bold.purpleC Canje Promocional
                                            //-     //-         hr.my-0.hr-rpg-greyC
                                            //-     //- .row.fixFilaContainer
                                            //-     //-     - for (var i = 0; i < numEspecialesExperiencias ; i++)
                                            //-     //-         +item-especial-experiencia(imgBacks[i],pricecurrents[i],priceantes[i],titlebottoms[i],subtitlebottoms[i])
                                            //-     .row.fixFilaContainer.mt-4
                                            //-         .col-12.mt-4
                                            //-             p.s8.bold.purpleC Experiencias
                                            //-             hr.my-0.hr-rpg-greyC
                                            //-     .row.fixFilaContainer#divExperiencias
                                
                                            //-     .row
                                            //-         .col-12.mt-5.pt-1
                                            //-             .contenedorPage#containerPaginationExperiencias

                                            //-     .row.anchoTerCondBenefPromociones.mt-2.d-none.d-md-block
                                            //-         .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
                                            //-             .row
                                            //-                 button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                                            //-                     | Ver condiciones <img src="img/svg/i-arrow-right-tcb.svg" >
                                            //-                 #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                                            //-                     row
                                            //-                         p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                                            //-                         br
                                            //-                         p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de canje de experiencias: ] Promoción vigente según la campaña y/o hasta agotar stock de la campaña. Los vales serán canjeados en las agencias de Banco Ripley a nivel nacional. Los vales presentan tiempo de vigencia, pasado el mismo si este no se ha usado, no se podrá extender la vigencia ni devolver los puntos. No acumulable con otras promociones de Banco Ripley. Mayor información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias de Banco Ripley.
                                            //-                         br
                                            //-     .row.d-md-none.mt-5.mb-3
                                            //-         row(style="margin: auto;")
                                            //-             a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalCondicionesExperiencias") <img src="img/svg/i-viewdoc-find.svg" > Ver condiciones
                                            //- br
                                            //- br
    
                                    .row.tab-pane.fade.cont_cards( id='nav-supercanjes'  role="tabpanel" aria-labelledby='nav-supercanjes-tab')
                                        .col-12
                                            .container.px-0
                                                .row.px-0
                                                    .col-12.col-md-6.mt-4.mb-5.mx-auto.py-3.px-0
                                                        .box_NoPromo.mx-4.px-4
                                                            p.mx-auto Pronto tendremos novedades para ti
                                                //- .row
                                                //-     .col-12.mt-4
                                                //-         p.s5.text-center.blue1 Canjea tus RipleyPuntos Go por estos #[strong Súper Canjes ] en Agencias de Banco Ripley para #[strong usarlos en Tiendas Ripley. ]
                                                //- .row.fixFilaContainer#divSuperCanjesLink
                                                //-     .col-12.mt-4
                                                //-         p.s8.bold.purpleC Destacados
                                                //-         hr.my-0.hr-rpg-greyC
                                                //- .row.fixFilaContainer
                                                //-     - for (var i = 0; i < numEspecialesSuperCanjes ; i++)
                                                //-         +item-especial-supercanje(sc_imgBacks[i],sc_pricecurrents[i],sc_priceothers[i],sc_priceantes[i],sc_titlebottoms[i],sc_subtitlebottoms[i])
                                                //- .row.fixFilaContainer.mt-4
                                                //-     .col-12.mt-4
                                                //-         p.s8.bold.purpleC Súper Canjes
                                                //-         hr.my-0.hr-rpg-greyC
                                                //- .row.fixFilaContainer#divSuperCanjes
                                                                                              
                                                //- .row
                                                //-     .col-12.mt-5.pt-1
                                                //-         #containerPaginationSuperCanjes
                                                //- .row.anchoTerCondBenefPromociones.mt-2.d-none.d-md-block
                                                //-     .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
                                                //-         .row
                                                //-             button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                                                //-                 | Ver condiciones <img src="img/svg/i-arrow-right-tcb.svg" >
                                                //-             #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                                                //-                 row
                                                //-                     p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                                                //-                     br
                                                //-                     p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de la promoción: ] Promoción válida del 03 al 31 de marzo del 2020 y/o hasta agotar stock. Stock mínimo: 2 unidades por producto por tienda. Exclusivo con Tarjeta Ripley. No válido para canjes en Tienda Virtual. Imágenes referenciales. No acumulables con otras promociones. Productos disponibles según stock de cada tienda, consultar disponibilidad con nuestros representantes de ventas. El monto a pagar en soles se realizará necesariamente con las Tarjetas Ripley. Válido sólo para consumo familiar (máx. 3 productos por cliente o tarjeta) CRYSTAL NOIR EDT 30 ML No disponible en Los Olivos, Chorrillos, Brasil, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Callao, Pucalpa; DF MIRACLE DE 30ML No disponible en Los Olivos, Arequipa, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Santa Anita, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa, Puruchuco; DF SEA ROSE EDT 30 ML No disponible en Los Olivos, Arequipa, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa,Puruchuco; EDT TOUS 30 ML 2013 No disponible en Chiclayo, Chimbote, Piura 2; Elizabeth Arden Frag New Red Door Edt 30 ml No disponible en Brasil, Cajamarca, Chimbote, Ica, Callao, Cayma, Pucalpa, Puruchuco; MADEMOISELLE AZZARO EDT 30 ML No disponible en Arequipa, Chiclayo, Chorrillos, Brasil, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Pucalpa, Puruchuco; NINA EDT 30ML REPACK 2016 No disponible en Santa Anita, Trujillo, Chimbote, Huancayo, Ica, Juliaca, Pucalpa; RALPH EDT VAPO30 ML No disponible en Chiclayo, Chorrillos, Santa Anita, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa, Puruchuco; DELINEADOR CEJAS FLINGO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS OMEGA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS SUCIO BLONDE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS TAUPE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco,Miraflores, San Borja, Callao; LABIAL MATE HIT No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE INSTIGADOR No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE NATURAL No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE OSCURO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE PELIGRO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE SE FELIZ No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Miraflores; LABIAL MATE SUBE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE VIBRA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE ALL FIRED UP No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE FLAT OUT FABULOUS No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE RELENTLSSLY No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA DE PESTANAS DIMENSION No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA DE PESTANAS MARRON No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Miraflores, Puruchuco; MASCARA PESTANA HAUTE AGUA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA PESTANAS MAC HAUTE & NAUGHTY MASC BLACK No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Jockey Plaza, Miraflores, San Borja.
                                                //-                     br
                                                //- .row.d-md-none.mt-5
                                                //-     row(style="margin: auto;")
                                                //-         a.CondicionesdeBeneficios(href="#" data-toggle="modal" data-target="#appModalCondicionesSuperCanjes") <img src="img/svg/i-viewdoc-find.svg" > Ver condiciones
                                                //- br