section.contenedorCategorias
    .container
        .row
            .col-12.mt-5.mb-5
                h1.t1.purpleDark3.bold.text-center.tituloCategoria_rpgo Categorías <br>
                .clearfix
        .row.mx-auto
            .col-12.col-md-6
                .divCategoriaLeft
                    .divItemCategoria
                        img(src='img/svg/i-star-silver-categoria_new.svg' style="padding-left: 150px;padding-top: 15px;")
                        p.t7.bold.white.itemmoneyCategoria.mb-1 5,000
                        p.white.t6.itemdescripcionmoneyCategoria Puntos categoría
                    .divItemCategoriaDescripcion.ml-1.mt-5
                        p.grey.t6 Acumula entre #[strong 5,000 y 10,999 ] puntos categoría por compras entre el #[strong 01 de enero ] y el #[strong 31 de diciembre ] de cada año.
            .col-12.col-md-6
                .divCategoriaRight
                    .divItemCategoria
                        img(src='img/svg/i-star-gold-categoria_new.svg' style="padding-left: 170px;padding-top: 17px;")
                        p.t7.bold.white.itemmoneyCategoria.mb-1(style="margin-top: -23px;") 11,000
                        p.white.t6.itemdescripcionmoneyCategoria Puntos categoría                  
                    .divItemCategoriaDescripcion.ml-1.mt-5
                        p.grey.t6 Acumula más de #[strong 11,000 ] puntos categoría por compras entre el #[strong 01 de enero ] y el #[strong 31 de diciembre ] de cada año.