section#secctionContenedorClientPrime.contenedorClientPrime.center-child.py-lg-4.py-3
    .container
        .row
            row.col-12.px-5.px-lg-0.col-md-6.center-child.link-product(href=urlTarjeta target=targetTarjeta)
                .col-md-11.offset-md-1.col-lg-7.offset-lg-5.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            h2.t1.purpleDark3.bold(style="color: #fff") Cliente Prime
                            p.subtitleBen_Categ.s1.mb-3(style="margin-top: -13px;text-align: left !important;")
                                <img src="../img/svg/i-ripley-gray.svg" style="margin: -1px 5px 0 0;"> Solo si tienes Tarjeta Ripley
                            p.t3.grey.mr-lg-5.mr-xs-0.medium Descubre si eres un cliente GOLD Prime o SILVER Prime.
                            if (!conoceMasPrograma)
                                a.d-none.d-sm-inline-block.decotation-cp.s4.purple3.mt-3.medium(href="clientes-prime.html") Conoce más del programa
            row.col-12.px-5.px-lg-0.col-md-6.center-child.link-product(href=urlPrestamo target=targetPrestamo onClick="")
                .col-md-11.col-lg-6.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            .row.mx-0.mt-2.mb-3
                                .col-4.px-0.py-1.boxSelected.boxDni
                                    p.text-center.textDni.textSelected.s1(onclick="selectedTypeDoc('01')") DNI
                                .col-8.px-0.py-1.boxCe
                                    p.text-center.textCe.textUnselected.s1( onclick="selectedTypeDoc('02')") Carné de Extranjería

                            p.grey4.s1.mt-2 Número de documento
                            input.col-12.s1.form-control.onlyNumbers#nroDocumento(type="text", name="nroDocumentoPrestamo", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                            .invalid-feedback#documento-message(style="text-align: left;")
                            br
                            //-button#btnEnviar.btn.btnConsultarPrime(type="button" href="segmentacion.html") Consultar
                            //- .form-recaptcha
                                //-PROD
                                //-.g-recaptcha#recaptcha(data-sitekey="6LeGtrYUAAAAAOhfCGPOb1ZWl-_HfnHoNngS5-U0", data-size = "invisible", data-callback="consultarOferta")
                                //-QA
                            .divReCaptcha
                                //- .g-recaptcha#recaptcha(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClient")
                                .g-recaptcha#recaptcha(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClient")
                            button#btnEnviar.btn.btnConsultarPrime(type="button") Consultar
                        .col-12.d-sm-none.mt-3.px-0
                            if (!conoceMasPrograma)
                                a.d-sm-none.t4.decotation-cp.purple3(href="clientes-prime.html") Conoce más del programa


