section#secctionContenedorClientPrimeCP.contenedorClientPrimeCanjePromo.center-child.py-lg-4.py-3
    .container
        .row.cssNoConsult.mb-5#RestulConsultNothing(style="display:none;")
            .col-12
                .row
                    .col-12
                        h1.s8.mt-4.semiBold.purpleDark3.mb-0.text-center.mb-3 ¡Hola!
                .row
                    .col-12
                        p.s1.grey4.text-center.mb-3(style="line-height: 17px;") Lamentablemente aún no tienes una Tarjeta Ripley.
                        p.s1.grey4.text-center.mb-2(style="line-height: 22px;") Si te #[strong afiliaste previamente ] al programa RipleyPuntos Go para acumular puntos sin tarjeta #[strong comunícate al Ripleyfono 01 611-5959 ] o acércate a una #[strong agencia de Banco Ripley ] para consultar tus RipleyPuntos Go.
                .row
                    .col-12.text-center
                        a.s1.purple4.cssInscribiteAqui( style="" href="registro-omp.html") O afíliate aquí
        .row.mb-5#RestulConsult(style="display:none;")
            .col-12.col-md-7
                .row
                    .col-12.col-title-segmento
                        h1.s8.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Felicidades, <span class="purpleDark3 semiBold s8" id="nombreCP">Amelia!</span>
                        p.t6.mt-2.medium.grey5.text-center Eres nuestro cliente  
                            span.s9.purple4.bold.catcliente#catclienteRIPLEY RIPLEY
                            span.s9.grey5.bold.catcliente#catclienteSILVER RIPLEY
                            span.s9.bold.catcliente#catclienteGOLD(style="color: #f8c21c !important") RIPLEY
                .row
                    .col-12.col-subtitle-segmento.d-none.d-md-block
                        p.s1.grey5 Acércate a cualquier agencia de Banco Ripley para realizar tus canjes.
            .col-12.col-md-5
                .col-12.box-puntos2.col-box-segmento
                    p.grey5.mx-3.mt-3.semiBold.t10.responsiveBoxCaja2 Tienes
                    p.purple4.mx-3.mt-0.semiBold.t7#puntajeTotalCP.responsiveBoxCaja2 4,100 
                    P.grey4.mx-3.mt-0.medium.t10.mb-3.responsiveBoxCaja RipleyPuntos Go disponibles al 30/09/2019.
            .row.d-md-none
                .row
                    .col-12
                        .divCentroFix
                            p.s1.grey5 Acércate a cualquier agencia de Banco Ripley para realizar tus canjes.
        //- quitar esta linea
        .row#firstConsult(style="display:none;") 
            row.col-12.px-5.px-lg-0.col-md-7.center-child.link-product(href=urlTarjeta target=targetTarjeta)
                .col-md-11.offset-md-1.col-lg-9.offset-lg-3.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2.mt-3
                        .col-12.center-child.px-0
                            p.S8.blue1.bold(style="font-size: 20px !important") Descubre cuántos RipleyPuntos Go tienes
                            p.s1.grey5.mr-lg-5.mr-xs-0.medium.mt-3.fixMargenResponsiveCP Recuerda que solo puedes canjear con tus RipleyPuntos Go.
            row.col-12.px-5.px-lg-0.col-md-5.center-child.link-product(href=urlPrestamo target=targetPrestamo onClick="")
                .col-md-11.col-lg-6.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            p.grey.mt-2.medium(style="font-size: 14px; color: #fff") DNI
                            input.col-12.s1.form-control.onlyNumbers#nroDocumentoCP(type="text", name="nroDocumentoPrestamo", placeholder="Número de DNI", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                            .invalid-feedback#documento-messageCP(style="text-align: left;")
                            br
                            .divReCaptcha
                                .g-recaptcha#recaptcha1(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClientCP")
                            button#btnEnviarCP.btn.btnConsultarPrimeCanjePromo(type="button") Consultar
        .row#secondConsult(style="display:none;")
            row.col-12
                .formConsultaCPLine
                    img(src="img/svg/line-cp.svg")
            row.col-12
                .formConsultaCP
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            p.S8.blue1.bold.fontDescubre(style="") Descubre tus RipleyPuntos Go
                            p.grey.mt-2.medium(style="font-size: 14px; color: #fff") DNI
                            input.col-12.s1.form-control.onlyNumbers#nroDocumentoCP2(type="text", name="nroDocumentoPrestamo", placeholder="Número de DNI", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                            .invalid-feedback#documento-messageCP2(style="text-align: left;")
                            br
                            .divReCaptcha
                                .g-recaptcha#recaptcha2(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClientCP")
                            button#btnEnviarCP2.btn.btnConsultarPrimeCanjePromo(style="margin-top: -5px;width: 160px;height: 35px;" type="button") Consultar
    


