- var classContenedor_beneficio = [bclassContenedor_beneficio1,classContenedor_beneficio2,classContenedor_beneficio3,classContenedor_beneficio4,classContenedor_beneficio5,classContenedor_beneficio6,classContenedor_beneficio7,classContenedor_beneficio8,classContenedor_beneficio9,classContenedor_beneficio10,classContenedor_beneficio11,classContenedor_beneficio12,classContenedor_beneficio13,classContenedor_beneficio14,classContenedor_beneficio15];
- var tab1_txtHeader = [btab1_txtHeader1,btab1_txtHeader2,btab1_txtHeader3,btab1_txtHeader4,btab1_txtHeader5,btab1_txtHeader6,btab1_txtHeader7,btab1_txtHeader8,btab1_txtHeader9,btab1_txtHeader10,btab1_txtHeader11,btab1_txtHeader12,btab1_txtHeader13,btab1_txtHeader14,btab1_txtHeader15];
//- var header_beneficio = [header_beneficio1,header_beneficio2,header_beneficio3,header_beneficio4,header_beneficio5,header_beneficio6,header_beneficio7,header_beneficio8,header_beneficio9,header_beneficio10,header_beneficio11,header_beneficio12,header_beneficio13,header_beneficio14,header_beneficio15];
- var tab1_imgLogo = [btab1_imgLogo1,btab1_imgLogo2,btab1_imgLogo3,btab1_imgLogo4,btab1_imgLogo5,btab1_imgLogo6,btab1_imgLogo7,btab1_imgLogo8,btab1_imgLogo9,btab1_imgLogo10,btab1_imgLogo11,btab1_imgLogo12,btab1_imgLogo13,btab1_imgLogo14,btab1_imgLogo15];
- var tab1_dctoCard = [btab1_dctoCard1,btab1_dctoCard2,btab1_dctoCard3,btab1_dctoCard4,btab1_dctoCard5,btab1_dctoCard6,btab1_dctoCard7,btab1_dctoCard8,btab1_dctoCard9,btab1_dctoCard10,btab1_dctoCard11,btab1_dctoCard12,btab1_dctoCard13,btab1_dctoCard14,btab1_dctoCard15];
- var tab1_detalleDctoCard = [btab1_detalleDctoCard1,btab1_detalleDctoCard2,btab1_detalleDctoCard3,btab1_detalleDctoCard4,btab1_detalleDctoCard5,btab1_detalleDctoCard6,btab1_detalleDctoCard7,btab1_detalleDctoCard8,btab1_detalleDctoCard9,btab1_detalleDctoCard10,btab1_detalleDctoCard11,btab1_detalleDctoCard12,btab1_detalleDctoCard13,btab1_detalleDctoCard14,btab1_detalleDctoCard15];
- var tab1_cardLink = [btab1_cardLink1,btab1_cardLink2,btab1_cardLink3,btab1_cardLink4,btab1_cardLink5,btab1_cardLink6,btab1_cardLink7,btab1_cardLink8,btab1_cardLink9,btab1_cardLink10,btab1_cardLink11,btab1_cardLink12,btab1_cardLink13,btab1_cardLink14,btab1_cardLink15];
- var typeBox = [btypeBox1,btypeBox2,btypeBox3,btypeBox4,btypeBox5,btypeBox6,btypeBox7,btypeBox8,btypeBox9,btypeBox10,btypeBox11,btypeBox12,btypeBox13,btypeBox14,btypeBox15];
- var numBoxDescuento = '8';

- var tab1_condicionDctoCard = [btab1_condicionDctoCard1,btab1_condicionDctoCard2,btab1_condicionDctoCard3,btab1_condicionDctoCard4,btab1_condicionDctoCard5,btab1_condicionDctoCard6,btab1_condicionDctoCard7,btab1_condicionDctoCard8,btab1_condicionDctoCard9,btab1_condicionDctoCard10,btab1_condicionDctoCard11,btab1_condicionDctoCard12,btab1_condicionDctoCard13,btab1_condicionDctoCard14,btab1_condicionDctoCard15];
- var tab1_classEnlace = [btab1_classEnlace1,btab1_classEnlace2,btab1_classEnlace3,btab1_classEnlace4,btab1_classEnlace5,btab1_classEnlace6,btab1_classEnlace7,btab1_classEnlace8,btab1_classEnlace9,btab1_classEnlace10,btab1_classEnlace11,btab1_classEnlace12,btab1_classEnlace13,btab1_classEnlace14,btab1_classEnlace15];

mixin boxDescuento(active,textoHeader,imgDescuento,textoDescuento,textoDescuentoEn,linkDescuento,typeBox, condicionDescuento, classEnlace)
    li.col-lg.col-md-3(class=active)
        if typeBox == 'blue'
            .contenedor_boxConsultar.boxBlue
                .box-consultar__contenido.d-flex.flex-column.align-items-center.mt-2
                    img(src='img/svg/'+imgDescuento alt!=textoHeader + ' - Banco Ripley Perú').lazy
                    p.medium.mt-1.mx-1.grey.s6.text-center!=textoDescuento
        else if typeBox == 'purpleDark'
            .contenedor_boxConsultar.boxPurple
                .box-consultar__contenido.d-flex.flex-column.align-items-center.mt-2
                    img(src='img/svg/' + imgDescuento alt=textoHeader + ' - Banco Ripley Perú').lazy
                    p.medium.mt-1.mx-1.grey.s6.text-center!=textoDescuento
        else
            .contenedor_boxConsultar
                .box-consultar__contenido.d-flex.flex-column.align-items-center.mt-2
                    img(src='img/svg/' + imgDescuento alt=textoHeader + ' - Banco Ripley Perú').lazy
                    p.medium.mt-1.mx-1.grey.s6.text-center!=textoDescuento

section.container-fluid.cont-consultar.lazy
    .container
        .row.px-3.px-sm-2
            .contenido-consultar.px-0.px-md-4
                .col-12.mt-3.mt-lg-5.mx-md-4
                    h2.semiBold.textAlign.t7.purpleDark3 ¿Dónde consultar<span class="bold t7 purpleDark3"> tus puntos?</span> <br>
                    p.grey.s4.mt-lg-4 Te brindamos múltiples opciones para saber cuántos puntos tienes:
                    br
                .clearfix

                #slide-dsctob(data-ride="carousel").col-12.carousel.slider.slide.slide-descuentos.d-sm-none
                    ul.carousel-inner
                        - for (var i = 0; i < numBoxDescuento ; i++)
                            if tab1_txtHeader[i]
                                +boxDescuento('carousel-item '+classContenedor_beneficio[i],tab1_txtHeader[i],tab1_imgLogo[i],tab1_dctoCard[i],tab1_detalleDctoCard[i],tab1_cardLink[i],typeBox[i],tab1_condicionDctoCard[i],tab1_classEnlace[i])
                    a.carousel-control-prev.js_prev.prev(href="#slide-dsctob" role="button" data-slide="prev")
                    a.carousel-control-next.js_next.next(href="#slide-dsctob" role="button" data-slide="next")

                .col-12.slide-descuentos.d-none.d-sm-inline-block
                    .frame-descuentos
                        ul.descuentos.row.mx-md-4
                            - for (var i = 0; i < numBoxDescuento ; i++)
                                if tab1_txtHeader[i]
                                    +boxDescuento(classContenedor_beneficio[i],tab1_txtHeader[i],tab1_imgLogo[i],tab1_dctoCard[i],tab1_detalleDctoCard[i],tab1_cardLink[i],typeBox[i],tab1_condicionDctoCard[i],tab1_classEnlace[i])
                    a(href="javascript:;").js_prev.prev.d-sm-none
                    a(href="javascript:;").js_next.next.d-sm-none