section.cont-footer-new0.lazy.mt-5(style="margin-top: 0px !important;")
    .row(style="margin-right: 0px;margin-left: 0px;")
        .col-12.text-center.styleFooterLineOne
            a.purple4.footerVerReglamento(href="../pdf/reglamento-ripley-puntos-go.pdf" target="_blank") Ver aquí el reglamento del programa RipleyPuntos Go
.clearfix
section.cont-footer-new.lazy.mt-3(style="margin-top: 0px !important;")
    .col-12
        .container
            .row
                .col-12.d-sm-none
                    ul.carousel-inner
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-smartphone.svg")
                                    p.medium.grey2.s1.text-center Descarga nuestra App
                                    .row.pt-3
                                        .col-6
                                            a.btn_EI_descargar-googleplay.d-flex.justify-content-start(href="https://play.google.com/store/apps/details?id=com.ripley.banco.peru&amp;hl=es" target="_blank")
                                                img(src="img/svg/i-logo-googleplay.svg")
                                        .col-6
                                            a.btn_EI_descargar-appstore.d-flex.justify-content-start(href="https://itunes.apple.com/pe/app/banco-ripley-per%C3%BA/id1425352352" target="_blank")
                                                img(src="img/svg/i-logo-apple.svg")
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-pointer.svg")
                                    p.medium.grey2.s1.text-center Visítanos 
                                    a.btn_RS_youtube.semiBold.white.t4.text-center(href="https://www.bancoripley.com.pe" target="_blank" sandbox="allow-popups") bancoripley.com.pe
                                    a.btn_RS_youtube.semiBold.white.t4.text-center(href="https://simple.ripley.com.pe" target="_blank" sandbox="allow-popups") ripley.com.pe
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-site.svg")
                                    p.medium.grey2.s1.text-center Encuéntranos en 
                                    .row.pt-3
                                        .col-6
                                            a.btn_RS_facebook(href="https://es-la.facebook.com/bcoripleyperu/" target="_blank" sandbox="allow-popups")
                                                img(src="img/svg/i-facebook-dark.svg")
                                        .col-6
                                            a.btn_RS_youtube(href="https://www.youtube.com/channel/UCZm-k3dNvf1ecltKrdYSlug" target="_blank" sandbox="allow-popups")
                                                img(src="img/svg/i_youtube-mono_dark.svg")
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-ripley-phone-footer.svg")
                                    p.medium.grey2.s1.text-center Ripleyfono
                                    p.semiBold.white.t4.text-center 01 611-5757

                .col-12.d-none.d-sm-inline-block
                    ul.row.mb-8
                        li.col-sm-6.col-lg-3.box-footer.active
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-smartphone.svg")
                                    p.semiBold.grey2.s1.text-center Descarga nuestra App
                                    .row.pt-3
                                        .col-6
                                            a.btn_EI_descargar-googleplay.d-flex.justify-content-start(href="https://play.google.com/store/apps/details?id=com.ripley.banco.peru&amp;hl=es" target="_blank")
                                                img(src="img/svg/i-logo-googleplay.svg")
                                        .col-6
                                            a.btn_EI_descargar-appstore.d-flex.justify-content-start(href="https://itunes.apple.com/pe/app/banco-ripley-per%C3%BA/id1425352352" target="_blank")
                                                img(src="img/svg/i-logo-apple.svg")
                                        
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-pointer.svg")
                                    p.semiBold.grey2.s1.text-center Visítanos
                                    a.btn_RS_facebook.pt-3.semiBold.white.t4.text-center(href="https://www.bancoripley.com.pe" target="_blank") bancoripley.com.pe
                                    a.btn_RS_facebook.pt-3.semiBold.white.t4.text-center(href="https://simple.ripley.com.pe" target="_blank") ripley.com.pe
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-site.svg")
                                    p.semiBold.grey2.s1.text-center Encuéntranos en
                                    .row.pt-3
                                        .col-6
                                            a.btn_RS_facebook(href="https://es-la.facebook.com/bcoripleyperu/" target="_blank")
                                                img(src="img/svg/i-facebook-dark.svg")
                                        .col-6
                                            a.btn_RS_youtube(href="https://www.youtube.com/channel/UCZm-k3dNvf1ecltKrdYSlug" target="_blank")
                                                img(src="img/svg/i_youtube-mono_dark.svg")
                        li.col-sm-6.col-lg-3.box-footer
                            .contenedor_boxFooter.boxBlue
                                .box-footer__contenido.d-flex.flex-column.align-items-center
                                    img.lazy(src="img/svg/i-ripley-phone-footer.svg")
                                    p.semiBold.grey2.s1.text-center Ripleyfono
                                    p.pt-3.semiBold.white.t4.text-center 01 611-5757
        hr.row.footer-line.mb-1.mt-0
        .row.justify-content-center
            p.s3.mt-1 © RipleyPuntos Go 2020