noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5QJTFS3" height="0" width="0" style="display:none;visibility:hidden")


- var ruta = '#';

mixin linkMenu(href, name)
    a(href=href)&attributes(attributes)= name

header.ripley-header-flotante.container-fluid.pt-2

    //- .menu-br-flotante.row.d-flex.align-items-center
    //-     .logo-br.col
    //-         .divLogoRPGO
    //-             a(href=ruta + "index.html")
    //-                 img(src=ruta + 'img/svg/logo-ripley-puntos-go-rpg.svg')
    //-     .menu-mobile
    //-         nav.navbar.row
    //-             ul.accordion#menu-accordion
    //-                 li
    //-                     button.nav-link.btn-close(type="button" style="text-align: right; width: 100%;")
    //-                         img(src=ruta + "img/svg/i-close-now.svg")
    //-                         //| X
    //-                 li
    //-                     button.nav-link.arrow-down(type="button" data-toggle="collapse" data-target="#menu-tr" aria-expanded="true" aria-controls="menu-tr")
    //-                         img.icon-menu(src=ruta + "img/svg/i-tarjeta-grey.svg")
    //-                         | tarjetas ripley
    //-                     ul#menu-tr.collapse(data-parent="#menu-accordion")
    //-                         li
    //-                             +linkMenu(ruta + 'tarjetas/tarjeta-mastercard-ripley.html','Ripley Mastercard').btn_MP_tarjeta-ripley-mastercard
    //-                         li
    //-                             +linkMenu(ruta + 'tarjetas/tarjeta-de-debito-ripley.html','Tarjeta de Débito').btn_MP_tarjeta-de-debito
    //-                 li
    //-                     button.nav-link.arrow-down(type="button" data-toggle="collapse" data-target="#menu-credito" aria-expanded="true" aria-controls="menu-credito")
    //-                         img.icon-menu(src=ruta + "img/svg/i-pay-grey.svg")
    //-                         | préstamos
    //-                     ul#menu-credito.collapse(data-parent="#menu-accordion")
    //-                         li
    //-                             +linkMenu(ruta + 'prestamos/prestamo-rapido-super-efectivo.html','Súper Efectivo').btn_MP_super-efectivo
    //-                         li
    //-                             +linkMenu(ruta + 'prestamos/prestamo-efectivo.html','Préstamo Efectivo').btn_MP_prestamo-efectivo
    //-                         li
    //-                             +linkMenu(ruta + 'prestamos/compra-de-deuda.html','Consolidación de Deuda').btn_MP_consolidacion-deuda
    //-                         li
    //-                             +linkMenu(ruta + 'prestamos/convenios-con-empresas.html','Crédito por Convenio').btn_MP_credito-convenio
    //-                 li
    //-                     button.nav-link.arrow-down(type="button" data-toggle="collapse" data-target="#menu-productos" aria-expanded="true" aria-controls="menu-productos")
    //-                         img.icon-menu(src=ruta + "img/svg/i-wallet-grey.svg")
    //-                         | ahorros
    //-                     ul#menu-productos.collapse(data-parent="#menu-accordion")
    //-                         li
    //-                             +linkMenu(ruta + 'ahorros/deposito-plazo-fijo.html','Depósito a Plazo Fijo').btn_MP_deposito-plazo
    //-                         li
    //-                             +linkMenu(ruta + 'ahorros/cuenta-ahorros.html','Ahorro Plus').btn_MP_ahorro-plus
    //-                         li
    //-                             +linkMenu(ruta + 'ahorros/cuenta-simple.html','Cuenta Simple').btn_MP_cuenta-simple
    //-                         li
    //-                             +linkMenu(ruta + 'ahorros/cts.html','CTS').btn_MP_cts
    //-                 li
    //-                     button.nav-link.arrow-down(type="button" data-toggle="collapse" data-target="#menu-seguro" aria-expanded="true" aria-controls="menu-seguro")
    //-                         img.icon-menu(src=ruta + "img/svg/i-secure-grey.svg")
    //-                         | seguros
    //-                     ul#menu-seguro.collapse(data-parent="#menu-accordion")
    //-                         li
    //-                             +linkMenu(ruta + 'seguros/seguro-de-vida.html','Seguro de Vida y Salud').btn_MP_seguro-vida
    //-                         li
    //-                             +linkMenu(ruta + 'seguros/seguro-vehicular-soat.html','Seguros Vehicular').btn_MP_seguro-vehicular
    //-                         li
    //-                             +linkMenu(ruta + 'seguros/asistencia.html','Asistencia').btn_MP_asistencia
    //-                 li
    //-                     a.btn_MP_promociones(href="https://www.promocionesbancoripley.com.pe/" target='_blank' class="nav-link") 
    //-                         img.icon-menu(src=ruta + "img/svg/i-percent-grey.svg")
    //-                         | Promociones
    //-                 li
    //-                     a.btn_MP_ripley-puntos-go(href="https://www.ripleypuntos.com.pe/" target='_blank' class="nav-link") 
    //-                         img.icon-menu(src=ruta + "img/svg/i-star-grey.svg")
    //-                         | Ripley Puntos Go
    //-                 li
    //-                     //a.btn_MP_banca-por-internet(href="https://bancaporinternet.bancoripley.com.pe/mcm-web-render-brp-olb/logout.jsp" target='_blank' class="nav-link") 
    //-                         img.icon-menu(src=ruta + "img/svg/i-browser-grey.svg")
    //-                         | Banca por Internet
    //-                     a.btn_MP_banca-por-internet(href="javascript:openOlb();" class="nav-link") 
    //-                         img.icon-menu(src=ruta + "img/svg/i-browser-grey.svg")
    //-                         | Banca por Internet
    //-                 li.box-ripleyApp_link.android.d-none
    //-                     a(href="https://play.google.com/store/apps/details?id=com.ripley.banco.peru&hl=es" target='_blank' class="nav-link") 
    //-                         //img.icon-menu(src=ruta + "img/svg/i-smartphones.svg")
    //-                         | Descarga nuestra App
    //-                 li.box-ripleyApp_link.iphone.d-none
    //-                     a(href="https://itunes.apple.com/pe/app/banco-ripley-per%C3%BA/id1425352352" target='_blank' class="nav-link") 
    //-                         //img.icon-menu(src=ruta + "img/svg/i-smartphones.svg")
    //-                         | Descarga nuestra App

    //-             ul.footer-menu
    //-                 //li
    //-                     //a.nav-link.appLinkMobile.iphone.d-none(href="https://itunes.apple.com/cl/app/banco-ripley-chile/id1287625215?l=en&mt=8") Descargar App
    //-                     //a.nav-link.appLinkMobile.android.d-none(href="https://play.google.com/store/apps/details?id=cl.bancoripley.appbanco") Descargar App
    //-                 li
    //-                     a.btn_BF_quiero-ser-cliente.nav-link(href="https://www.solicitatutarjetabancoripley.com.pe/" target='_blank') ¡Obtén tu Tarjeta!
    //-                 li
    //-                     a.nav-link(href="tel:(01) 611-5757)") Emergencia (01) 611-5757
        
    //-     .btns-mobile.justify-content-center
    //-         .btnMenu.d-flex.justify-content-center.align-items-center
    //-             .line

    //-     .col-7.menu
    //-         nav.navbar.row
    //-             ul.navbar-nav.d-flex.flex-row.col
    //-                 li.dropdown.flex-fill
    //-                     +linkMenu('javascript:;','tarjetas ripley').nav-link
    //-                     .dropdown-menu
    //-                         +linkMenu(ruta + 'tarjetas/tarjeta-mastercard-ripley.html','ripley mastercard').dropdown-item.btn_MP_tarjeta-ripley-mastercard
    //-                         +linkMenu(ruta + 'tarjetas/tarjeta-de-debito-ripley.html','tarjeta de débito').dropdown-item.btn_MP_tarjeta-de-debito
    //-                 li.dropdown.flex-fill
    //-                     +linkMenu('javascript:;','préstamos').nav-link
    //-                     .dropdown-menu
    //-                         +linkMenu(ruta + 'prestamos/prestamo-rapido-super-efectivo.html','súper efectivo').dropdown-item.btn_MP_super-efectivo
    //-                         +linkMenu(ruta + 'prestamos/prestamo-efectivo.html','préstamo efectivo').dropdown-item.btn_MP_prestamo-efectivo
    //-                         +linkMenu(ruta + 'prestamos/compra-de-deuda.html','Consolidación de Deuda').dropdown-item.btn_MP_consolidacion-deuda
    //-                         +linkMenu(ruta + 'prestamos/convenios-con-empresas.html','Crédito por Convenio').dropdown-item.btn_MP_credito-convenio
    //-                 li.dropdown.flex-fill
    //-                     +linkMenu('javascript:;','ahorros').nav-link
    //-                     .dropdown-menu
    //-                         +linkMenu(ruta + 'ahorros/deposito-plazo-fijo.html','Depósito a Plazo Fijo').dropdown-item.btn_MP_deposito-plazo
    //-                         +linkMenu(ruta + 'ahorros/cuenta-ahorros.html','Ahorro Plus').dropdown-item.btn_MP_ahorro-plus
    //-                         +linkMenu(ruta + 'ahorros/cuenta-simple.html','Cuenta Simple').dropdown-item.btn_MP_cuenta-simple
    //-                         +linkMenu(ruta + 'ahorros/cts.html','CTS').dropdown-item.btn_MP_cts
    //-                 li.dropdown.flex-fill
    //-                     +linkMenu('javascript:;','seguros').nav-link
    //-                     .dropdown-menu
    //-                         +linkMenu(ruta + 'seguros/seguro-de-vida.html','seguro de vida y Salud').dropdown-item.btn_MP_seguro-vida
    //-                         +linkMenu(ruta + 'seguros/seguro-vehicular-soat.html','seguro vehicular').dropdown-item.btn_MP_seguro-vehicular
    //-                         +linkMenu(ruta + 'seguros/asistencia.html','asistencia').dropdown-item.btn_MP_asistencia
    //-                 li.flex-fill
    //-                     a.btn_MP_promociones(href="https://www.promocionesbancoripley.com.pe/" target='_blank' class="nav-link") Promociones
    //-                 li.flex-fill
    //-                     a.btn_MP_ripley-puntos-go(href="https://www.ripleypuntos.com.pe/" target='_blank' class="nav-link") Ripley Puntos Go

