<!-- Google Tag Manager (noscript) -->
noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5QJTFS3" height="0" width="0" style="display:none;visibility:hidden")

<!-- End Google Tag Manager (noscript) -->

- var rutaMenu = '#';
- var headerOption = "Afíliate sin tener <br> Tarjeta Ripley";
mixin linkMenu(href, name)
    a#rpg_select3.btn_MP_ripley-puntos-go.semiBold(href=href)&attributes(attributes)= name
        br
        span
            hr.select-tab.select-tab-mark1.my-0
mixin linkMenuTwo(href, name)
    a#rpg_select4.btn_MP_ripley-puntos-go.semiBold(href=href)&attributes(attributes)= name
        br
        span
            hr.select-tab.select-tab-markWhite.my-0
mixin linkSubMenu(href, name)
    a.btn_SubMenuRPGO(href=href)&attributes(attributes)= name
mixin linkSubMenuR(href, name)
    a.btn_r_SubMenuRPGO(href=href)&attributes(attributes)= name

header.ripley-header-flotante.container-fluid.pt-2#header
    .menu-br-flotante.row.d-flex.align-items-center.box-shadow-h#menu
        .logo-br.col
            .divLogoRPGO
                a(href="index.html")
                    img(src='img/svg/logo-ripley-puntos-go-rpg.svg')
        .menu-mobile
            nav.navbar.row
                ul.accordion#menu-accordion
                    li
                        button.nav-link.btn-close(type="button" style="text-align: right; width: 100%;border:none !important;") 
                            img(src="img/svg/i-close-now.svg")
                            //| X
                    li.itemLiResponsiveMenu
                        a.btn_MP_promociones.nav-link.semiBold.cssmenu_ResDes(href="ripley-puntos.html")
                            #menu1Responsive
                            | Ripley Puntos
                    li.itemLiResponsiveMenu
                        a.btn_MP_promociones.nav-link.semiBold.cssmenu_ResDes(href="clientes-prime.html")
                            #menu2Responsive
                            | Cliente Prime
                    li.itemLiResponsiveMenu
                        a.btn_MP_promociones.nav-link.semiBold.collapsed.cssmenu_ResDes#menu_ResDes(href="#" data-toggle="collapse" data-target="#acor1-menu-responsive" aria-expanded="true" aria-controls="acor1-menu-responsive")
                            #menu3Responsive
                            | Canjes
                            #menu3ResponsiveFlecha
                        .row#menu_desplegable
                            #acor1-menu-responsive.collapse(data-parent="#menu_desplegable")
                                row
                                    +linkSubMenuR('canjes.html?t=giftcards','Gift Cards').dropdown-item.btn_MP_r_Gift_Cards_RPGO
                                    +linkSubMenuR('canjes.html?t=experiencias','Experiencias').dropdown-item.btn_MP_r_Experiencias_RPGO
                                    +linkSubMenuR('canjes.html?t=supercanjes','Súper Canjes').dropdown-item.btn_MP_r_SuperCanjes_RPGO
                    li.itemLiResponsiveMenu
                        a.btn_MP_promociones.nav-link.semiBold.collapsed.cssmenu_ResDes#menu_ResDes2(href="#" data-toggle="collapse" data-target="#acor1-menu-responsive2" aria-expanded="true" aria-controls="acor1-menu-responsive2")
                            #menu4Responsive
                            | Afíliate sin tener Tarjeta Ripley
                            #menu4ResponsiveFlecha
                        .row#menu_desplegable2
                            #acor1-menu-responsive2.collapse(data-parent="#menu_desplegable2")
                                row
                                    +linkSubMenuR('afiliacion.html','Conoce más').dropdown-item.btn_MP_r_Gift_Cards_RPGO
                                    +linkSubMenuR('registro-omp.html','Afíliate').dropdown-item.btn_MP_r_Multiplica_RPGO
                                    +linkSubMenuR('canjes.html?t=giftcardsSTR','Gift Cards').dropdown-item.btn_MP_r_Experiencias_RPGO
                                    +linkSubMenuR('canjes.html?t=experienciasSTR','Experiencias').btn_MP_r_SuperCanjes_RPGO
   
                ul.footer-menu
                    //- li
                    //-     a.btn_BF_quiero-ser-cliente.nav-link.semiBold(href="https://www.solicitatutarjetabancoripley.com.pe/" target='_blank') ¡Obtén tu Tarjeta!
                    li
                        a.nav-link(href="#")
        
        
        .btns-mobile.justify-content-center
            .btnMenu.d-flex.justify-content-center.align-items-center
                .line

        .col-2.menu
        .col-6.menu#menuNavBar
            nav.navbar.row
                ul.navbar-nav.d-flex.flex-row.col
                    li.flex-fill
                        a#rpg_select1.btn_MP_ripley-puntos-go.semiBold(href="ripley-puntos.html" target='' class="nav-link") Ripley Puntos
                            br
                            span
                                hr#rpg_item1.select-tab.select-tab-mark.my-0
                    li.flex-fill
                        a#rpg_select2.btn_MP_ripley-puntos-go.semiBold(href="clientes-prime.html" target='' class="nav-link") Cliente Prime
                            br
                            span
                                hr#rpg_item2.select-tab.select-tab-mark1.my-0
                    li.dropdown.flex-fill
                        +linkMenu('canjes.html','Canjes').nav-link
                        .dropdown-menu.fixwidthdropdown-menuCanjesPromociones
                            +linkSubMenu('canjes.html?t=giftcards','Gift Cards').dropdown-item.btn_MP_Gift_Cards_RPGO.pl-4
                            +linkSubMenu('canjes.html?t=experiencias','Experiencias').dropdown-item.btn_MP_Experiencias_RPGO.pl-4
                            +linkSubMenu('canjes.html?t=supercanjes','Súper Canjes').dropdown-item.btn_MP_SuperCanjes_RPGO.pl-4
        .col-2.menu#menuNavBar2.flexfillheader
            nav.navbar.row
                ul.navbar-nav.d-flex.flex-row.col
                    li.dropdown.flex-fill.mx-3
                        +linkMenuTwo('afiliacion.html','Afíliate sin tener Tarjeta Ripley').nav-link.white(style="font-size: 16px !important;")
                        .dropdown-menu.fixwidthdropdown-menuCanjesPromociones
                            +linkSubMenu('afiliacion.html','Conoce más').dropdown-item.btn_MP_Gift_Cards_RPGO.pl-4
                            +linkSubMenu('registro-omp.html','Afíliate').dropdown-item.btn_MP_Multiplica_RPGO.pl-4
                            +linkSubMenu('canjes.html?t=giftcardsSTR','Gift Cards').dropdown-item.btn_MP_Experiencias_RPGO.pl-4
                            +linkSubMenu('canjes.html?t=experienciasSTR','Experiencias').dropdown-item.btn_MP_SuperCanjes_RPGO.pl-4
