//- - var ruta = 'D:/Migracion%20GYS/Proyecto%20Banco%20Ripley/nuevo-sitio-public2.0%20copy/gulp/projects/apollo/dist/';
- var ruta = 'https://www.bancoripley.com.pe/';

meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="ie=edge,chrome=1")
meta(http-equiv="X-UA-Compatible" content="IE=9")
meta(name="language" content="ES")
meta(property="og:type" content="website")
meta(property="og:title" content="RipleyPuntosGo")
meta(property="og:description" content="¡Bienvenido a la nueva web RipleyPuntosGo!")
meta(name="robots" content="index,follow")
link(rel="apple-touch-icon" sizes="57x57" href=ruta + "img/favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href=ruta + "img/favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href=ruta + "img/favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href=ruta + "img/favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href=ruta + "img/favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href=ruta + "img/favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href=ruta + "img/favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href=ruta + "img/favicon/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192"  href=ruta + "img/favicon/favicon-rpgo.png")
link(rel="icon" type="image/png" sizes="32x32" href=ruta + "img/favicon/favicon-rpgo.png")
link(rel="icon" type="image/png" sizes="96x96" href=ruta + "img/favicon/favicon-rpgo.png")
link(rel="icon" type="image/png" sizes="16x16" href=ruta +  "img/favicon/favicon-rpgo.png")
link(rel="manifest" href="img/favicon/manifest.json")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")
title=titlePage
if isHome
    meta(name="google-site-verification" content="Mr4a5poKx2CSzlEjEejdO5jdMA2m_3t1JQ-5q0XeI6k")
meta(name="description" content=descriptionPage lang="es-PE")
meta(name="keywords" content=keywordsPage)
link(type='text/css' rel="stylesheet" href= ruta + 'css/bootstrap.min.css' )
link(type='text/css' rel="stylesheet" href=ruta + 'css/styleHB.css' )

if is404
    meta(name="robots" content="noindex, follow")

<!-- Google Tag Manager -->
//- script(src=ruta + "js/gtag-min.js")
script(src="js/gtag-min.js")
<!-- End Google Tag Manager -->

script(src="https://www.google.com/recaptcha/api.js", async, defer)
//- script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit", async, defer)