section.contenedor-inscripcion
    .container
        .row.px-3.px-sm-2
            .col-12.col-sm-6.contenido-seccion.px-0.px-md-3
                .row.contenido-info.pl-md-0.mx-0.mb-3.mb-lg-5
                    .col-12.d-sm-none.mx-0.px-0
                        .contenido-img
                            img(src='img/home/seccion/xs-inscripcion-rpg.png' style="max-width: 568px;")
                    .col-12.pr-4.pr-md-0.pt-3.pt-lg-5
                        h2.purpleDark3.bold.t7.mx-lg-4.mx-2 Acumula solo con tu documento de identidad
                    .col-12.pr-4.pr-md-0
                        p.grey.s4.mx-lg-4.mt-4.medium.mx-2 <span class="grey s4 medium semiBold">Si no tienes Tarjeta Ripley</span>, ahora puedes <span class="grey s4 medium semiBold">afiliarte</span> y obtener RipleyPuntos Go presentando tu documento de identidad cada vez que compres en Ripley y Ripley.com.pe
                    .col-12.mt-2
                        a.mx-lg-4.s1.decotation-cp.purple3.medium.mx-2(href="afiliacion.html") Conoce más aquí
                    .col-12.mt-3.mt-lg-5
                        a.mx-lg-4.mb-3.btn.btnInscripcion.semiBold.mx-2(href="registro-omp.html" onclick="") ¡Afíliate!
            .col-12.col-sm-6.my-3.d-none.d-sm-block
                .row.img-height
                    .contenido-img(style="background: #FFFFFF; z-index: -1; border: 1px solid rgba(151, 153, 155, 0.1); box-sizing: border-box; border-radius: 4.81509px;")
                        img(src='img/home/seccion/inscripcion-rpg.png' style="max-width: 568px;")