.container.resposivePromotion
    .row.anchoTerCondBenefPromociones.d-none.d-md-block   
        .col-12.col_box_accordionCondicionesBeneficiosCategorias#box-accordionCondicionesBeneficios
            .row
                button.CondicionesdePromociones.collapsed(type="button" data-toggle="collapse" data-target="#acor1-cond_benef_promo" aria-expanded="true" aria-controls="acor1-cond_benef_promo")
                    | Legal <img src="img/svg/i-arrow-right-tcb.svg" >
                #acor1-cond_benef_promo.collapse.col-12(data-parent="#box-accordionCondicionesBeneficios")
                    row
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                        br
                        p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de la promoción: ] Promoción válida del 01 al 31 de Marzo del 2020. Aplica para consumos realizados con Tarjeta Ripley  en  restaurantes . No acumulables con otras promociones de Banco Ripley. *Bono máximo 5,000 Puntos por cliente. Los puntos ganados por las compras (x1) se abonarán de forma regular y están incluidos en el multiplica x3, el bono de puntos (x2) será abonado hasta el último día del mes siguiente de realizado el consumo y se visualizarán en el subsiguiente mes. Los bonos de puntos adicionales obtenidos en las campañas de acumulación no se consideran para pertenecer al segmento Gold o Silver. Los puntos obtenidos por los pagos de la tarjeta adicional suman al titular. Los puntos serán abonados en la tarjeta de crédito que realizó la compra. De existir decimales en el monto, la acumulación de puntos se redondeará al entero menor. El bono no está incluido dentro del límite de acumulación (1.2 veces su línea de crédito). No acumulables con otras promociones de Banco Ripley. Mayor información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias.
                        br
    br    
