.modal.fade.px-0.px-2#appModalPuntosCalificables(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalPuntosCalificables" aria-hidden="true")
   .modal-dialog.sxModal.modalPC(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.my-3.pb-2(style="text-align: center;")
                        p.purpleDark3.semiBold.s8 ¿Cómo acumular #[strong puntos Categoría?]
                row
                    p.grey4.s1.text-left.mx-3 Acumulas puntos categoría  al realizar compras en Ripley, en desembolso de préstamos y al consumir en nuestras alianzas.
                    br
                    p.grey4.s1.text-left.mx-3 Solo puedes ganar  puntos  categoría  si tienes Tarjeta de Crédito Ripley. 
                    p.grey4.s1.text-left.mx-3 Recuerda que los puntos categoría <span class="grey4 semiBold"> no</span> consideran los puntos obtenidos en campañas promocionales. Los puntos categoría se acumulan al cierra de cada mes.
                    br
                row
                    .mx-3
                        .row.mx-0.mx-lg-2.mb-2.mb-md-2
                            .col-1.mx-0.px-0
                                img(src='img/svg/i-store-rpg.svg' style="width: 28px;height: 24px;")
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.purple4.s4.semiBold.mt-1 Tiendas Ripley
                        p.grey.mx-0.mx-sm-2.mx-md-2.mx-lg-2.medium.mt-lg-2(style="font-size: 15px;") <span class="grey semiBold">S/ 1.25 = 1 punto</span> con Tarjeta de Crédito Ripley.
                        p.grey.mx-0.mx-sm-2.mx-md-2.mx-lg-2.medium(style="font-size: 15px;") <span class="grey semiBold">S/ 5 = 1 punto</span> con otro medio de pago.
                        p.grey.mx-0.mx-sm-2.mx-md-2.mx-lg-2.medium.noIncluyegift(style="font-size: 15px;") (No incluye Gift Cards ni notas de crédito)
                        br
                row
                    .mx-3
                        .row.mx-0.mx-lg-2.mb-2.mb-md-2
                            .col-1.mx-0.px-0
                                img(src='img/svg/i-car-shopping.svg' style="width: 28px;height: 24px;")
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.purple4.s4.semiBold.mt-1 Alianzas
                        p.grey.mx-0.mx-sm-2.mx-md-2.mx-lg-2.medium.mt-lg-2(style="font-size: 15px;") <span class="grey semiBold">S/ 2.50 = 1 punto</span> con Tarjeta de Crédito Ripley.
                        br
                row
                    .mx-3
                        .row.mx-0.mx-lg-2.mb-2.mb-md-2
                            .col-1.mx-0.px-0
                                img(src='img/svg/i-cash-provision.svg' style="width: 28px;height: 24px;")
                            .col-11.pl-3.pl-md-2.pl-lg-0
                                p.purple4.s4.semiBold.mt-1 Préstamos
                        p.grey.mx-0.mx-sm-2.mx-md-2.mx-lg-2.medium.mt-lg-2(style="font-size: 15px;") <span class="grey t4 semiBold">S/ 10</span> de desembolso = <span class="grey semiBold"> 1 punto</span> si tienes Tarjeta de Crédito Ripley.
                        br
                //- row
                //-     .col-12.mx-lg-2.text-left
                //-         p.s7.grey5 * Equivalencias válidas desde el 15 de marzo del 2020.
                row
                    .col-12.mb-1(style="text-align:center;")
                        a.purple4(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;text-decoration: underline;" ) Cerrar
