.modal.fade#appModalTerminosBeneficios(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalTerminosBeneficios" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-4.mb-4.pb-2(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Condiciones de beneficios
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96%, a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Membresía: ] Exoneración del costo de la membresía anual de tu tarjeta Ripley Mastercard para clientes Gold y Silver Prime. Aplica para clientes que hayan obtenido la categoría máximo 1 mes antes del cobro de la membresía. Los beneficios arriba indicados estarán vigentes hasta el 31 de julio del 2020. Mayor información de condiciones y/o tarifas de la tarjeta de crédito en www.bancoripley.com.pe y/o Agencias, o llamando al Ripleyfono 6115757.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Cupones en vestuario, calzado y accesorios y Decohogar: ] Válida durante la vigencia de la promoción y/o hasta agotar stock. Para acceder al beneficio el cliente deberá mostrar su DNI y realizar el pago con su Tarjeta Ripley. Válido en todas las Tiendas Ripley a nivel nacional. Podrás usar dos cupones en cada trimestre: 1er trimestre: del 15/02/2020 al 14/05/2020, 2do trimestre: del 15/05/2020 al 14/08/2020 y 3er trimestre: 15/08/20/20 al 15/11/2020.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Para clientes Gold Prime: ] Usa tu cupón de S/ 50 por cada S/ 100 de compra en VESTUARIO, CALZADO, ACCESORIO Y DECOHOGAR de marcas seleccionadas con tarjeta Ripley. Solo se usará un cupón por compra o transacción.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Para clientes Silver Prime: ] Usa tu cupón de S/ 40 por cada S/ 100 de compra en VESTUARIO, CALZADO, ACCESORIO Y DECOHOGAR de marcas seleccionadas con tarjeta Ripley. Solo se usará un cupón por compra o transacción.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de los cupones: ] Usa tu cupón en las siguientes marcas: ACCESORIOS: Index, Marquis, Aziz y Barbados; ROPA INTERIOR MUJER: Index, Aziz, Marquis, Cacharel y Tatienne; CALZADO: Index, Marquis, Harvest, Navigata, Brigitte Naux, Barbados, Cloudbreak, Kenneth Stevens, Aziz, Gotcha, Cacharel, Aerosoles, Earth; DEPORTE: Fila, Revup, Gotcha; HOMBRE: Kenneth Stevens, Index, Marquis, Navigata, Givenchy, Cloudbreak, Robert Lewis, Cacharel, Barbados, Pepe Jeans, Gotcha, Penguin, TST, Lost, Jack&Jones, La Dolfina, Izod, INFANTIL: Harvest, Baby Harvest, Cloudbreak, Index, Mothercare, Colloky, Pepe Jeans, Next, TST; MUJER: Index, Marquis, Aziz, Navigata, Brigitte Naux, Barbados, Cacharel, Pepe Jeans, Tatienne, Oasis, Tally Weijl, Esprit, Only; DECOHOGAR: solo la marca RIPLEY HOME de los departamentos: COCINA, REGALOS, COMPLEMENTOS DECO, MENAJE DE MESA, BAÑO, CAMA, DECORACIÓN. Aplica para productos seleccionados en tienda. No válido para productos AON. Aplican restricciones. Los descuentos aplican sobre precio regular. No es válido con otras promociones y/o cupones. Stock mínimo 3 unidades por producto.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Despacho gratis en Ripley.com.pe: ] Despacho válido únicamente para Lima y callao. Válido para clientes Gold Prime, que tengan compras superiores a S/ 199.00 pagando con Tarjeta Ripley. Para hacer efectivo el beneficio el cliente deberá registrarse en Ripley.com máximo 48 horas antes de realizarse la compra, loguearse en ripley.com, agregar los productos a su bolsa de compras, ingresar el cupón: DESPACHOGP, elegir la opción “despacho a domicilio” y elegir como medio de pago la Tarjeta Ripley. Promoción válida solo para compras web en Ripley.com. El uso del cupón está limitado a 4 veces por mes. Para clientes Silver Prime, que tengan compras superiores a S/ 299.00 pagando con Tarjeta Ripley en todas las categorías. Para hacer efectivo el beneficio el cliente deberá registrarse en Ripley.com máximo 48 horas antes de realizarse la compra, loguearse en ripley.com, agregar los productos a su bolsa de compra, elegir la opción “despacho a domicilio”, ingresar el cupón: DESPACHOSP y elegir como medio de pago la Tarjeta Ripley. Promoción válida solo para compras web en Ripley.com. El uso del cupón está limitado a 4 veces por mes. Beneficio no aplica en compras de productos en mercado Ripley.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Vencimiento de RipleyPuntos Go: ] Para clientes Gold Prime los puntos estarán vigentes 24 meses desde su generación, para lo cual la tarjeta deberá estar activa. Para los clientes Silver Prime la vigencia es de 12 meses. Beneficio no retroactivo.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Cumpleaños: ] Multiplica x3 en todas tus compras en el mes de tu Cumpleaños si eres categoría Gold Prime y x2 si eres categoría Silver Prime: Aplica para compras con Tarjeta Ripley realizadas en Tiendas Ripley  y Ripley.com.pe en el mes del cumpleaños del titular de la tarjeta. Los puntos ganados por las compras (x1) se abonarán de forma regular, el bono de puntos (x1 Silver Prime / x2 Gold Prime) será abonados hasta el ultimo día del subsiguiente mes de realizados los consumos o compras y se visualizarán en el subsiguiente estado de cuenta. <br>*Bono máximo a abonar : 5000 RipleyPuntos.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Descuento Restofans: ] Promoción válida durante la vigencia de la promoción pagando con Tarjeta de crédito Ripley MasterCard emitidas en Perú. Por la alta demanda el cliente puede solicitar su pedido los días miércoles previos a los jueves de Restofans. Válido 1 dscto por cliente, 1 dscto por tarjeta y 1 dscto por jueves. Las nuevas tarjetas emitidas podrán usar el beneficio a partir del sexto día de su adquisición. El cliente debe solicitar su pedido vía teléfono solicitando el servicio delivery o para llevar al restaurante de su preferencia. Indispensable presentar o dictar el DNI para validar que sea participante de la campaña. Descuento máximo por pedido S/ 150. El descuento no incluye costo del delivery. El costo del delivery y horarios de reparto están sujetos a disposición de cada restaurante. Se restringirán las solicitudes de pedidos, cuando se alcance el stock máximo de cada restaurante. Imágenes Referenciales. Horarios Referenciales. No válido para las Tarjetas Ripley que inician con la siguiente numeración: 960430 y 960410. No aplica para tarjetas con límite de uso en establecimientos afiliados a MasterCard. Promociones no acumulables con descuentos, vales, cupones y/o promociones vigentes en el establecimiento. No válido para tarjetas adicionales. No participan clientes con tarjetas y cuentas Ripley refinanciadas, con mora (máximo 5 días) o con problemas crediticios. Imágenes referenciales. Banco Ripley, a través de la Tarjeta Ripley, actúa como medio de pago por lo que no será responsable por la calidad ni la idoneidad de los productos y/o servicios ofrecidos por los establecimientos.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar condiciones
