.modal.fade#appModalTerminosLegal(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalTerminosLegal" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-5.mb-4(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Legal
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong TCEA Máxima 134.35%:] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Más información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias.
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Promoción válida] del 01 al 30 de junio del 2020. #[strong Aplica para consumos realizados con Tarjeta Ripley en plataformas e-commerce. No acumulables con otras promociones de Banco Ripley.] Bono máximo 5,000 Puntos por cliente. Los puntos ganados por las compras (x1) se abonarán de forma regular y están incluidos en el multiplica x3, el bono de puntos (x2) será abonado hasta el último día del mes siguiente de realizado el consumo y se visualizarán en el subsiguiente mes. Los bonos de puntos adicionales obtenidos en las campañas de acumulación no se consideran para pertenecer al segmento Gold o Silver. Los puntos obtenidos por los pagos de la tarjeta adicional suman al titular. Los puntos serán abonados en la tarjeta de crédito que realizó la compra. De existir decimales en el monto, la acumulación de puntos se redondeará al entero menor. El bono no está incluido dentro del límite de acumulación (1.2 veces su línea de crédito). No acumulables con otras promociones de Banco Ripley. Mayor información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar

.modal.fade#appModalCondicionesGitfCards(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalCondicionesGitfCards" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-5.mb-4(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Condiciones
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de los giftcards: ] Válido hasta el 31 de Julio del 2020 y/o hasta agotar stock. Canje exclusivo en agencias de Banco Ripley. Stock total de la campaña: Giftcard de S/ 140: 200 unidades, Giftcard de S/ 600: 100 unidades. Giftcard de S/ 2000: 15 unidades y Giftcard de S/ 5000 : 15 unidades. No aplica para compras en Viajes Ripley, AON ni productos de concesiones ni consignaciones. No acumulable con otras promociones. El canje de las Gift Card deberá realizarse por la cantidad de puntos indicada en la comunicación. El monto de la tarjeta no es canjeable por dinero en efectivo. No se permite realizar devolución de esta Gift Card por RipleyPuntos Go. Solo se podrán canjear 01 Giftcard de cada denominación por cliente por mes. Las Gift Cards pueden ser canjeadas en las Agencias de Banco Ripley a nivel nacional. La Giftcard es del uso al portador, la perdida deterioro, robo, hurto, y uso no autorizado de la tarjeta, bajo cualquier circunstancia no admite orden de bloqueo o sustitución de tarjeta. Solo se aceptará una Giftcard por una transacción (no son acumulables). No acumulables con otras promociones de Banco Ripley.  Más información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias de Banco Ripley.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar condiciones

.modal.fade#appModalCondicionesExperiencias(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalCondicionesExperiencias" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-5.mb-4(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Condiciones
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de canje de experiencias: ] Promoción vigente según la campaña y/o hasta agotar stock de la campaña. Los vales serán canjeados en las agencias de Banco Ripley a nivel nacional. Los vales presentan tiempo de vigencia, pasado el mismo si este no se ha usado, no se podrá extender la vigencia ni devolver los puntos. No acumulable con otras promociones de Banco Ripley. Mayor información sobre las condiciones del programa RipleyPuntos Go en www.ripleypuntos.com.pe y/o Agencias de Banco Ripley.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar condiciones

.modal.fade#appModalCondicionesSuperCanjes(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalCondicionesSuperCanjes" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-5.mb-4(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Condiciones
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones de la promoción: ] Promoción válida del 03 al 31 de marzo del 2020 y/o hasta agotar stock. Stock mínimo: 2 unidades por producto por tienda. Exclusivo con Tarjeta Ripley. No válido para canjes en Tienda Virtual. Imágenes referenciales. No acumulables con otras promociones. Productos disponibles según stock de cada tienda, consultar disponibilidad con nuestros representantes de ventas. El monto a pagar en soles se realizará necesariamente con las Tarjetas Ripley. Válido sólo para consumo familiar (máx. 3 productos por cliente o tarjeta) CRYSTAL NOIR EDT 30 ML No disponible en Los Olivos, Chorrillos, Brasil, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Callao, Pucalpa; DF MIRACLE DE 30ML No disponible en Los Olivos, Arequipa, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Santa Anita, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa, Puruchuco; DF SEA ROSE EDT 30 ML No disponible en Los Olivos, Arequipa, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa,Puruchuco; EDT TOUS 30 ML 2013 No disponible en Chiclayo, Chimbote, Piura 2; Elizabeth Arden Frag New Red Door Edt 30 ml No disponible en Brasil, Cajamarca, Chimbote, Ica, Callao, Cayma, Pucalpa, Puruchuco; MADEMOISELLE AZZARO EDT 30 ML No disponible en Arequipa, Chiclayo, Chorrillos, Brasil, Santa Anita, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Pucalpa, Puruchuco; NINA EDT 30ML REPACK 2016 No disponible en Santa Anita, Trujillo, Chimbote, Huancayo, Ica, Juliaca, Pucalpa; RALPH EDT VAPO30 ML No disponible en Chiclayo, Chorrillos, Santa Anita, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Callao, Atocongo, Pucalpa, Puruchuco; DELINEADOR CEJAS FLINGO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS OMEGA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS SUCIO BLONDE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; DELINEADOR CEJAS TAUPE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco,Miraflores, San Borja, Callao; LABIAL MATE HIT No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE INSTIGADOR No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE NATURAL No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE OSCURO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE PELIGRO No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE SE FELIZ No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Miraflores; LABIAL MATE SUBE No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATE VIBRA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE ALL FIRED UP No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE FLAT OUT FABULOUS No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; LABIAL MATTE RELENTLSSLY No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA DE PESTANAS DIMENSION No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA DE PESTANAS MARRON No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Miraflores, Puruchuco; MASCARA PESTANA HAUTE AGUA No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco; MASCARA PESTANAS MAC HAUTE & NAUGHTY MASC BLACK No disponible en San Miguel, San Isidro, Primavera, Los Olivos, Chiclayo, Chorrillos, Brasil, Plaza Lima Norte, Salaverry, Trujillo, Cajamarca, Chimbote, Huancayo, Ica, Juliaca, Piura, Piura 2, Atocongo, Cayma, Pucalpa, Puruchuco, Jockey Plaza, Miraflores, San Borja.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar condiciones

.modal.fade#appModalCondicionesOMP(tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="appModalCondicionesOMP" aria-hidden="true")
   .modal-dialog.dgModal.modalTCB(role="document" style="")
        .modal-content
            .modal-body
                .divCerrarFlotanteSpanMovilTCB
                    span.SpanFlotanteTCB(aria-hidden="true" data-dismiss="modal" aria-label="Close") <img src='img/svg/i-remove-x.svg' >
                row
                    .col-12.mt-5.mb-4(style="text-align: center;")
                        p.bold.titleModalTermCondBenef Condiciones
                row
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong T.C.E.A Máxima: 134.35% ] Calculada en base a un año de 360 días. Ejemplo: Por un consumo de S/ 1000, a una TEA de 96% ,a 12 meses, pagará cuotas de S/ 117.77 que incluye el total de intereses de S/ 413.18. Por concepto de seguro de desgravamen, por saldos mayores a S/ 10, se le cargará S/ 7.90 o S/ 15.00 mensual, según edad del cliente a la fecha de afiliación, por membresía anual S/ 48, en caso de incumplimiento en el pago, aplicará penalidad por pago fuera de fecha según tarifario vigente. ITF (0.005%). El valor final de las cuotas podría variar en función a la fecha de consumo, facturación y pago del cliente n caso de incumplimiento en el pago. Mayor información de condiciones y/o tarifas en www.bancoripley.com.pe y/o Agencias. 
                    br
                    p.grey4.itemTerminosCondicionesBeneficiosCategorias #[strong Condiciones para la acumulación de RipleyPuntos Go con otro medio de pago: ] El cliente acumulará 1 punto por cada 5.00 soles de compra en Tiendas Ripley o Ripley.com.pe al realizar sus pagos con tarjetas de crédito / débito de otro banco y/o efectivo. Válido desde el 23 de noviembre de 2019. Aplica para compras realizadas en Tiendas Ripley, Ripley.com.pe y Estaciones R. Indispensable que el cliente se haya registrado para participar en el programa y presente su DNI en la caja o se registre en Ripley.com.pe al momento de la compra. La inscripción se deberá realizar en el formulario ubicado en la web www.ripleypuntos.com.pe Los puntos serán abonados en la quincena del mes siguiente de realizada la compra. El cliente podrá acumular máximo 20000 RipleyPuntos al mes. Los puntos acumulados no se consideran para pertenecer al segmento Gold Prime o Silver Prime. En caso el cliente obtenga Tarjeta de crédito Ripley, los puntos acumulados serán transferidos a la tarjeta del titular. Los clientes inscritos al programa no participarán en campañas de acumulación acelerada. No aplica los puntos acumulados para canjes en Viajes Ripley, certificados de tienda ni súper canjes. Sólo válido para canjes de Gift cards y experiencias.
                    br
                row
                    .col-12.mb-4(style="text-align:center;")
                        a.CondicionesdeBeneficios(href="#" aria-hidden="true" data-dismiss="modal" aria-label="Close" style="font-style: normal;font-weight: 600;font-size: 13px;line-height: 16px;" ) Cerrar condiciones
