section.preguntasFrecuentes.preguntasFrecuentesRptoGo
    .container
        .row
            .col-12
                .col-12.text-center
                    h1.grey.s8.pregFrecTitulo Preguntas frecuentes
            .row
                .col-12.col_box_accordion#box-accordion
                    .row.margenIzquierdaTutorial
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PS-1(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PS-1');")
                            | ¿Necesito tener Tarjeta de crédito o débito Ripley Mastercard para acumular puntos?
                        #acor1PS-1.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo No. No necesitas tener Tarjeta Ripley para acumular RipleyPuntos GO. Solo tienes que afiliarte al programa.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PS-2(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PS-2');")
                            | ¿Hay un costo por afiliarse al programa RipleyPuntos Go?
                        #acor1PS-2.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo
                                li.espacioItemColRptoGo No. La afiliación al programa es completamente gratuita.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PS-3(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PS-3');")
                            | ¿Cómo acumulo RipleyPuntos Go?
                        #acor1PS-3.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo
                                li.espacioItemColRptoGo Después de haberte afiliado al programa, debes ingresar tu documento de identidad en cada compra en Ripley.com.pe o presentarlo en Tiendas Ripley con cualquier medio de pago, excepto con Gift Cards y notas de crédito. Acumulas 1 punto por cada S/ 5.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PS-4(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PS-4');")
                            | ¿Puedo ser cliente Gold Prime o Silver Prime por los puntos acumulados en este programa?
                        #acor1PS-4.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo
                                li.espacioItemColRptoGo No. Los puntos acumulados no aplican para alcanzar categorías Prime. Solo puedes acumular Ripley Puntos Go para canjes. Para convertirte en cliente Prime es necesario tener Tarjeta de Crédito Ripley.
            br
            br
            