//- section.preguntasFrecuentes.preguntasFrecuentesRptoGo.fixFooterCategorias
//-     .container
//-         .row
//-             .col-12
//-                 .col-12.text-center.mt-5
//-                     h1.grey.s8.pregFrecTitulo Preguntas frecuentes
//-             .row
//-                 .col-12.col_box_accordion#box-accordion
//-                     .row.margenIzquierdaTutorial
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-1" aria-expanded="true" aria-controls="acor1-1",style="width:96%;")
//-                             | ¿Cómo puedo ser un cliente Gold Prime o Silver Prime?
//-                         #acor1-1.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Acumula puntos categoría comprando en tiendas <a class="linkPurple4" href="https://simple.ripley.com.pe/" target="_blank">Ripley</a>, desembolsando un préstamo en <a class="linkPurple4" href="https://www.bancoripley.com.pe/"  target="_blank">Banco Ripley</a> o consumiendo en nuestras alianzas. Solo puedes ser cliente Prime si tienes #[strong Tarjeta de Crédito Ripley Mastercard. ]
//-                                         br
//-                                         p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Para ser #[strong Silver Prime ] necesitas tener entre #[strong 5,000 ] y #[strong 10,999 ] RipleyPuntos Go calificables cada año.
//-                                         p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Para ser #[strong Gold Prime ] necesitas al menos #[strong 11,000 ] RipleyPuntos Go calificables cada año.
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-2" aria-expanded="true" aria-controls="acor1-2",style="width:96%;")
//-                             | ¿Qué son los puntos categoría?
//-                         #acor1-2.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Son los puntos que se generan al tener o #[strong utilizar tu Tarjeta Ripley ] en compras en Tiendas Ripley, en desembolsos de préstamos Banco Ripley y en consumos en nuestras alianzas. Las campañas promocionales (multiplicación de puntos o bonos especiales) #[strong no ] suman puntos categoría para acceder a las categorías Prime.
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-3" aria-expanded="true" aria-controls="acor1-3",style="width:96%;")
//-                             | ¿Cómo acumulo puntos categoría?
//-                         #acor1-3.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Acumula puntos categoría con tus compras en Ripley, desembolsos de préstamos Banco Ripley y consumos en nuestras alianzas. Las equivalencias de puntos son:
//-                                             br
//-                                             .divContainerRespuestaAcumulaPuntos.ml-4
//-                                                 .row.mx-0.mx-md-2
//-                                                     .col-12.col-sm-6
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-store-rpg.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Tiendas Ripley
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 1.25 = 1 punto</span> con Tarjeta de Crédito Ripley.
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium <span class="grey t4 semiBold">S/ 5 = 1 punto</span> con otro medio de pago.
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.noIncluyegift (No incluye Gift Cards ni notas de crédito)

//-                                                     .col-12.col-sm-6
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-car-shopping.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Alianzas
//-                                                                 p.grey.t6.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 2.50 = 1 punto</span> con Tarjeta de Crédito Ripley.
//-                                                 .row.mx-0.mx-md-2(style="margin-bottom: -15px;")
//-                                                     .col-12.col-sm-6.mb-5
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4.mt-3
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-cash-provision.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Préstamos
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3.fixRespuestaPrestamo <span class="grey t4 semiBold">S/ 10</span> de desembolso = <span class="grey t4 semiBold"> 1 punto</span> si tienes Tarjeta de Crédito Ripley.
//-                                                 a.CondicionesdeBeneficiosReglamento.ml-5(href="../pdf/reglamento-ripley-puntos-go.pdf" target="_blank") Ver reglamento


//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-4" aria-expanded="true" aria-controls="acor1-4",style="width:96%;")
//-                             | ¿Qué son los RipleyPuntos Go?
//-                         #acor1-4.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                      row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Son los RipleyPuntos Go que obtienes con tus compras en Ripley, desembolsos de préstamos Banco Ripley, consumos en nuestras alianzas y en campañas promocionales (multiplicación de puntos o bonos especiales). Con tus RipleyPuntos Go puedes canjear miles de productos.
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-5" aria-expanded="true" aria-controls="acor1-5",style="width:96%;")
//-                             | ¿Cómo acumulo RipleyPuntos Go?
//-                         #acor1-5.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Acumula RipleyPuntos Go con tus compras en Ripley, <a class="linkPurple4" href="registro-omp.html">afiliación al programa</a>, desembolsos de préstamos Banco Ripley, consumos en nuestras alianzas y en campañas promocionales (multiplicación de puntos o bonos especiales).
//-                                             br
//-                                             .divContainerRespuestaAcumulaPuntos.ml-4
//-                                                 .row.mx-0.mx-md-2
//-                                                     .col-12.col-sm-6
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-store-rpg.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Tiendas Ripley
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 1.25 = 1 punto</span> con Tarjeta de Crédito Ripley.
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium <span class="grey t4 semiBold">S/ 5 = 1 punto</span> con otro medio de pago.
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.noIncluyegift (No incluye Gift Cards ni notas de crédito)

//-                                                     .col-12.col-sm-6
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-car-shopping.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Alianzas
//-                                                                 p.grey.t6.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 2.50 = 1 punto</span> con Tarjeta de Crédito Ripley.
//-                                                 .row.mx-0.mx-md-2
//-                                                     .col-12.col-sm-6.mb-5
//-                                                         .row.mt-3
//-                                                             .col-12.px-0.px-md-1.px-lg-4.mt-3
//-                                                                 .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
//-                                                                     .col-1.mx-0.px-0
//-                                                                         img(src='img/svg/i-cash-provision.svg')
//-                                                                     .col-11.pl-3.pl-md-2.pl-lg-0
//-                                                                         p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Préstamos
//-                                                                 p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3.fixRespuestaPrestamo <span class="grey t4 semiBold">S/ 10</span> de desembolso = <span class="grey t4 semiBold"> 1 punto</span> si tienes Tarjeta de Crédito Ripley.

//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-6" aria-expanded="true" aria-controls="acor1-6",style="width:96%;")
//-                             | ¿Qué significa que los RipleyPuntos Go tengan vigencia?
//-                         #acor1-6.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             p.s7.grey4.medium.itemRespuestaPreguntaFrecuente La vigencia de los RipleyPuntos Go significa que caducan. Si eres cliente #[strong Gold Prime ] te #[strong duran 24 meses ] para que puedas canjearlos y si eres #[strong Silver Prime duran 12 meses. ]
//-                                         br
//-                                         p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Puedes ver la cantidad de tus puntos por vencer en la <a class="linkPurple4" href="javascript:openOlb();">Banca por Internet</a> de Banco Ripley.
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-7" aria-expanded="true" aria-controls="acor1-7",style="width:96%;")
//-                             | ¿Cuáles son los requisitos para canjear mis RipleyPuntos Go?
//-                         #acor1-7.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo 
//-                                 li.espacioItemColRptoGo
//-                                     row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             .row.mb-3
//-                                                 .col-1
//-                                                     img(src='img/svg/i-Ellipse-li.svg')
//-                                                 .col-11    
//-                                                     p.grey.t6.medium.itemRequisitosCanjearPuntos Tiene que ser titular de la tarjeta y presentar DNI.
//-                                             //- .row.ml-5.pl-5
//-                                             //-     img.img-mobile.imgitemRequisitosCanjearPuntos(src='img/svg/i-comparador-ripleypuntos.svg')
//-                                             .row.mt-3
//-                                                 .col-1
//-                                                     img(src='img/svg/i-Ellipse-li.svg')
//-                                                 .col-11
//-                                                     p.grey.t6.medium.itemRequisitosCanjearPuntos Debes contar con los RipleyPuntos necesarios según la promoción.
                                
//-                         button.colorItemAcordionRptoGo.arrow-right(type="button" data-toggle="collapse" data-target="#acor1-8" aria-expanded="true" aria-controls="acor1-8",style="width:96%;")
//-                             | ¿Qué puedo canjear con mis RipleyPuntos Go y dónde?
//-                         #acor1-8.collapse.col-12(data-parent="#box-accordion")
//-                             ul#listaItemTutorialRptoGo(style="margin-right: 5%;margin-left: -24px;")
//-                                 li.espacioItemColRptoGo
//-                                      row
//-                                         .fixwidthRespuestaPreguntaFrecuente
//-                                             .row.mt-4.mb-3
//-                                                 .col-md-2.col-12.mt-2.alignImgLeftText
//-                                                     img.alignImgLeft(src='img/svg/i-canje-giftcard.svg') 
//-                                                     p.grey.t3.medium Gift Cards
//-                                                 .col-md-2.col-12.mt-2.alignImgLeftText
//-                                                     img.alignImgLeft.fixPaddingLeftImgPreguntaFrecuentaCat(src='img/svg/i-canje-cupon.svg') 
//-                                                     p.grey.t3.medium Experiencias
//-                                                 .col-md-2.col-12.mt-2.alignImgLeftText.fixPaddingLeftExperiencia
//-                                                     img.alignImgLeft.fixPaddingLeftImgPreguntaFrecuentaCat(src='img/svg/i-canje-airplane.svg') 
//-                                                     p.grey.t3.medium Viajes
//-                                                 .col-md-6.col-12.mt-2.alignImgLeftText.fixPaddingLeftExperiencia
//-                                                     img.alignImgLeft.fixPaddingLeftImgPreguntaFrecuentaCat(src='img/svg/i-canje-storeripley.svg') 
//-                                                     p.grey.t3.medium Productos seleccionados en Tiendas Ripley
//-                                             .row.mt-4
//-                                                 .col-12
//-                                                     p.grey.s1.medium Puedes canjear tus puntos por Gift Cards, vales de Experiencias y Viajes en Agencias de Banco Ripley.
//-                                                     p.grey.s1.medium Y los productos de Ripley que desees obtener canjéalos en cajas de la tienda donde estés.
//-                                                     br
//-                                                     br
//-                     br
//-                     br
//-             br
//-             br 
section.preguntasFrecuentes.preguntasFrecuentesRptoGo.fixFooterCategorias
    .container
        .row
            .col-12
                .col-12.text-center.mt-5
                    h1.grey.s8.pregFrecTitulo Preguntas frecuentes
            .row
                .col-12.col_box_accordion#box-accordion
                    .row.margenIzquierdaTutorial
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PC-1(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PC-1');")
                            | ¿Cómo y donde acumulo mis RipleyPuntos Go?
                        #acor1PC-1.collapse.col-12(style="display: none;")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Compras en Tiendas Ripley, Ripley.com.pe y Viajes Ripley:
                                                ul
                                                    li.s7.grey4.medium.itemRespuestaPreguntaFrecuente(type="disc") #[strong 1 punto] por cada #[strong S/ 1.25] con Tarjeta de Crédito Ripley.
                                                    li.s7.grey4.medium.itemRespuestaPreguntaFrecuente(type="disc") #[strong 1 punto] por cada #[strong S/ 5.00] con tarjetas de crédito/débito de otro banco y/o efectivo.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Compras en SPOS:
                                                ul
                                                    li.s7.grey4.medium.itemRespuestaPreguntaFrecuente(type="disc") #[strong 1 punto] por cada #[strong S/ 2.50] con Tarjeta de Crédito Ripley en establecimientos afiliados a Mastercard**
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Seguros:
                                                ul
                                                    li.s7.grey4.medium.itemRespuestaPreguntaFrecuente(type="disc") #[strong 1 punto] por cada #[strong S/ 2.50] de pago con Tarjeta  de Crédito Ripley.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Desembolso de Préstamos:
                                                ul
                                                    li.s7.grey4.medium.itemRespuestaPreguntaFrecuente(type="disc") #[strong 1 punto] por cada #[strong S/ 10] de desembolso*.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente * Indispensable que el cliente tenga Tarjeta Ripley y presente su DNI en caja. La acumulación con otro medio de pago no incluye Gift Card ni notas de crédito.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente ** Establecimientos afiliados a Visa y MasterCard ubicados fuera de Tiendas Ripley.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PC-2(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PC-2');")
                            | ¿Cómo puedo ser un cliente Gold y Silver prime? 
                        #acor1PC-2.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente #[strong Silver Prime:] Acumula entre #[strong 5,000] y #[strong 10,999] puntos categoría por compras entre el #[strong 01 de enero] y el #[strong 31 de diciembre] de cada año.
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente #[strong Gold Prime:] Acumula más de #[strong 11,000] puntos categoría por compras entre el #[strong 01 de enero] y el #[strong 31 de diciembre] de cada año.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente *Acumula puntos categoría durante enero y diciembre de cada año (12 meses) y alcanza la categoría. <br>Puntos categoría: puntos obtenidos al cierre de cada mes por las compras realizadas con TC Ripley y desembolsos de productos financieros. No se consideran los puntos por campañas promocionales (multiplicación de puntos o bonos especiales)
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PC-3(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PC-3');")
                            | ¿Qué requisitos debo cumplir para canjear mis RipleyPuntos Go?
                        #acor1PC-3.collapse.col-12(data-parent="#box-accordion")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Tiene que ser titular de la tarjeta y presentar DNI.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Debes contar con los RipleyPuntos necesarios según la promoción.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PC-4(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PC-4');")
                            | ¿Cuándo vencen mis RipleyPuntos Go?
                        #acor1PC-4.collapse.col-12(data-parent="#box-accordion")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                     row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Tus RipleysPuntos Go duran 12 meses para que puedas canjearlos . Si eres cliente #[strong Gold Prime duran 24 meses.]
                    br
                    br
            br
            br 
