section.preguntasFrecuentes.preguntasFrecuentesCanjePromo.fixFooterCategorias
    .container
        .row
            .col-12
                .col-12.text-center
                    h1.grey.s8.pregFrecTitulo Preguntas frecuentes
            .row
                .col-12.col_box_accordion#box-accordion
                    .row.margenIzquierdaTutorial
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-1(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-1');")
                            | ¿Dónde puedo canjear las Gift Cards, vales de Experiencias y Súper Canjes?
                        #acor1PP-1.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Acércate a cualquier agencia de Banco Ripley a nivel nacional para canjear tus Gift Cards, vales de Experiencias en otros comercios y Súper Canjes de productos seleccionados de Tiendas Ripley.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-2(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-2');")
                            | ¿Qué puedo comprar con mi Gift Card canjeada?
                        #acor1PP-2.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Puedes comprar cualquier producto en todas las Tiendas Ripley a nivel nacional.
                                            br
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente * No aplica para productos de concesiones o consignaciones. No pueden ser usados para realizar canjes en Tienda Virtual, productos en AON y Viajes Ripley.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-3(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-3');")
                            | ¿Debo utilizar el total de mi Gift Card en una compra?
                        #acor1PP-3.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente No, puedes utilizarla todas las veces que desees, siempre que disponga de saldo para comprar.

                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-4(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-4');")
                            | ¿Cuánto dura mi Gift Card? 
                        #acor1PP-4.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                     row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Las Gift Cards tienen una duración de 12 meses desde su generación. 
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-5(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-5');")
                            | ¿Solo el titular de la Gift Card puede usarla?
                        #acor1PP-5.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente No. La puede usar la persona que porte la Gift Card.
                        button.colorItemAcordionRptoGo.arrow-right#btn-acor1PP-6(type="button" style="width:96%;" onclick="return OpenPreguntasFrec('acor1PP-6');")
                            | ¿Dónde puedo revisar el saldo de mi Gift Card?
                        #acor1PP-6.collapse.col-12(style="display: none")
                            ul#listaItemTutorialRptoGo 
                                li.espacioItemColRptoGo
                                    row
                                        .fixwidthRespuestaPreguntaFrecuente
                                            p.s7.grey4.medium.itemRespuestaPreguntaFrecuente Puedes consultar el saldo de tu Gift Card en las cajas de Tiendas Ripley.
                                    br
                    br
                    br
            br
            br            