section.contenedorRegistroPromociones#divRegistroPromociones
    .container-fluid
        .row
            .col-md-5.divBannerIzquierdoPRO
                //- .d-none.d-md-block.fondoimgBannerLateralPRO
                //- img.d-md-none.fondoimgMovilBannerLateralPRO(src="../img/ripley_puntos/xs-promocion-form.png")
                img.imgPromocionLateralMovil(src="../img/ripley_puntos/xs-triplica-form-3.png").d-sm-none
                img.imgPromocionLateral(src="../img/ripley_puntos/triplica-form-3.png").d-none.d-sm-block
                
            .col-md-7.divBannerCentroOMP#divBannerCentroPRO(style="display:block;")
                .row
                    .col-12.center-child
                        h1.t1.purpleDark3.bold.titleRegistroOMP Datos personales
                        p.t3.grey.mr-lg-5.mr-xs-0.medium.descripcionRegistroOMP Inscríbete para acceder a la promoción de RipleyPuntos Go.
                form(action="")
                    input(type="hidden" name="fcampana" id="fcampana" value="202004_Restaurantes_Triplica" autocomplete="off")
                    .formContaintOMP                      
                        .row.rowOMP(style="margin-left: 0px; margin-top: 20px;")
                            .form-check.form-tiposDocumento(style="text-align: left;")
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Tipo de documento
                                input#dniPromociones.form-radioD-input(type="radio", name="dniPromociones", checked)
                                label.form-radioD-label.s2.grey.textoCheckOMP.MargintextoCheckOMP0(for="dniPromociones") DNI
                                input#cePromociones.form-radio-input( type="radio", name="cePromociones")
                                label.form-radio-label.s2.grey.textoCheckOMP.MargintextoCheckOMP(for="cePromociones") Carné de Extranjería
                                .invalid-feedback#datosPersonalesPromociones-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child#dniPRO
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Documento
                                input.col-12.s1.form-control.onlyNumbers.inputRegistroOMP#txtdocument(type="text", name="txtdocument", placeholder="Número de documento", maxlength = "8", autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtdocument-message(style="text-align: left;")
                            .col-12.center-child#cePRO(style="display:none;")
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Documento
                                input.col-12.s1.form-control.inputRegistroOMP#txtdocument1(type="text", name="txtdocument1", placeholder="Número de documento", minlength="9" maxlength = "9", autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtdocument1-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Celular
                                input.col-12.s1.form-control.cellphone.inputRegistroOMP#txtcelular(type="text", name="txtcelular", placeholder="Número de celular", maxlength = "9",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtcelular-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Email
                                input.col-12.s1.form-control.inputRegistroOMP#txtemail(type="text", name="txtemail", placeholder="Dirección de email", maxlength = "70",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtemail-message(style="text-align: left;")
                        .row.rowOMP(style="margin-left: -8px;margin-top: 20px;")
                            .form-check.form-datosPersonalesPromociones
                                input#datosPersonalesPromociones.form-check-input(type="checkbox", name="datosPersonalesPromociones")
                                label.form-check-label.s2.grey.textoCheckOMP(for="datosPersonalesPromociones") He leído y autorizo el <a class="s2" href="pdf\tratamiento-de-datos-personales-ripley-puntos-go.pdf" target="_blank">Tratamiento de Datos Personales</a>
                                .invalid-feedback#datosPersonalesPromociones-message(style="text-align: left;")
                        br
                        .divReCaptcha
                            .g-recaptcha#recaptcha_pro(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="RegisterPromotion")
                        button#btnEnviarPRO.btn.btnRegistroOMP(type="button") Enviar
                br
                br
            .col-md-7.divBannerCentroOMPConfirm#divBannerCentroPROConfirm(style="display:none;")
                .formConfirmContaintOMP
                    .mensaje-final-OMP
                        br
                        br
                        img(src="../img/svg/i-radio-checkomp.svg")
                        br
                        br
                        h2.t1.purpleDark.bold.titleConfirmOMP#tituloConfirmacionPRO ¡Felicidades!
                        h2.t1.purpleDark.bold.titleConfirmOMP#nombreRegistroPRO(style="margin-top: -10px;")
                        br
                        p.t4.purpleDark.strongLight.subtitleConfirmOMP#subtitleConfirmPRO Tu inscripción se realizó con éxito.
                        br.d-none.d-md-inline-block
                        br
                        p.t4.grey.parrofoConfirmOMP#parrafoNoExisteClientPRO(style="display:block;") Ya puedes multiplicar tus RipleyPuntos Go comprando con tu Tarjeta Ripley los productos señalados.
                        br
                        br
                        button#btnIrInicioOMP.btn.btnInicioOMP(type="button" onClick="window.location.href = './index.html'") Ir a Promociones
                        br
                        br
                br
                br
