- var classContenedor_beneficio = [classContenedor_beneficio1,classContenedor_beneficio2,classContenedor_beneficio3,classContenedor_beneficio4,classContenedor_beneficio5,classContenedor_beneficio6,classContenedor_beneficio7,classContenedor_beneficio8,classContenedor_beneficio9,classContenedor_beneficio10,classContenedor_beneficio11,classContenedor_beneficio12,classContenedor_beneficio13,classContenedor_beneficio14,classContenedor_beneficio15];
- var tab1_txtHeader = [tab1_txtHeader1,tab1_txtHeader2,tab1_txtHeader3,tab1_txtHeader4,tab1_txtHeader5,tab1_txtHeader6,tab1_txtHeader7,tab1_txtHeader8,tab1_txtHeader9,tab1_txtHeader10,tab1_txtHeader11,tab1_txtHeader12,tab1_txtHeader13,ptab1_txtHeader14,ptab1_txtHeader15];
//- var header_beneficio = [header_beneficio1,header_beneficio2,header_beneficio3,header_beneficio4,header_beneficio5,header_beneficio6,header_beneficio7,header_beneficio8,header_beneficio9,header_beneficio10,header_beneficio11,header_beneficio12,header_beneficio13,header_beneficio14,header_beneficio15];
- var tab1_imgLogo = [tab1_imgLogo1,tab1_imgLogo2,tab1_imgLogo3,tab1_imgLogo4,tab1_imgLogo5,tab1_imgLogo6,tab1_imgLogo7,tab1_imgLogo8,ptab1_imgLogo9,tab1_imgLogo10,tab1_imgLogo11,tab1_imgLogo12,tab1_imgLogo13,tab1_imgLogo14,tab1_imgLogo15];
- var tab1_dctoCard = [tab1_dctoCard1,tab1_dctoCard2,tab1_dctoCard3,tab1_dctoCard4,tab1_dctoCard5,tab1_dctoCard6,tab1_dctoCard7,tab1_dctoCard8,tab1_dctoCard9,tab1_dctoCard10,tab1_dctoCard11,tab1_dctoCard12,tab1_dctoCard13,tab1_dctoCard14,tab1_dctoCard15];
- var tab1_detalleDctoCard = [tab1_detalleDctoCard1,tab1_detalleDctoCard2,tab1_detalleDctoCard3,tab1_detalleDctoCard4,tab1_detalleDctoCard5,tab1_detalleDctoCard6,tab1_detalleDctoCard7,tab1_detalleDctoCard8,tab1_detalleDctoCard9,tab1_detalleDctoCard10,tab1_detalleDctoCard11,tab1_detalleDctoCard12,tab1_detalleDctoCard13,tab1_detalleDctoCard14,tab1_detalleDctoCard15];
- var tab1_cardLink = [tab1_cardLink1,tab1_cardLink2,tab1_cardLink3,tab1_cardLink4,tab1_cardLink5,tab1_cardLink6,tab1_cardLink7,tab1_cardLink8,tab1_cardLink9,tab1_cardLink10,tab1_cardLink11,tab1_cardLink12,tab1_cardLink13,tab1_cardLink14,tab1_cardLink15];
- var typeBox = [typeBox1,typeBox2,typeBox3,typeBox4,typeBox5,typeBox6,typeBox7,typeBox8,typeBox9,typeBox10,typeBox11,typeBox12,typeBox13,typeBox14,typeBox15];
- var numBoxDescuento = '8';
- var tab1_condicionDctoCard = [tab1_condicionDctoCard1,tab1_condicionDctoCard2,tab1_condicionDctoCard3,tab1_condicionDctoCard4,tab1_condicionDctoCard5,tab1_condicionDctoCard6,tab1_condicionDctoCard7,tab1_condicionDctoCard8,tab1_condicionDctoCard9,tab1_condicionDctoCard10,tab1_condicionDctoCard11,tab1_condicionDctoCard12,tab1_condicionDctoCard13,tab1_condicionDctoCard14,tab1_condicionDctoCard15];
- var tab1_classEnlace = [tab1_classEnlace1,tab1_classEnlace2,tab1_classEnlace3,tab1_classEnlace4,tab1_classEnlace5,tab1_classEnlace6,tab1_classEnlace7,tab1_classEnlace8,tab1_classEnlace9,tab1_classEnlace10,tab1_classEnlace11,tab1_classEnlace12,tab1_classEnlace13,tab1_classEnlace14,tab1_classEnlace15];
- var tab1_txtCategoria = [tab1_txtCategoria1,tab1_txtCategoria2,tab1_txtCategoria3,tab1_txtCategoria4,tab1_txtCategoria5,tab1_txtCategoria6,tab1_txtCategoria7,tab1_txtCategoria8,tab1_txtCategoria9,tab1_txtCategoria10,tab1_txtCategoria11,tab1_txtCategoria12,tab1_txtCategoria13,tab1_txtCategoria14,tab1_txtCategoria15];
- var tab1_txtMarca = [tab1_txtMarca1,tab1_txtMarca2,tab1_txtMarca3,tab1_txtMarca4,tab1_txtMarca5,tab1_txtMarca6,tab1_txtMarca7,tab1_txtMarca8,tab1_txtMarca9,tab1_txtMarca10,tab1_txtMarca11,tab1_txtMarca12,tab1_txtMarca13,tab1_txtMarca14,tab1_txtMarca15];




mixin boxDescuento(active,textoHeader,imgPromocion,textoPromocion,textoPromocionEn,linkDescuento,typeBox, condicionPromocion, classEnlace, categoria,marca)
    li.col-sm-6.col-lg-4.box-descuento(class=active)
        if typeBox == 'blue'
            .contenedor_boxColorPromocion.boxBlue
                .box-descuento__header.s2.bold=textoHeader
                .box-descuento__contenido.d-flex.flex-column.align-items-center
                    img(src='img/svg/'+imgPromocion alt!=textoHeader + ' - Banco Ripley Perú').lazy
                    p.bold.purpleDark.t3.text-center!=textoPromocion
                    .row.mx-1
                        span.s7.fontTextoPromoHome.grey.medium.text-center!=textoPromocionEn
                    .row
                        p.s3.subtitleBen_Categ.semiBold.text-center.condicionDescuento!=condicionPromocion
                    if condicionPromocion == ''
                        .row(style="margin-top:16px;")
                    if(linkDescuento != '')
                        if (linkDescuento!='promociones.html')
                            a.s2.purple.link.semiBold.bottomInfo(href=linkDescuento, data-category=marca+" "+categoria, data-action="click", data-label=textoHeader+" "+textoPromocionEn,data-value="0", data-nonInteraction="false", target="", class=classEnlace) Más info
                        else
                            a.s2.purple.link.semiBold.bottomInfo(href=linkDescuento, data-category=marca+" "+categoria, data-action="click", data-label=textoHeader+" "+textoPromocionEn,data-value="0", data-nonInteraction="false", target="", class=classEnlace) Inscríbete Aquí 
        else if typeBox == 'purpleDark'
            .contenedor_boxColorPromocion.boxPurple
                .box-descuento__header.s2.bold=textoHeader
                .box-descuento__contenido.d-flex.flex-column.align-items-center
                    img(src='img/svg/' + imgPromocion alt=textoHeader + ' - Banco Ripley Perú').lazy
                    p.bold.purpleDark.t3.text-center!=textoPromocion
                    .row.mx-1
                        span.s7.grey.medium.text-center!=textoPromocionEn
                    .row
                        p.s3.subtitleBen_Categ.semiBold.text-center.condicionDescuento!=condicionPromocion
                    .row.mx-1
                        a.s2.purple.link.semiBold.bottomInfo(href=linkDescuento, data-category=marca+" "+categoria, data-action="click", data-label=textoHeader+" "+textoPromocionEn,data-value="0", data-nonInteraction="false", target="_blank", class=classEnlace) Más info
        else
            .contenedor_boxColorPromocion
                .box-descuento__header.s2.bold=textoHeader
                .box-descuento__contenido.d-flex.flex-column.align-items-center
                    img(src='img/svg/' + imgPromocion alt=textoHeader + ' - Banco Ripley Perú').lazy
                    p.bold.purpleDark.t3.text-center!=textoPromocion
                    .row.mx-1
                        span.s7.grey.medium.text-center!=textoPromocionEn
                    .row
                        p.s3.subtitleBen_Categ.semiBold.text-center.condicionDescuento!=condicionPromocion
                    a.s2.purple.link.semiBold.bottomInfo(href=linkDescuento, data-category=marca+" "+categoria, data-action="click", data-label=textoHeader+" "+textoPromocionEn,data-value="0", data-nonInteraction="false",  target="_blank", class=classEnlace) Más info


section.container-fluid.cont-descuentos
    .col-12.mt-4
        .container
            .row
                .col-12
                    h2.t3.semiBold.light.text-center.t5.purpleDark3 Promociones <br>
                    p.grey.s4.text-center.medium ¡Sácale provecho a nuestras promociones!
                    br
                .clearfix

                #slide-dsctop(data-ride="carousel").col-12.carousel.slider.slide.slide-descuentos.d-sm-none
                    ul.carousel-inner
                        - for (var i = 0; i < numBoxDescuento ; i++)
                            if tab1_txtHeader[i]
                                +boxDescuento('carousel-item '+classContenedor_beneficio[i],tab1_txtHeader[i],tab1_imgLogo[i],tab1_dctoCard[i],tab1_detalleDctoCard[i],tab1_cardLink[i],typeBox[i],tab1_condicionDctoCard[i],tab1_classEnlace[i],tab1_txtCategoria[i],tab1_txtMarca[i])
                    a.carousel-control-prev.js_prev.prev(href="#slide-dsctop" role="button" data-slide="prev")
                    a.carousel-control-next.js_next.next(href="#slide-dsctop" role="button" data-slide="next")

                .col-12.slide-descuentos.d-none.d-sm-inline-block
                    .frame-descuentos
                        ul.descuentos.row
                            - for (var i = 0; i < numBoxDescuento ; i++)
                                if tab1_txtHeader[i]
                                    +boxDescuento(classContenedor_beneficio[i],tab1_txtHeader[i],tab1_imgLogo[i],tab1_dctoCard[i],tab1_detalleDctoCard[i],tab1_cardLink[i],typeBox[i],tab1_condicionDctoCard[i],tab1_classEnlace[i],tab1_txtCategoria[i],tab1_txtMarca[i])
                    a(href="javascript:;").js_prev.prev.d-sm-none
                    a(href="javascript:;").js_next.next.d-sm-none
                .col-12.text-center
                    p.s1.purpleDark3 ¿Tienes Tarjeta Ripley?
                    a.mt-2.btnRed.semiBold.mb-3(href="javascript:goToCanjes('canjes.html?t=giftcards')") Ver todas las promociones



