section.contenedorRegistroOMP#divRegistroOMP
    .container-fluid
        .row
            .col-md-5.divBannerIzquierdoOMP
                //- .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                //-         .col-1.mx-0.px-0.mt-2.fixMarginImgInstruccionOMP
                //-             img.imgItemInstruccionOMP.fixCustomImg(src='../img/svg/i-form.svg')
                //-         .col-11.pl-3.pl-md-2.pl-lg-0
                //-             p.d-none.d-md-block.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Inscríbete al programa RipleyPuntos Go llenando el formulario.
                //-             p.d-md-none.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Inscríbete llenando el formulario.
                //- .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                //-         .col-1.mx-0.px-0.mt-2.fixMarginImgInstruccionOMP
                //-             img.imgItemInstruccionOMP(src='../img/svg/i-ID.svg')
                //-         .col-11.pl-3.pl-md-2.pl-lg-0
                //-             p.d-none.d-md-block.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Presenta tu DNI en cada compra en Tiendas Ripley o ingrésalo en Ripley.com
                //-             p.d-md-none.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Presenta tu DNI en cada compra en Ripley o ingrésalo en Ripley.com
                //- .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                //-         .col-1.mx-0.px-0.mt-2.fixMarginImgInstruccionOMP
                //-             img.imgItemInstruccionOMP(src='../img/svg/i-star.svg')
                //-         .col-11.pl-3.pl-md-2.pl-lg-0
                //-             p.d-none.d-md-block.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Empieza a acumular RipleyPuntos Go por tus compras.
                //-             p.d-md-none.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Acumula puntos por tus compras.
                //- .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                //-         .col-1.mx-0.px-0.mt-2.fixMarginImgInstruccionOMP
                //-             img.imgItemInstruccionOMP(src='../img/svg/i-gift_card.svg')
                //-         .col-11.pl-3.pl-md-2.pl-lg-0
                //-             p.d-none.d-md-block.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Canjéalos por Gift Cards y vales de consumo en Agencias de Banco Ripley.
                //-             p.d-md-none.grey4.s1.mx-0.mx-sm-2.mx-md-2.mx-lg-0.medium.mt-lg-3.itemInstruccionOMP Canjea por gift cards y más en Banco Ripley.
                //- .d-none.d-md-block.fondoimgBannerLateralOMP
                //- img.d-md-none.fondoimgMovilBannerLateralOMP(src="../img/ripley_puntos/xs-maju_omp1.png")
                img.imgPromocionLateralMovil2(src="../img/ripley_puntos/xs-acumula-ripley-puntos-go-form.png").d-sm-none
                img.imgPromocionLateral(src="../img/ripley_puntos/acumula-ripley-puntos-go-form.png").d-none.d-sm-block

            .col-md-7.divBannerCentroOMP#divBannerCentroOMP(style="display:block;")
                .row
                    .col-12.center-child
                        h1.t1.purpleDark3.bold.titleRegistroOMP Datos personales
                        p.t3.grey.mr-lg-5.mr-xs-0.medium.descripcionRegistroOMP Bríndanos tus datos para inscribirte gratis al programa RipleyPuntos Go.
                form(action="")
                    input(type="hidden" name="fcuenta" id="fcuenta" value="0" autocomplete="off")
                    input(type="hidden" name="fnumero" id="fnumero" value="0" autocomplete="off")
                    input(type="hidden" name="fcampana" id="fcampana" value="20181130_mailing_formulario_ripley_puntos" autocomplete="off")
                    .formContaintOMP
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Nombres
                                input.col-12.s1.form-control.onlyLetters.inputRegistroOMP#txtnombrecompleto(type="text", name="txtnombrecompleto", placeholder="Nombre completo", maxlength = "60",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtnombrecompleto-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Apellidos
                                input.col-12.s1.form-control.onlyLetters.inputRegistroOMP#txtapellidos(type="text", name="txtapellidos", placeholder="Apellidos", maxlength = "60",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtapellidos-message(style="text-align: left;")
                        .row.rowOMP(style="display:none;")
                            .col-12.center-child
                                .form-check.form-tiposDocumento(style="text-align: left;")
                                    p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Tipo de documento
                                    input#dniPromocionesOMP.form-radioD-input(type="radio", name="dniPromocionesOMP", checked)
                                    label.form-radioD-label.s2.grey.textoCheckOMP.MargintextoCheckOMP0(for="dniPromocionesOMP") DNI
                                    input#cePromocionesOMP.form-radio-input( type="radio", name="cePromocionesOMP")
                                    label.form-radio-label.s2.grey.textoCheckOMP.MargintextoCheckOMP(for="cePromocionesOMP") Carné de Extranjería
                                    .invalid-feedback#datosPersonalesPromociones-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child#dniOMP
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") DNI
                                input.col-12.s1.form-control.onlyNumbers.inputRegistroOMP#txtdocumentOMP(type="text", name="txtdocumentOMP", placeholder="Número de dni", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtdocumentOMP-message(style="text-align: left;")
                            .col-12.center-child#ceOMP(style="display:none;")
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Documento
                                input.col-12.s1.form-control.onlyNumbers.inputRegistroOMP#txtdocument1OMP(type="text", name="txtdocument1OMP", placeholder="Número de documento", maxlength = "9",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtdocument1OMP-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Celular
                                input.col-12.s1.form-control.cellphone.inputRegistroOMP#txtcelular(type="text", name="txtcelular", placeholder="Número de celular", maxlength = "9",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtcelular-message(style="text-align: left;")
                        .row.rowOMP
                            .col-12.center-child
                                p.grey.mt-2.medium(style="font-size: 14px;line-height: 17px; color: #404040;text-align: left;padding-bottom:7px;") Email
                                input.col-12.s1.form-control.inputRegistroOMP#txtemail(type="text", name="txtemail", placeholder="Dirección de email", maxlength = "70",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                                .invalid-feedback#txtemail-message(style="text-align: left;")
                        .row.rowOMP(style="margin-left: -8px;margin-top: 20px;")
                            .form-check.form-datosPersonalesOMP
                                input#datosPersonalesOMP.form-check-input(type="checkbox", name="datosPersonalesOMP")
                                label.form-check-label.s2.grey.textoCheckOMP(for="datosPersonalesOMP") He leído y autorizo el <a class="s2" href="pdf\tratamiento-de-datos-personales-ripley-puntos-go.pdf" target="_blank">Tratamiento de Datos Personales</a>
                                .invalid-feedback#datosPersonalesOMP-message(style="text-align: left;")
                        br
                        .divReCaptcha
                            .g-recaptcha#recaptcha_omp(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="RegisterClient_OMP")
                        button#btnEnviarOMP.btn.btnRegistroOMP(type="button" style="font-weight: 500 !important;" ) Enviar
                        br
                        br
            .col-md-7.divBannerCentroOMPConfirm#divBannerCentroOMPConfirm(style="display:none;")
                .formConfirmContaintOMP
                    .mensaje-final-OMP
                        br
                        br
                        img(src="../img/svg/i-radio-checkomp.svg")
                        br
                        br
                        //- h2.t1.purpleDark.bold.titleConfirmOMP#tituloConfirmacionOMP ¡Felicidades,<br><span id="nombreRegistroOMP" class="t1 purpleDark bold titleConfirmOMP"></span>
                        h2.t1.purpleDark.bold.titleConfirmOMP#tituloConfirmacionOMP ¡Felicidades,
                        h2.t1.purpleDark.bold.titleConfirmOMP#nombreRegistroOMP(style="margin-top: -10px;")
                        br
                        p.t4.purpleDark.strongLight.subtitleConfirmOMP Gracias por formar parte de nuestra familia
                        br.d-none.d-md-inline-block
                        br
                        p.t4.grey.parrofoConfirmOMP#parrafoNoExisteClientOMP(style="display:block;") Ya puedes empezar a acumular RipleyPuntos Go.<br>Recuerda presentar siempre tu documento de identidad al momento de tu compra en Tiendas Ripley.
                        p.t4.grey.parrofoConfirmOMP#parrafoExisteClientOMP(style="display:none;") Recuerda que ya puedes acumular RipleyPuntos Go.<br>Solo tienes que presentar siempre tu documento de identidad al momento de tu compra en Tiendas Ripley.
                        br
                        br
                        button#btnIrInicioOMP.btn.btnInicioOMP(type="button" onClick="window.location.href = 'canjes.html?t=experienciasSTR'") Ir a canjes
                        br
                        br
                br
                br