section.seccionRipleyPuntos
    .container
        .row.px-3.px-sm-2
            .col-12.col-sm-6.contenido-seccion.px-0.px-md-4
                .row.contenido-info.pl-md-0.mx-0.mb-3.mb-lg-5
                    .col-12.px-0.d-sm-none
                        .contenido-img
                            img(src='img/ripley_puntos/xs-ripley-star.png' style="max-width: 568px;")
                    .col-12.pr-3.pr-md-0.pt-3.pt-lg-5
                        h1.purpleDark3.semiBold.t7.mx-lg-5.mt-lg-3.pr-lg-4.text-left ¿Qué son los RipleyPuntos Go?
                    .col-12.pr-3.pr-md-0
                        p.grey.s4.mx-lg-5.mt-4.medium.fontQueSonRipleyPuntosGo Es el programa de beneficios que te otorga puntos por usar o tener Tarjeta de Crédito Ripley, por afiliarte para acumular y por el desembolso de préstamos.
                        a.btnVerReglamentoRPTGO.fuenteVerReglamentoRPTGO.d-none.d-sm-flex(href="../pdf/reglamento-ripley-puntos-go.pdf" target="_blank" sandbox="allow-popups") Ver reglamento
                        //- a.btnVerReglamentoRPTGO.fuenteVerReglamentoRPTGO.d-none.d-sm-flex(href="#" onclick="return OpenPDFTargetBlank('../pdf/reglamento-ripley-puntos-go.pdf');") Ver reglamento
                        a.btnVerReglamentoRPTGO.fuenteVerReglamentoRPTGO.pl-3.d-sm-none(href="../pdf/reglamento-ripley-puntos-go.pdf" target="_blank" style="margin-left:0 !important;" ) Ver reglamento
            .col-12.col-sm-6.my-3.d-none.d-sm-block
                .row.img-height
                    .contenido-img(style="background: #FFFFFF;     border: 1px solid rgba(151, 153, 155, 0.1); box-sizing: border-box; border-radius: 4.81509px;")
                        img(src='img/ripley_puntos/ripley-star.png' style="max-width: 568px;")

section.contenedorRipleyPuntos.mb-4
    .container
        .row.px-3.px-sm-2
            .contenido-seccion.px-0.px-md-3
                .col-12.mt-4.mt-lg-5
                    h2.purpleDark3.semiBold.t7.textAlign ¿Cómo acumular<span class="purpleDark3 t7 bold"> RipleyPuntos Go?</span>
                    p.grey.s4.mx-0.mx-md-4.medium.mt-lg-4 Acumulas puntos al realizar compras en Ripley, en desembolso de préstamos y al consumir en nuestras alianzas.
                    p.grey.s4.mx-0.mx-md-4.medium.mt-4.mt-sm-2 Todos los puntos que ganas en campañas promocionales se suman a tus puntos acumulados.
                .row.mx-0.mx-md-2
                    .col-12.col-sm-6
                        .row.mt-3.ml-0.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-store-rpg.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.semiBold Tiendas Ripley y Ripley.com.pe
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 1.25 = 1 punto</span> con Tarjeta de Crédito Ripley.
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium <span class="grey t4 semiBold">S/ 5 = 1 punto</span> con otro medio de pago. 
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.noIncluyegift (No incluye Gift Cards ni notas de crédito)

                    .col-12.col-sm-6
                        .row.mt-3.ml-1.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-car-shopping.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.mt-1.semiBold Alianzas
                                p.grey.t6.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 2.50 = 1 punto</span> con Tarjeta de Crédito Ripley.
                .row.mx-0.mx-md-2
                    .col-12.col-sm-6.mb-5
                        .row.mt-3.ml-0.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-3.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-cash-provision.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-1.mt-1.semiBold Préstamos
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 10</span> de desembolso = <span class="grey t4 semiBold"> 1 punto</span> si tienes Tarjeta de Crédito Ripley.
                //- .row(style="margin: -50px 23px 27px 0px;")
                //-     .col-12.text-right.d-none.d-sm-block
                //-         p.s7.grey5 * Equivalencias válidas desde el 15 de marzo del 2020.
                //-     .col-12.text-left.mt-4.d-sm-none
                //-         p.s7.grey5 * Equivalencias válidas desde el 15 de marzo del 2020.

section#secctionContenedorClientPrimeCP.contenedorClientPrimeCanjePromo.center-child.py-lg-4.py-3(style="display:none;")
    .container
        .row.cssNoConsult.mb-5#RestulConsultNothing(style="display:none;")
            .col-12
                .row
                    .col-12
                        h1.s8.mt-4.semiBold.purpleDark3.mb-0.text-center.mb-3 ¡Hola!
                .row
                    .col-12
                        p.s1.grey4.text-center.mb-3(style="line-height: 17px;") Lamentablemente aún no tienes una Tarjeta Ripley.
                        p.s1.grey4.text-center.mb-2(style="line-height: 22px;") Si te #[strong afiliaste previamente ] al programa RipleyPuntos Go para acumular puntos sin tarjeta #[strong comunícate al Ripleyfono 01 611-5959 ] o acércate a una #[strong agencia de Banco Ripley ] para consultar tus RipleyPuntos Go.
                .row
                    .col-12.text-center
                        a.s1.purple4.cssInscribiteAqui( style="" href="registro-omp.html") O afíliate aquí
        .row.mb-5#RestulConsult(style="display:none;")
            .col-12.col-md-7
                .row
                    .col-12.col-title-segmento
                        h1.s8.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Felicidades, <span class="purpleDark3 semiBold s8" id="nombreCP">Amelia!</span>
                        p.t6.mt-2.medium.grey5.text-center Eres nuestro cliente  
                            span.s9.purple4.bold.catcliente#catclienteRIPLEY RIPLEY
                            span.s9.grey5.bold.catcliente#catclienteSILVER RIPLEY
                            span.s9.bold.catcliente#catclienteGOLD(style="color: #f8c21c !important") RIPLEY
                .row
                    .col-12.col-subtitle-segmento.d-none.d-md-block
                        p.s1.grey5 Acércate a cualquier agencia de Banco Ripley para realizar tus canjes.
            .col-12.col-md-5
                .col-12.box-puntos2.col-box-segmento
                    p.grey5.mx-3.mt-3.semiBold.t10.responsiveBoxCaja2 Tienes
                    p.purple4.mx-3.mt-0.semiBold.t7#puntajeTotalCP.responsiveBoxCaja2 4,100 
                    P.grey4.mx-3.mt-0.medium.t10.mb-3.responsiveBoxCaja RipleyPuntos Go disponibles al 30/09/2019.
            .row.d-md-none
                .row
                    .col-12
                        .divCentroFix
                            p.s1.grey5 Acércate a cualquier agencia de Banco Ripley para realizar tus canjes.
        //- quitar esta linea
        .row#firstConsult
            row.col-12.px-5.px-lg-0.col-md-7.center-child.link-product(href=urlTarjeta target=targetTarjeta)
                .col-md-11.offset-md-1.col-lg-9.offset-lg-3.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2.mt-3
                        .col-12.center-child.px-0
                            p.blue1.tituloCategoria_rpgo(style="font-size: 20px !important") Descubre cuántos RipleyPuntos Go tienes
                            p.s1.grey5.mr-lg-5.mr-xs-0.medium.mt-3.fixMargenResponsiveCP Recuerda que solo puedes canjear con tus RipleyPuntos Go.
            row.col-12.px-5.px-lg-0.col-md-5.center-child.link-product(href=urlPrestamo target=targetPrestamo onClick="")
                .col-md-11.col-lg-6.col-12
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            p.grey.mt-2.medium(style="font-size: 14px; color: #fff") DNI
                            input.col-12.s1.form-control.onlyNumbers#nroDocumentoCP(type="text", name="nroDocumentoPrestamo", placeholder="Número de DNI", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                            .invalid-feedback#documento-messageCP(style="text-align: left;")
                            br
                            .divReCaptcha
                                .g-recaptcha#recaptcha1(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClientCP")
                            button#btnEnviarCP.btn.btnConsultarPrimeCanjePromo(type="button") Consultar
        .row#secondConsult(style="display:none;")
            row.col-12
                .formConsultaCPLine
                    img(src="img/svg/line-cp.svg")
            row.col-12
                .formConsultaCP
                    .row.sol-producto.py-lg-3.py-1.px-xs-1.px-sm-2
                        .col-12.center-child.px-0
                            p.S8.blue1.bold.fontDescubre(style="") Descubre tus RipleyPuntos Go
                            p.grey.mt-2.medium(style="font-size: 14px; color: #fff") DNI
                            input.col-12.s1.form-control.onlyNumbers#nroDocumentoCP2(type="text", name="nroDocumentoPrestamo", placeholder="Número de DNI", maxlength = "8",  autocomplete="off" style="font-family: Montserrat,sans-serif;")
                            .invalid-feedback#documento-messageCP2(style="text-align: left;")
                            br
                            .divReCaptcha
                                .g-recaptcha#recaptcha2(data-sitekey="6LdnF8AUAAAAAH5jU3Af0HlacyCNRssJoHd6Rqu6", data-size = "invisible", data-callback="consultarPointsClientCP")
                            button#btnEnviarCP2.btn.btnConsultarPrimeCanjePromo(style="margin-top: -5px;width: 160px;height: 35px;" type="button") Consultar
    
section.contenedorRipleyPuntos
    .container
        .row.px-3.px-sm-2
            //- .contenido-seccion.box-pg
            //-     .row.contenido-info.mx-2
            //-         .row.mx-0.mx-md-2.ml-md-5.mt-4
            //-             .col-12
            //-                 h2.purpleDark3.semiBold.t7.text-left <span class="purpleDark3 bold t7">Canjea</span> tus RipleyPuntos Go
            //-         .row.mx-3.mx-md-5
            //-             .col-1.col-1.mx-0.px-0.text-right
            //-                 li.purpleDark3
            //-             .col-11.mx-0.px-0
            //-                 p.grey.t6.medium Necesitas mínimo <span class="grey t6 semiBold">2,500</span> RipleyPuntos Go, que equivalen a S/ 25.
            //-         .row.mx-3.mx-md-5.mt-2
            //-             .row.mx-2.rounded.mx-auto
            //-                 img.img-mobile(src='img/svg/i-comparador-ripleypuntos.svg')
            //-         .row.mx-3.mx-md-5.mt-2
            //-             .col-1.col-1.mx-0.px-0.text-right
            //-                 li.purpleDark3
            //-             .col-11.mx-0.px-0
            //-                 p.grey.t6.medium Tienes que ser titular de la Tarjeta o estar afiliado.
            //-         .row.mx-3.mx-md-5.mt-2
            //-             .col-1.col-1.mx-0.px-0.text-right
            //-                 li.purpleDark3
            //-             .col-11.mx-0.px-0
            //-                 p.grey.t6.medium Acércate a una Tienda Ripley o un Banco Ripley, según lo que quieres canjear.
            //-         .row.mx-3.mx-md-5.mt-2
            //-             .col-1.col-1.mx-0.px-0.text-right
            //-                 li.purpleDark3
            //-             .col-11.mx-0.px-0
            //-                 p.grey.t6.medium Elige en qué canjear tus puntos, presenta tu documento de identidad.
            //-         .row.mx-3.mx-md-5.mt-2.mb-5
            //-             .col-1.col-1.mx-0.px-0.text-right
            //-                 li.grey(style="list-style-type: none;")
            //-             .col-11.mx-0.px-0
            //-                 p.grey.t6.medium ¡Y disfruta!
            //- .box-center-pg
            .contenido-seccion
                .row.contenido-info.mx-2.col-12
                    .row.mx-0.mt-4
                        .col-12
                            h2.purpleDark3.t7.semiBold.text-center Todo lo que puedes canjear
                    br
                    .row.col-12.mx-0.mx-md-5.mb-5
                        .col-12.col-sm-6.px-0
                            .row.mx-0.mx-md-4.mt-2
                                .col-sm-12.mx-3.px-0.d-none.d-md-block
                                    p.espacioItemColRptoGo.purpleC2 <img class="itemVinhetaSegmentador mr-2" src="../img/svg/i-Ellipse-item.svg"> Si tienes Tarjeta Ripley
                                .col-12.pr-0.d-md-none
                                    p.espacioItemColRptoGo.purpleC2 <img class="itemVinhetaSegmentador mr-2" src="../img/svg/i-Ellipse-item.svg"> Si tienes Tarjeta Ripley
                            .row.mx-0.mx-md-4.mt-3
                                .col-sm-1.mx-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-giftcard.svg')
                                .col-2.pr-0.d-md-none
                                    img(src='img/svg/i-canje-giftcard.svg') 
                                .col-sm-11.col-md-10.pl-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Gift Cards
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Gift Cards
                            .row.mx-0.mx-md-4.mt-2
                                .col-sm-1.mx-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-cupon.svg')
                                .col-2.pr-0.d-md-none
                                    img(src='img/svg/i-canje-cupon.svg') 
                                .col-sm-11.col-md-10.pl-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Experiencias
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Experiencias
                            .row.mx-0.mx-md-4.mt-2
                                .col-sm-1.mx-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-airplane.svg')
                                .col-2.pr-0.d-md-none
                                    img(src='img/svg/i-canje-airplane.svg') 
                                .col-sm-11.col-md-10.pl-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Viajes
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Viajes
                            .row.mx-0.ml-md-4.mt-2
                                .col-sm-1.ml-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-storeripley.svg')
                                .col-2.pr-0.d-md-none
                                    img.mt-2(src='img/svg/i-canje-storeripley.svg') 
                                .col-sm-11.col-md-10.px-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Productos seleccionados en Tiendas Ripley
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Productos seleccionados en Tiendas Ripley
                            //- .row.mx-0.mx-md-5.mt-3.mt-sm-5.mb-4.mb-sm-0
                                .col-12
                                    p.grey.s1.medium.fontTodoPuedeCanjear Los puntos que has ganado en campañas promocionales también se han acumulado para que canjees lo que desees.
                        .col-12.col-sm-6.px-0
                            .row.mx-0.mx-md-4.mt-2
                                .col-sm-12.mx-3.px-0.d-none.d-md-block
                                    p.espacioItemColRptoGo.purpleC2 <img class="itemVinhetaSegmentador mr-2" src="../img/svg/i-Ellipse-item.svg"> Si te afiliaste sin tener Tarjeta Ripley
                                .col-12.pr-0.d-md-none
                                    p.espacioItemColRptoGo.purpleC2 <img class="itemVinhetaSegmentador mr-2" src="../img/svg/i-Ellipse-item.svg"> Si te afiliaste sin tener Tarjeta Ripley
                            .row.mx-0.mx-md-4.mt-3
                                .col-sm-1.mx-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-giftcard.svg')
                                .col-2.pr-0.d-md-none
                                    img(src='img/svg/i-canje-giftcard.svg') 
                                .col-sm-11.col-md-10.pl-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Gift Cards
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Gift Cards
                            .row.mx-0.mx-md-4.mt-2
                                .col-sm-1.mx-1.px-0.d-none.d-md-block
                                    img(src='img/svg/i-canje-cupon.svg')
                                .col-2.pr-0.d-md-none
                                    img(src='img/svg/i-canje-cupon.svg') 
                                .col-sm-11.col-md-10.pl-lg-0.d-none.d-md-block
                                    p.grey.t3.medium Experiencias
                                .col-10.d-md-none
                                    p.grey.mt-1.t3.medium Experiencias
                            
section.seccionRipleyPuntosInfo
    .container
        .boxRPConoceMas
            .row.col-12.pt-3.mt-4.d-none.d-sm-block
                .col-10.mx-5
                    p.detailBoxConoceMas.mr-5 Si no tienes Tarjeta Ripley, afíliate al programa y acumula RipleyPuntos Go presentando tu documento de identidad al comprar en Ripley.
                    a.btnConoceMasBoxRP.semiBold(href="registro-omp.html") Conoce más
            .row.d-sm-none
                .col-10.mx-4.my-4
                    p.detailBoxConoceMas.mb-4 Si no tienes Tarjeta Ripley, afíliate al programa y acumula RipleyPuntos Go presentando tu documento de identidad al comprar en Ripley.
                    a.btnConoceMasBoxRP.semiBold(href="registro-omp.html" style="padding-left:9%;") Conoce más


section.seccionRipleyPuntosInfo
    .container
        .row.px-3.px-sm-2
            .col-12.col-sm-6.contenido-seccion.px-0.px-md-4
                .row.contenido-info.pl-md-0.mx-0.mb-3.mb-lg-5
                    .col-12.px-0.d-sm-none
                        .contenido-img
                            img(src='img/ripley_puntos/xs-ripley-star-calificables.png' style="max-width: 568px;")
                    .col-12.pr-3.pr-md-0.pt-3.pt-lg-5
                        h2.purpleDark3.semiBold.t7.mx-lg-4.mt-lg-3.text-left ¿Qué son los <span class="purpleDark3 t7 bold">puntos categoría?</span>
                    .col-12.pr-3.pr-md-0
                        p.grey.s4.mx-lg-4.mt-4.medium Son los puntos que ganas por #[strong tener Tarjeta Ripley y comprar ] en Tiendas Ripley, Ripley.com.pe, establecimientos afiliados y también por desembolsos de préstamos.
                    .col-12.pr-3.pr-md-0
                        p.grey.s4.mx-lg-4.mt-4.medium.mb-4 Con ellos accedes a las #[strong categorías superiores ] como cliente Prime de RipleyPuntos Go.
                    .col-12.pr-3.pr-md-0.mb-md-4.mb-lg-2
                        a.s4.mx-lg-4.mt-4.decotation-cp.purple3.medium(href="clientes-prime.html") Conoce más de Gold y Silver Prime aquí.
            .col-12.col-sm-6.my-3(style="vertical-align: middle;display: flex !important;align-items: center;").d-none.d-sm-block
                .row.img-height1.d-none.d-sm-block
                    .contenido-img(style="background: #FFFFFF;border: 1px solid rgba(151, 153, 155, 0.1); box-sizing: border-box; border-radius: 4.81509px;").d-none.d-sm-block
                        img(src='img/ripley_puntos/ripley-star-calificables.png' style="max-width: 568px;").d-none.d-sm-block
 

section.contenedorRipleyPuntos
    .container
        .row.px-3.px-sm-2
            .contenido-seccion.px-0.px-md-3
                .col-12.mt-4.mt-lg-5
                    h2.purpleDark3.semiBold.t7.textAlign ¿Cómo acumular puntos para la <span class="purpleDark3 t7 bold">categoría Prime?</span>
                    p.grey.s4.mx-0.mx-md-4.medium.mt-lg-4 Acumulas puntos para la categoría al realizar compras en Ripley, en desembolsos de préstamos y al consumir en nuestras alianzas.
                    p.grey.s4.mx-0.mx-md-4.medium.mt-lg-3.mt-sm-0 Solo puedes adquirir puntos para la categoría si tienes Tarjeta de Crédito Ripley.
                    p.grey.s4.mx-0.mx-md-4.medium Las campañas promocionales <span class="grey t4 semiBold"> no</span> suman puntos para acceder a las categorías Prime.
                .row.mx-0.mx-md-2
                    .col-12.col-sm-6
                        .row.mt-3.ml-0.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-store-rpg.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-2.semiBold Tiendas Ripley y Ripley.com.pe
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 1.25 = 1 punto</span> con Tarjeta de Crédito Ripley.
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium <span class="grey t4 semiBold">S/ 5 = 1 punto</span> con otro medio de pago.
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.noIncluyegift (No incluye Gift Cards ni notas de crédito)
                                
                    .col-12.col-sm-6
                        .row.mt-3.ml-1.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-car-shopping.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-1.mt-1.semiBold Alianzas
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 2.50 = 1 punto</span> con Tarjeta de Crédito Ripley.
                .row.mx-0.mx-md-2
                    .col-12.col-sm-6.mb-2
                        .row.mt-3.ml-0.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                .row.mx-0.mx-sm-2.mx-lg-3.mb-2.mb-md-2.mb-lg-0
                                    .col-1.mx-0.px-0
                                        img(src='img/svg/i-cash-provision.svg')
                                    .col-11.pl-3.pl-md-2.pl-lg-0
                                        p.purple4.s5.mx-0.mx-sm-2.mx-md-2.mx-lg-1.mt-1.semiBold Préstamos
                                p.grey.t4.mx-0.mx-sm-2.mx-md-2.mx-lg-3.medium.mt-lg-3 <span class="grey t4 semiBold">S/ 10</span> de desembolso = <span class="grey t4 semiBold"> 1 punto</span> si tienes Tarjeta de Crédito Ripley.
                .row.mx-0.mx-md-2
                    .col-12.col-sm-6.mb-4.mb-lg-5
                        .row.mt-3.ml-0.ml-sm-1.ml-md-4
                            .col-12.px-0.px-md-1.px-lg-4
                                //- a.t4.decotation-cp.purple3.mx-md-2.mx-lg-3.medium(href="../pdf/tratamiento-de-datos-personales.pdf") Ver reglamento
                //- .row(style="margin: -80px 23px 27px 0px;")
                //-     .col-12.text-right.d-none.d-sm-block
                //-         p.s7.grey5 * Equivalencias válidas desde el 15 de marzo del 2020.
                //-     .col-12.text-left.mt-5.d-sm-none
                //-         p.s7.grey5 * Equivalencias válidas desde el 15 de marzo del 2020.