//- SECCIÓN RIPLEY
section.contenedorSegmentador#divSegmentadorRipley(style="display: none")
    .container-fluid
        .row
            .col-12.divBanner.d-md-none.banner-tr-prestamo.rpg-base.mx-0.px-0
                .row
                    .col-12.px-0.mx-0.t-float
                        img(src="../img/ripley_puntos/"+imgMobile +"", style="width: 100%; height: 100%;")
            .col-md-7.col-12.divForm.px-lg-5.py-lg-5.py-1.mb-lg-0.mb-5
                .row.ml-md-5.d-md-none.pb-2.pb-md-0.centerText
                    .col-12.px-2.px-md-4
                        //- h2.white.ml-4.mt-5.s5.tflot.semiBold.fixResponsiveTitleSegmentacion ¡Hola, <span class="white s5" id="nombre"></span>
                        h1.t4.bold.purpleDark3.fixResponsiveTitleSegmentacion ¡Hola, <span class="purpleDark3 bold t4" style="color: #FFFFFF !important;" id="nombre"></span>
                        p.t4.mt-2.medium.grey(style="color: #737373 !important;font-weight: 600 !important;font-size: 16px !important;line-height: 20px !important;") Eres nuestro cliente  
                            span.s5.purple4.bold RIPLEY
                .row.ml-md-5.d-none.d-md-block.pb-2.pb-md-0.pt-md-4
                    .col-12.px-2.px-md-4.pb-md-2
                        h1.s5.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Hola, <span class="purpleDark3 semiBold s5" id="nombre"></span>
                        p.s8.mt-2.medium.grey.text-center(style="color: #737373 !important") Eres nuestro cliente  
                            span.t2.purple4.bold RIPLEY
                .row.mx-2.ml-md-5
                    .row(style="margin: auto")
                        //- .col-12.col-md-6
                        //-     .col-12.box-puntos2.box-puntos2purple.mx-sm-0
                        //-         img.pt-1.pl-2(src="../img/svg/i-logo-rptogo-segmentacion.svg")
                        //-         p.fuente1.mx-2.mt-1 Tienes
                        //-         p.fuente2.mx-2.mt-0#puntajeTotal
                        //-         P.fuente1.mx-2.mt-0.mb-3 al 30/09/2019
                        .col-12.col-md-6.mt-lg-0.mt-2
                            .col-12.box-puntos1.box-puntos2yellow.mx-sm-0
                                P.fuente3.mx-2.mt-3.mb-4.pb-1 Puntos categoría 2020
                                p.fuente1.mx-2.mt-3 Tienes
                                p.fuente2.mx-2.mt-0#puntaje 
                            .col-12.box-puntos1_
                                p.fuente4.mt-lg-2.mt-3 Los puntos para la categoría se actualizan al cierre de cada mes.

                .col-12.ml-md-5.mt-4
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.t4.medium.categoria Te faltan <span class="grey semiBold s5 " id="puntajeFaltante"></span> puntos categoría para subir a la categoría <span class="subtitleBen_Categ semiBold s5"> SILVER Prime </span><span id="tooltip-top" class="tool-tip-info" data-toggle="tooltip" data-placement="top" title="Para subir a la categoría Silver Prime necesitas obtener 5,000 puntos categoría durante el 2020."><img src="../img/svg/i-tooltip-categoria.svg"> </span>
                .row.mt-3.rp-progress
                    .col-10.px-0
                        .col-12.progress.mt-3.mx-0.px-0(style="height: 0.7rem !important;")
                            .progress-bar.sec-progress#porcentajeBarra(style="width: 70%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                        .col-12.rpg-progress.mt-1.mx-0.px-0
                            .rpg-progress-bar#porcentaje(role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") 70%
                    .col-2.px-0
                        img(src="../img/svg/i-star-silver-prime.svg")
                        span.fuente5 5,000
                .row.mx-2.ml-md-5.mt-5
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4 
                                <img class="itemVinhetaSegmentador" src="../img/svg/i-viewdoc-find.svg"> 
                                    <a class="text_PCalificables" href="#" data-toggle="modal" data-target="#appModalPuntosCalificables">Ver cómo acumular puntos categoría</a> para ser Cliente Prime
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4.fuente6 <img class="itemVinhetaSegmentador" src="../img/svg/i-Ellipse-item.svg"> Continúa acumulando puntos categoría hasta el <span class="grey t4 semiBold fuente6 fuente6Bold" >31 de diciembre</span> por las compras con tu Tarjeta Ripley y por desembolsos de préstamos.
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.purple4.semiBold.s1.mt-lg-0.mt-3.mb-lg-0.mb-2 Recuerda:
                            p.grey.medium.s1.fuente7 No se consideran los puntos obtenidos en campañas promocionales para las categorías. Tus puntos categoría se acumulan al cierre de cada mes.

            .col-md-5.divBanner.d-none.d-md-block.banner-tr-prestamo.rpg-base(style="background-color: #E6E6E6 !important;")
                .row(style="top: 0; bottom: 0; height: 100%;position: relative;")
                    //- .col-12
                    //-     img.imgBannerLateral(src="../img/ripley_puntos/banner-lateral.png")
                    #bannerLateralRIPLEY
                        img.imgBannerLateral(src="../img/ripley_puntos/banner-ripley-segmentador.png")
    include beneficios-segmentacion

//- SECCIÓN SILVER
section.contenedorSegmentador#divSegmentadorSiver(style="display: block")
    .container-fluid
        .row
            .col-12.divBanner.d-md-none.banner-tr-prestamo.rpg-base.mx-0.px-0
                .row
                    .col-12.px-0.mx-0.t-float
                        img(src="../img/ripley_puntos/xs-banner-silver-segmentador.png", style="width: 100%; height: 100%;")
            .col-md-7.col-12.divForm.px-lg-5.py-lg-5.py-1.mb-lg-0.mb-5
                .row.ml-md-5.d-md-none.pb-2.pb-md-0.centerText
                    .col-12.px-2.px-md-4
                        h1.t4.bold.purpleDark3.fixResponsiveTitleSegmentacion ¡Felicidades, <br><span class="purpleDark3 bold t4" style="color: #FFFFFF !important;text-align: left !important;" id="nombre"></span>
                        p.s8.mt-2.medium.grey.text-center(style="color: #737373 !important;font-weight: 600 !important;font-size: 16px !important;line-height: 20px !important;") Eres nuestro cliente 
                            span.s5.grey5.bold#clasePuntos  SILVER Prime
                .row.ml-md-5.d-none.d-md-block.pb-2.pb-md-0.pt-md-4
                    .col-12.px-2.px-md-4.pb-md-2
                        h1.s5.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Felicidades, <span class="purpleDark3 semiBold s5" id="nombre"></span>
                        p.s8.mt-2.medium.grey.text-center(style="color: #737373 !important;") Eres nuestro cliente 
                            span.t2.grey5.bold#clasePuntos SILVER Prime
                .row.mx-2.ml-md-5
                    .row(style="margin: auto")
                        //- .col-12.col-md-6
                        //-     .col-12.box-puntos2.box-puntos2purple.mx-sm-0
                        //-         img.pt-1.pl-2(src="../img/svg/i-logo-rptogo-segmentacion.svg")
                        //-         p.fuente1.mx-2.mt-1 Tienes
                        //-         p.fuente2.mx-2.mt-0#puntajeTotal
                        //-         P.fuente1.mx-2.mt-0.mb-3 al 30/09/2019
                        .col-12.col-md-6.mt-lg-0.mt-2
                            .col-12.box-puntos1.box-puntos2yellow.mx-sm-0
                                P.fuente3.mx-2.mt-3.mb-4.pb-1 Puntos categoría 2020
                                p.fuente1.mx-2.mt-3 Tienes
                                p.fuente2.mx-2.mt-0#puntaje 
                            .col-12.box-puntos1_
                                p.fuente4.mt-lg-2.mt-3 Los puntos para la categoría se actualizan al cierre de cada mes.

                .col-12.ml-md-5.mt-4
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.t4.medium.categoria Te faltan <span class="grey semiBold s5" id="puntajeFaltante"></span> puntos categoría para subir a la categoría <span class="gold semiBold s5"> GOLD Prime </span><span id="tooltip-top" class="tool-tip-info" data-toggle="tooltip" data-placement="top" title="Para subir a la categoría Gold Prime necesitas obtener 11,000 puntos categoría durante el 2020."><img src="../img/svg/i-tooltip-categoria.svg"> </span>
                .row.mt-3.rp-progress
                    .col-10.px-0
                        .col-12.progress.mt-3.mx-0.px-0(style="height: 0.7rem !important;")
                            .progress-bar.sec-progress#porcentajeBarra(style="width: 50%;" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
                        .col-12.rpg-progress.mt-1.mx-0.px-0
                            .rpg-progress-bar#porcentaje(role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") 50%
                    .col-2.px-0
                        img(src="../img/svg/i-star-gold-prime.svg")
                        span.fuente5 11,000
                .row.mx-2.ml-md-5.mt-5
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4 
                                <img class="itemVinhetaSegmentador" src="../img/svg/i-viewdoc-find.svg"> 
                                    <a class="text_PCalificables" href="#" data-toggle="modal" data-target="#appModalPuntosCalificables">Ver cómo acumular puntos categoría</a> para ser Cliente Prime
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4.fuente6  <img class="itemVinhetaSegmentador" src="../img/svg/i-Ellipse-item.svg"> Continúa acumulando puntos categoría hasta el <span class="grey t4 semiBold fuente6 fuente6Bold">31 de diciembre</span> por las compras con tu Tarjeta Ripley y por desembolsos de préstamos.
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.purple4.semiBold.s1.mt-lg-0.mt-3.mb-lg-0.mb-2 Recuerda:
                            p.grey.medium.s1.fuente7 No se consideran los puntos obtenidos en campañas promocionales para las categorías. Tus puntos categoría se acumulan al cierre de cada mes.
            .col-md-5.divBanner.d-none.d-md-block.banner-tr-prestamo.rpg-base(style="background-color: #523379 !important;")
                .row(style="top: 0; bottom: 0; height: 100%;")
                    //- .col-12
                    //-     img.imgBannerLateral(src="../img/ripley_puntos/banner-lateral.png")
                    #bannerLateralSILVER
                        img.imgBannerLateral(src="../img/ripley_puntos/banner-silver-segmentador.png")
    include beneficios-segmentacion
   
//-SECCIÓN GOLD      
section.contenedorSegmentador#divSegmentadorGold(style="display: none")
    .container-fluid
        .row
            .col-12.divBanner.d-md-none.banner-tr-prestamo.rpg-base(style="background-color: #523379 !important;")
                .row(style="margin: auto;")
                    .col-12.px-0(style="margin: auto;")
                        img.imgBannerLateral(src="../img/ripley_puntos/xs-banner-gold-segmentador.png")
            .col-md-7.col-12.divForm.px-lg-5.py-lg-5.py-1.mb-lg-0.mb-5
                .row.ml-md-5.d-md-none.pb-2.pb-md-0.centerText
                    .col-12.px-2.px-md-4
                        h1.t4.bold.purpleDark3.fixResponsiveTitleSegmentacion ¡Felicidades, <br><span class="purpleDark3 bold t4" style="color: #FFFFFF !important;text-align: left !important;" id="nombre"></span>
                        p.s8.mt-2.medium.grey.text-center(style="color: #737373 !important;font-weight: 600 !important;font-size: 16px !important;line-height: 20px !important;") Eres nuestro cliente 
                            span.s5.purple4.bold GOLD Prime
                .row.ml-md-5.d-none.d-md-block.pb-2.pb-md-0.pt-md-4
                    .col-12.px-2.px-md-4.pb-md-2
                        h1.s5.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Felicidades, <span class="purpleDark3 semiBold s5" id="nombre"></span>
                        p.s8.mt-2.medium.grey.text-center(style="color: #737373 !important") Eres nuestro cliente  
                            span.t2.gold.bold GOLD Prime
                .row.mx-2.ml-md-5
                    .row(style="margin: auto")
                        //- .col-12.col-md-6.divNormalInfoGold
                        //-     .col-12.box-puntos2.box-puntos2purple.mx-sm-0
                        //-         img.pt-1.pl-2(src="../img/svg/i-logo-rptogo-segmentacion.svg")
                        //-         p.fuente1.mx-2.mt-1 Tienes
                        //-         p.fuente2.mx-2.mt-0#puntajeTotal
                        //-         P.fuente1.mx-2.mt-0.mb-3 al 30/09/2019
                        .col-12.col-md-6.mt-lg-0.mt-2.divNormalInfoGold
                            .col-12.box-puntos1.box-puntos2yellow.mx-sm-0
                                P.fuente3.mx-2.mt-3.mb-4.pb-1 Puntos categoría 2020
                                p.fuente1.mx-2.mt-3 Tienes
                                p.fuente2.mx-2.mt-0#puntaje 
                            .col-12.box-puntos1_
                                p.fuente4.mt-lg-2.mt-3 Los puntos para la categoría se actualizan al cierre de cada mes.
                        .col-12.col-md-6.divNoNormalInfoGold(style="display:none;")
                            .col-12.box-puntos1.box-puntos2yellow.mx-sm-0
                                P.fuente3.mx-2.mt-3.mb-4.pb-1 Puntos categoría 2020
                                p.fuente1.mx-2.mt-3 Tienes
                                p.fuente2.mx-2.mt-0#puntaje 
                            .col-12.box-puntos1_
                                p.fuente4.mt-lg-2.mt-3 Los puntos para la categoría se actualizan al cierre de cada mes.


                .col-12.ml-md-5.mt-4
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.t4.medium.categoria Te faltan <span class="grey semiBold s5" id="puntajeFaltante"></span> puntos categoría para mantenerte en la categoría <span class="gold semiBold s5"> GOLD Prime </span><span id="tooltip-top" class="tool-tip-info" data-toggle="tooltip" data-placement="top" title="Para mantenerte en la categoría Gold Prime necesitas obtener 11,000 puntos categoría durante el 2020."><img src="../img/svg/i-tooltip-categoria.svg"> </span>
                .row.mt-3.rp-progress
                    .col-10.px-0
                        .col-12.progress.mt-3.mx-0.px-0(style="height: 0.7rem !important;")
                            .progress-bar.sec-progress#porcentajeBarra(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                        .col-12.rpg-progress.mt-1.mx-0.px-0
                            .rpg-progress-bar#porcentaje(role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100") 70%
                    .col-2.px-0
                        img(src="../img/svg/i-star-gold-prime.svg")
                        span.fuente5 11,000
                .row.mx-2.ml-md-5.mt-5
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4 
                                <img class="itemVinhetaSegmentador" src="../img/svg/i-viewdoc-find.svg"> 
                                    <a class="text_PCalificables" href="#" data-toggle="modal" data-target="#appModalPuntosCalificables">Ver cómo acumular puntos categoría</a> para ser Cliente Prime
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.grey.medium.t4.fuente6 <img class="itemVinhetaSegmentador" src="../img/svg/i-Ellipse-item.svg"> Continúa acumulando puntos categoría hasta el <span class="grey t4 semiBold fuente6 fuente6Bold">31 de diciembre</span> por las compras con tu Tarjeta Ripley y por desembolsos de préstamos.
                .row.mx-2.ml-md-5.mt-3
                    .row.px-2.px-md-4
                        .col-12
                            p.purple4.semiBold.s1.mt-lg-0.mt-3.mb-lg-0.mb-2  Recuerda:
                            p.grey.medium.s1.fuente7 No se consideran los puntos obtenidos en campañas promocionales para las categorías. Tus puntos categoría se acumulan al cierre de cada mes.
            
            .col-md-5.divBanner.d-none.d-md-block.banner-tr-prestamo.rpg-base(style="background-color: #523379 !important;")
                .row(style="top: 0; bottom: 0; height: 100%;")
                    //- .col-12
                    //-     img.imgBannerLateral(src="../img/ripley_puntos/banner-lateral.png")
                    #bannerLateralGOLD
                        img.imgBannerLateral(src="../img/ripley_puntos/banner-gold-segmentador.png")
    include beneficios-segmentacion

//- SECCION NO CLIENTES
section.contenedorSegmentador#divSegmentadorNoClientes(style="display: none")
    .container-fluid
        .row
            .col-12.divBanner.d-md-none.banner-tr-prestamo.rpg-base.mx-0.px-0
                .row
                    .col-12.px-0.mx-0.t-float
                            img(src="../img/ripley_puntos/xs-banner-no-cliente-segmentador.png", style="width: 100%; height: 100%;")
            .col-md-7.col-12.divForm.px-lg-5.py-lg-5.py-1.mb-lg-0.mb-0
                .row.mx-4.mx-lg-5
                    .row.ml-md-5.d-md-none.pb-2.pb-md-0.centerText
                        .col-12.px-2.px-md-4
                            h1.t1.mt-2.semiBold.purpleDark3 ¡Oh, no!  
                            p.s9.grey5.medium.mx-2.mx-md-0 Aún no tienes una tarjeta de crédito con nosotros.
                    .row.ml-md-5.d-none.d-md-block.pb-2.pb-md-0.pt-md-4
                        .col-12.px-2.px-md-4.pb-md-2
                            h1.t1.mt-4.semiBold.purpleDark3.mb-0.text-center ¡Oh, no!
                            p.s9.mt-2.medium.grey5.text-center Aún no tienes una tarjeta de crédito con nosotros.  
                    .row.mt-4.ml-md-2
                        .row.mx-1.mx-md-2
                            .col-1.px-0.text-center
                                img.mt-2(src="../img/svg/i-r-ripley.svg")
                            .col-11.px-3.px-md-0
                                p.purpleDark3.medium.s8.mr-lg-5.fuente8 ¿Quieres disfrutar de todos los beneficios de la Tarjeta Ripley?
                    .row.mx-2.ml-md-2.mt-5
                        .row.px-0.mx-0.px-md-4.px-lg-5
                            .col-12.px-0
                                p.grey4.medium.t4.fuente9 Entérate si tienes una Tarjeta Ripley preaprobada o pídela de manera <span class="grey4 t4 semiBold">online </span>en simples pasos.
                .row.mx-5.d-none.d-md-block    
                    .col-12.mt-5
                        .row.px-2.text-center
                            .col-12
                                a.mx-lg-5.mb-3.btn.btnSolTarjeta.semiBold(href="https://www.bancoripley.com.pe/solicita-tarjeta-ripley-mastercard/index.html" target="_blank") Solicita tu tarjeta
            .col-12.d-md-none
                .row.mt-4.text-center    
                    .col-12.mt-2
                        a.mx-lg-5.mb-5.btn.btnSolTarjeta.semiBold(href="https://www.bancoripley.com.pe/solicita-tarjeta-ripley-mastercard/index.html" target="_blank") Solicita tu tarjeta


            
            .col-md-5.divBanner.d-none.d-md-block.banner-tr-prestamo(style="background-color: #502D79 !important;")
                .row(style="top: 0; bottom: 0; height: 100%;")
                    #bannerLateralNOCLIENTES
                        img.imgBannerLateral(src="../img/ripley_puntos/banner-no-cliente-segmentador.png")
    include beneficios-segmentacion