section.container-fluid.cont-descuentos
    .col-12
        .boxVerPromocionesNoAfiliadas
            button.btn-boxVerPromocionesNoAfiliadas(onclick="return goToCanjes('canjes.html?t=giftcardsSTR');")
                p.p1VerMasPromociones ¿#[strong No] tienes Tarjeta Ripley?
                p.p2VerMasPromociones.pb-1 Si te afilias podrás acceder a canjes.
                p.linkVerMasPromociones Ver canjes
        br
