mixin vitrinaSlide(numeroSlideVitrina,backgroundVitrina,clasesFirstP,contenidoFirstP,contenidoFirstP2,clasesLastP,contenidoLastP,classBtnVitrina1,linkBtnVitrina1,btnVitrina1,classBtnVitrina2,linkBtnVitrina2,btnVitrina2,imgVitrina,maxWidth_vitrina)
    li(style='background-color:' + backgroundVitrina +';' class="js_slide col-12 vitrina" id=numeroSlideVitrina)
        .row.d-none.d-md-block
            .col-12.d-flex.align-items-center.t-float(style='height:'+heightVitrina+';padding-left: 0px !important;padding-right: 0px !important;')
                img(src=rutaIMG+imgVitrina, alt=contenidoFirstP, style='width:'+widthImgVitrina+'; height:'+heightImgVitrina+';')
                .vitrina__contenido.t-float-banner.text-left
                    span
                        h2(class=clasesFirstP)!=contenidoFirstP
                        p(class=clasesLastP)!=contenidoLastP
                    span
                        if btnVitrina1
                            a(class=classBtnVitrina1, href=linkBtnVitrina1,data-urlbanner=linkBtnVitrina1, data-titlebanner=contenidoFirstP,data-subtitlebanner=contenidoLastP, target=targetBtnVitrina1)!=btnVitrina1
        .row.d-md-none
            .vitrina__img_noSlider(style='background-color:'+ bgVitrina +';max-width:'+ maxWidthVitrina +';')
                img(src=rutaIMG+ 'xs-' + imgVitrina, alt=contenidoFirstP2)
            .vitrina__contenido
                row.fixResponsiveContentVitrina
                    .col-12
                        h2(class=clasesFirstP)!=contenidoFirstP2
                        p(class=clasesLastP)!=contenidoLastP
                        if btnVitrina1
                            a(class=classBtnVitrina1, href=linkBtnVitrina1,data-urlbanner=linkBtnVitrina1, data-titlebanner=contenidoFirstP2,data-subtitlebanner=contenidoLastP, target=targetBtnVitrina1)!=btnVitrina1

        //- .row
        //-     .col-12.px-0
        //-         .vitrina__img.d-none.d-sm-inline-block(style='background: url(' + rutaIMG+imgVitrina +') top right no-repeat; background-size: 100% 100%; height: 480px;')
        //-             .row
        //-                 .col-5.d-none.d-sm-inline-block(style="height: 480px; padding-left: 50px;")
        //-                     .vitrina__contenido.d-flex-flex-column.text-left
        //-                         span
        //-                             h3(class=clasesFirstP)!=contenidoFirstP
        //-                             p(class=clasesLastP)!=contenidoLastP
        //-                         span
        //-                             if btnVitrina1
        //-                                 a(class=classBtnVitrina1, href=linkBtnVitrina1, target="_blank")!=btnVitrina1
        //-                             else
        //-                                 br
        //-                                 br
        //-                                 br
        //-                             a(class=classBtnVitrina2, href=linkBtnVitrina2)!=btnVitrina2
        //-         .vitrina__img.d-sm-none(style='background: url(' + rutaIMG+ 'xs-' + imgVitrina +') top right no-repeat; background-size: auto 100%; height: 360px;')
        //-             .row
        //-                 .col-12.d-sm-none.px-5(style="height: 360px;")
        //-                     .vitrina__contenido.d-flex-flex-column.text-left
        //-                         span
        //-                             h3.white(class=clasesFirstP)!=contenidoFirstP
        //-                             p.white(class=clasesLastP)!=contenidoLastP
        //-                         span
        //-                             if btnVitrina1
        //-                                 a(class=classBtnVitrina1, href=linkBtnVitrina1, target="_blank")!=btnVitrina1
        //-                             else
        //-                                 br
        //-                                 br
        //-                                 br
        //-                             a(class=classBtnVitrina2, href=linkBtnVitrina2)!=btnVitrina2

mixin navVitrinaSlider(numNavSlide,classH3navSlide,contentH3navSlide,classPnavSlide,contentPnavSlide)
    div(id='navSlide'+numNavSlide class='col navSlider')
        h3(class=classH3navSlide)!=contentH3navSlide
        p(class=classPnavSlide)!=contentPnavSlide
section.container-fluid.cont-vitrina.lazy
    .row
        .col
            .slider.js_simple.simple.row
                .frame.js_frame
                    ul.slides.js_slides
                        - var slide= ['slide1','slide2','slide3','slide4','slide5','slide6'];
                        - var bgv = [bg_vitrina1,bg_vitrina2,bg_vitrina3,bg_vitrina4,bg_vitrina5,bg_vitrina6];
                        - var clTxt1 = [classesPrimerTexto_vitrina1,classesPrimerTexto_vitrina2,classesPrimerTexto_vitrina3,classesPrimerTexto_vitrina4,classesPrimerTexto_vitrina5,classesPrimerTexto_vitrina6];
                        - var cnTxt1 = [contenidoPrimerTexto_vitrina1,contenidoPrimerTexto_vitrina2,contenidoPrimerTexto_vitrina3,contenidoPrimerTexto_vitrina4,contenidoPrimerTexto_vitrina5,contenidoPrimerTexto_vitrina6];
                        - var cnTxtP = [contenidoPrimerTexto2_vitrina1,contenidoPrimerTexto2_vitrina2,contenidoPrimerTexto2_vitrina3,contenidoPrimerTexto2_vitrina4,contenidoPrimerTexto2_vitrina5,contenidoPrimerTexto2_vitrina6];
                        - var clTxt2 = [classesSegundoTexto_vitrina1,classesSegundoTexto_vitrina2,classesSegundoTexto_vitrina3,classesSegundoTexto_vitrina4,classesSegundoTexto_vitrina5,classesSegundoTexto_vitrina6];
                        - var cnTxt2 = [contenidoSegundoTexto_vitrina1,contenidoSegundoTexto_vitrina2,contenidoSegundoTexto_vitrina3,contenidoSegundoTexto_vitrina4,contenidoSegundoTexto_vitrina5,contenidoSegundoTexto_vitrina6];
                        - var btn1_cl = [classesBTN1_vitrina1,classesBTN1_vitrina2,classesBTN1_vitrina3,classesBTN1_vitrina4,classesBTN1_vitrina5,classesBTN1_vitrina6];
                        - var btn1_href = [hrefBTN1_vitrina1,hrefBTN1_vitrina2,hrefBTN1_vitrina3,hrefBTN1_vitrina4,hrefBTN1_vitrina5,hrefBTN1_vitrina6];
                        - var btn1_txt = [contenidoBTN1_vitrina1,contenidoBTN1_vitrina2,contenidoBTN1_vitrina3,contenidoBTN1_vitrina4,contenidoBTN1_vitrina5,contenidoBTN1_vitrina6];
                        - var btn2_cl = [classesBTN2_vitrina1,classesBTN2_vitrina2,classesBTN2_vitrina3,classesBTN2_vitrina4,classesBTN2_vitrina5,classesBTN2_vitrina6];
                        - var btn2_href = [hrefBTN2_vitrina1,hrefBTN2_vitrina2,hrefBTN2_vitrina3,hrefBTN2_vitrina4,hrefBTN2_vitrina5,hrefBTN2_vitrina6];
                        - var btn2_txt = [contenidoBTN2_vitrina1,contenidoBTN2_vitrina2,contenidoBTN2_vitrina3,contenidoBTN2_vitrina4,contenidoBTN2_vitrina5,contenidoBTN2_vitrina6];
                        - var imgVi = [imagen_vitrina1,imagen_vitrina2,imagen_vitrina3,imagen_vitrina4,imagen_vitrina5,imagen_vitrina6];

                        - for (var i = 0; i < numero_slides ; i++)
                            +vitrinaSlide(slide[i],bgv[i],clTxt1[i],cnTxt1[i],cnTxtP[i],clTxt2[i],cnTxt2[i],btn1_cl[i],btn1_href[i],btn1_txt[i],btn2_cl[i],btn2_href[i],btn2_txt[i],imgVi[i],maxWidthImg)


                a(href="javascript:;").js_prev.prev.js_arrows
                a(href="javascript:;").js_next.next.js_arrows

        if(barra_nav_slider == true)
            .col-12.d-none.d-lg-flex.justify-content-center.align-items-center.nav-slider
                .container
                    .row
                        .col-12
                            .row
                                -var num = ['1','2','3','4','5','6'];
                                -var clTxt1 = [clasesTexto1_pieVitrina1,clasesTexto1_pieVitrina2,clasesTexto1_pieVitrina3,clasesTexto1_pieVitrina4,clasesTexto1_pieVitrina5,clasesTexto1_pieVitrina6];
                                -var cnTxt1 = [contenidoTexto1_pieVitrina1,contenidoTexto1_pieVitrina2,contenidoTexto1_pieVitrina3,contenidoTexto1_pieVitrina4,contenidoTexto1_pieVitrina5,contenidoTexto1_pieVitrina6];
                                -var clTxt2 = [clasesTexto2_pieVitrina1,clasesTexto2_pieVitrina2,clasesTexto2_pieVitrina3,clasesTexto2_pieVitrina4,clasesTexto2_pieVitrina5,clasesTexto2_pieVitrina6];
                                -var cnTxt2 = [contenidoTexto2_pieVitrina1,contenidoTexto2_pieVitrina2,contenidoTexto2_pieVitrina3,contenidoTexto2_pieVitrina4,contenidoTexto2_pieVitrina5,contenidoTexto2_pieVitrina6];

                                - for (var i = 0; i < numero_slides ; i++)
                                    +navVitrinaSlider(num[i],clTxt1[i],cnTxt1[i],clTxt2[i],cnTxt2[i])




