section.container-fluid.cont-vitrina.vitrina_noSlider
        .row
            .col-12.px-0
                .slider.row
                    .frame.js_frame
                        ul.slides.js_slides
                            li.js_slide.col-12.vitrina#slide1(style='background-color:'+ bgVitrina +';')
                                .row
                                    .col-12.d-flex.align-items-center.order-2.order-md-0.t-float(style="height: 480px;")
                                        img(src= "../img/cliente/banner-1.png", style="width: 100%; height: 100%;")
                                        .vitrina__contenido.t-float-banner.text-left
                                            span
                                                h2(class=clasesFirstP)!=contenidoFirstP
                                                p(class=clasesLastP)!=contenidoLastP
                                            span
                                                if btnVitrina
                                                    a(class=classBtnVitrina, href=linkBtnVitrina1, target=targetBtnVitrina1 style="color: white")!=btnVitrina