section.container-fluid.cont-vitrina.vitrina_noSlider
    .row
        .col-12.px-0
            .slider
                .frame.js_frame
                    ul.slides.js_slides
                        li.js_slide.col-12.vitrina#slide1(style='background-color:'+ bgVitrina +';')
                            .row.d-none.d-md-block
                                .col-12.d-flex.align-items-center.t-float(style='height:'+heightVitrina+';padding-left: 0px;padding-right: 0px;')
                                    img(src=imgVitrina alt=contenidoFirstP, style='width:'+widthImgVitrina+'; height:'+heightImgVitrina+';')
                                    .vitrina__contenido.t-float-banner.text-left
                                        span
                                            h2(class=clasesFirstP)!=contenidoFirstP
                                            p(class=clasesLastP)!=contenidoLastP
                                        span
                                            if btnVitrina1
                                                a(class=classBtnVitrina1, href=linkBtnVitrina1, data-urlbanner=linkBtnVitrina1, data-titlebanner=contenidoFirstP,data-subtitlebanner=contenidoLastP, target=targetBtnVitrina1)!=btnVitrina1
                            .row.d-md-none
                                .vitrina__img_noSlider(style='background-color:'+ bgVitrina +';max-width:'+ maxWidthVitrina +';')
                                    img(src=imgVitrinaXS alt=contenidoFirstP2)
                                //- .vitrina__contenido.t-float-banner.fixResponsiveContentVitrina
                                //-     span
                                //-         h2(class=clasesFirstP)!=contenidoFirstP2
                                //-         p(class=clasesLastP)!=contenidoLastP
                                //-     span
                                //-         if btnVitrina1
                                //-             a(class=classBtnVitrina1, href=linkBtnVitrina1, target=targetBtnVitrina1)!=btnVitrina1
                                .vitrina__contenido
                                    row.fixResponsiveContentVitrina
                                        .col-12
                                            h2(class=clasesFirstP)!=contenidoFirstP2
                                            p(class=clasesLastP)!=contenidoLastP
                                            if btnVitrina1
                                                a(class=classBtnVitrina1, href=linkBtnVitrina1, data-urlbanner=linkBtnVitrina1, data-titlebanner=contenidoFirstP2,data-subtitlebanner=contenidoLastP, target=targetBtnVitrina1)!=btnVitrina1