//- VITRINA
//- - var imgVitrinaXS = '../img/cliente/xs-banner-1.png';
//- - var imgVitrina = '../img/cliente/banner-1.png';
//- - var bgVitrina = '#FFF9ED';
//- - var maxWidthVitrina ='1190px';
//- - var clasesFirstP = 't1 white bold';
//- - var contenidoFirstP = '<strong>Ahora los RipleyPuntos Go son para todos</strong>';
//- - var clasesLastP = 't6 white';
//- - var contenidoLastP = '<br>Inscríbete para acumular puntos presentando tu DNI en cada compra.<br><br>';
//- - var btnVitrina1 = true;
//- - var classBtnVitrina = 's1 btnRed btn_SE-BF_solicitalo-aqui';
//- - var btnVitrina = 'Inscríbete';
//- - var linkBtnVitrina = '/solicitar-prestamo/index.html';
//- - var targetBtnVitrina = '';



- var isHome = false;

- var barra_nav_slider = false;
- var numero_slides = '1';
- var rutaIMG = 'img/home/slider/';

//vitrinaSlide 1 variables
- var bg_vitrina1 = '#FFEEB0';
- var classesPrimerTexto_vitrina1= 't1 white bold';
- var contenidoPrimerTexto_vitrina1= '<strong>Ahora los RipleyPuntos Go son para todos</strong>';
- var classesSegundoTexto_vitrina1= 't6'; 
- var contenidoSegundoTexto_vitrina1= '<br>Inscríbete para acumular puntos presentando tu DNI en cada compra.<br><br>';
- var classesBTN1_vitrina1= 's4 btnRed';
- var hrefBTN1_vitrina1= 'https://www.promocionesbancoripley.com.pe/agentes/index.php';
- var contenidoBTN1_vitrina1= '¡!Inscríbete';

- var classesBTN2_vitrina1= 's1 btnWhite d-none';
- var hrefBTN2_vitrina1= 'javascript:;';
- var contenidoBTN2_vitrina1= 'Lorem ipsum';

- var imagen_vitrina1 = 'banner-6.png';
    //button pie vitrina4
    - var clasesTexto1_pieVitrina1 = 'bold';
    - var contenidoTexto1_pieVitrina1 = 'RipleyPuntos Go<br>';
    - var clasesTexto2_pieVitrina1 = 'semiBold';
    - var contenidoTexto2_pieVitrina1 = 'Canjéalos por nuestras Gift Cards y multiplica hasta por 5 el valor';


