//Rutas
//- - var ruta = 'D:/Migracion%20GYS/Proyecto%20Banco%20Ripley/nuevo-sitio-public2.0%20copy/gulp/projects/apollo/dist/';
- var ruta = '#';

//variables de página
- var titlePage = 'Error404 - RipleyPuntosGo';
- var is404 = true;

//vitrina
- var imgVitrinaXS = ruta + 'img/error404.png';
- var imgVitrina = ruta + 'img/error404.png';
- var bgVitrina = '#DFDFDF';
- var maxWidthVitrina ='1190px';
- var clasesFirstP = 'grey bold t0'; 
- var contenidoFirstP = '¡Ups!';
- var clasesLastP = 's1 grey light';
- var contenidoLastP = "<br>Lo sentimos, la página que estás<br class='d-none d-md-block'> buscando no existe<br><br><strong>Código de error: 404</strong><br><br>";

- var classBtnVitrina1 = 's1 btnRed';
- var btnVitrina1 = 'Regresar al Inicio';
- var linkBtnVitrina1 = ruta +'index.html';
//- var targetBtnVitrina1 = '_blank';

- var classBtnVitrina2 = 'd-none';
- var btnVitrina2 = '';
- var linkBtnVitrina2 = 'javascript:;';

- var pieVitrina = '';

//footer
- var classTxtFooter = '';
- var txtMsjFooter = '¿Lorem ipsum dolor sit amet consectetur adipisicing elit? <a href="javascript:;" class="btnRed s1 light" style="margin: 15px">¡Ratione, saepe!</a>';