- var titlePage = 'RipleyPuntos GO - RipleyPuntosGo';
- var descriptionPage = '¡Bienvenido! RipleyPuntosGo';
- var keywordsPage = "RipleyPuntosGo";
//-DONDE CONSULTAR PUNTOS
//OPCION 1
- var bclassContenedor_beneficio1 = 'active';
- var btypeBox1 = 'blue';
- var btab1_txtHeader1 = 'Lunes de Cinnabon';
- var btab1_imgLogo1 = 'i-banca-ripley.svg';
- var btab1_dctoCard1 = 'Web Ripley Puntos y Banca por Internet';
- var btab1_detalleDctoCard1 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard1 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink1 = 'https://bit.ly/2uLhBS8';
- var btab1_classEnlace1 = 'btn_MI_P1-saber-mas';

//OPCION 2
- var classContenedor_beneficio2 = '';
- var btypeBox2 = 'blue';
- var btab1_txtHeader2 = 'Martes de Burger King';
- var btab1_imgLogo2 = 'i-app-ripley.svg';
- var btab1_dctoCard2 = 'App Banco Ripley';
- var btab1_detalleDctoCard2 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard2 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink2 = 'https://bit.ly/2OQBnF3';
- var btab1_classEnlace2 = 'btn_MI_P2-saber-mas';

//OPCION 3
- var classContenedor_beneficio3 = '';
- var btypeBox3 = 'blue';
- var btab1_txtHeader3 = 'Miércoles de Telepizza';
- var btab1_imgLogo3 = 'i-state-count.svg';
- var btab1_dctoCard3 = 'Estado de cuenta de Tarjeta Ripley';
- var btab1_detalleDctoCard3 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard3 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink3 = 'https://bit.ly/2FSyXlm';
- var btab1_classEnlace3 = 'btn_MI_P3-saber-mas';

//OPCION 4
- var classContenedor_beneficio4 = '';
- var btypeBox4 = 'blue';
- var btab1_txtHeader4 = 'Jueves de Restofans';
- var btab1_imgLogo4 = 'i-ripley-phone.svg';
- var btab1_dctoCard4 = 'Ripleyfono <span class="grey s2 text-center" style="white-space:nowrap; font-weight: 500"><a class="grey s2 text-center" style="white-space:nowrap; font-weight: 600;">01-611 5757</a></span><br>opción 3';
- var btab1_detalleDctoCard4 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard4 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink4 = 'https://bit.ly/2YSjkmE';
- var btab1_classEnlace4 = 'btn_MI_P4-saber-mas';

//OPCION 5
- var bclassContenedor_beneficio5 = '';
- var btypeBox5 = 'blue';
- var btab1_txtHeader5 = 'Lunes de Cinnabon';
- var btab1_imgLogo5 = 'i-ripleymatico.svg';
- var btab1_dctoCard5 = 'Ripleymáticos en tiendas y agencias';
- var btab1_detalleDctoCard5 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard5 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink5 = 'https://bit.ly/2uLhBS8';
- var btab1_classEnlace65 = 'btn_MI_P1-saber-mas';

//OPCION 6
- var classContenedor_beneficio6 = '';
- var btypeBox6 = 'blue';
- var btab1_txtHeader6 = 'Martes de Burger King';
- var btab1_imgLogo6 = 'i-cajas-ripley.svg';
- var btab1_dctoCard6 = 'Cajas de Tiendas Ripley';
- var btab1_detalleDctoCard6 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard6 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink6 = 'https://bit.ly/2OQBnF3';
- var btab1_classEnlace6 = 'btn_MI_P2-saber-mas';

//OPCION 7
- var classContenedor_beneficio7 = '';
- var btypeBox7 = 'blue';
- var btab1_txtHeader7 = 'Miércoles de Telepizza';
- var btab1_imgLogo7 = 'i-agency-bank.svg';
- var btab1_dctoCard7 = 'Agencias Banco Ripley';
- var btab1_detalleDctoCard7 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard7 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink7 = 'https://bit.ly/2FSyXlm';
- var btab1_classEnlace7 = 'btn_MI_P3-saber-mas';
