- var titlePage = 'RipleyPuntos Go';
- var descriptionPage = '¡Bienvenido! Estamos aquí para cumplir tus sueños.';
- var keywordsPage = "Ripley Puntos Go";
- var isHome = true;

- var barra_nav_slider = false;
- var numero_slides = '3';
- var rutaIMG = 'img/home/slider/';

- var heightVitrina ='480px';
- var heightImgVitrina ='100%';
- var widthImgVitrina ='100%';
- var maxWidthVitrina ='1190px';


//vitrinaSlide 1 variables
- var bg_vitrina1 = '#FFE9E3';
- var classesPrimerTexto_vitrina1= 't1 white bold titleVitrina home-titleVitrina1';
- var contenidoPrimerTexto_vitrina1= 'El programa que te <br>premia más';
- var contenidoPrimerTexto2_vitrina1= 'El programa <br>que te premia más';
- var classesSegundoTexto_vitrina1= 't6 white sub-titleVitrina home-sub-titleVitrina1'; 
- var contenidoSegundoTexto_vitrina1= '<br>Usa tu Tarjeta de Crédito <br>Ripley y acumula RipleyPuntos Go.<br><br><br>';
- var classesBTN1_vitrina1= 's4 btnRed btn_B1_quiero-mi-tarjeta';
- var hrefBTN1_vitrina1= 'ripley-puntos.html';
- var contenidoBTN1_vitrina1= 'Saber más';

- var classesBTN2_vitrina1= 's1 btnWhite d-none';
- var hrefBTN2_vitrina1= 'javascript:;';
- var contenidoBTN2_vitrina1= 'Lorem ipsum';

- var imagen_vitrina1 = 'banner-4.png';
- var maxWidthImg = '1190px';
    //button pie vitrina1
    - var clasesTexto1_pieVitrina1 = 'bold';
    - var contenidoTexto1_pieVitrina1 = '¡Obtén tu Tarjeta Ripley Mastercard!';
    - var clasesTexto2_pieVitrina1 = 'semiBold'; 
    - var contenidoTexto2_pieVitrina1 = '<br>Disfruta de nuestros beneficios de bienvenida, promociones y descuentos exclusivos<br><br><br>';

//- //vitrinaSlide 2 variables
//- - var bg_vitrina2 = '#EBECEE';
//- - var classesPrimerTexto_vitrina2= 't1 white bold titleVitrina home-titleVitrina2';
//- - var contenidoPrimerTexto_vitrina2= 'Muchos beneficios <br>para ti';
//- - var contenidoPrimerTexto2_vitrina2= 'Muchos <br>beneficios para ti';
//- - var classesSegundoTexto_vitrina2= 't6 white sub-titleVitrina home-sub-titleVitrina2';
//- - var contenidoSegundoTexto_vitrina2= '<br>Conviértete en nuestro cliente <br>Gold Prime o Silver Prime <br>y accede a descuentos exclusivos.<br><br><br>';

//- - var classesBTN1_vitrina2= 's4 btnRed d-none';
//- - var hrefBTN1_vitrina2= 'clientes-prime.html';
//- - var contenidoBTN1_vitrina2= 'Saber más';

//- - var classesBTN2_vitrina2= 's1 btnWhite d-none';
//- - var hrefBTN2_vitrina2= 'javascript:;';
//- - var contenidoBTN2_vitrina2= 'Lorem ipsum'

//- - var imagen_vitrina2 = 'banner-5.png';
//-     //button pie vitrina2
//-     - var clasesTexto1_pieVitrina2 = 'bold';
//-     - var contenidoTexto1_pieVitrina2 = 'Nuestra nueva App <br>';
//-     - var clasesTexto2_pieVitrina2 = 'semiBold';
//-     - var contenidoTexto2_pieVitrina2 = 'Revisa de manera fácil tus movimientos a través de nuestra app';


//vitrinaSlide 2 variables
- var bg_vitrina2 = '#ADB6E8';
- var classesPrimerTexto_vitrina2= 't1 grey4 bold titleVitrina home-titleVitrina3';
- var contenidoPrimerTexto_vitrina2= '¡Inscríbete al <br>programa que te <br>premia más!';
- var contenidoPrimerTexto2_vitrina2= '¡Inscríbete al <br>programa que <br>te premia más!';
- var classesSegundoTexto_vitrina2= 't6 grey4 sub-titleVitrina home-sub-titleVitrina3';
- var contenidoSegundoTexto_vitrina2='<br>Acumula RipleyPuntos Go presentando tu DNI <br>en Ripley y Ripley.com.pe. No necesitas Tarjeta Ripley.<br><br>';
- var classesBTN1_vitrina2= 's4 btnRed';
- var hrefBTN1_vitrina2= 'registro-omp.html';
- var contenidoBTN1_vitrina2= '¡Inscríbete aquí!';

- var classesBTN2_vitrina2= 's1 btnWhite d-none';
- var hrefBTN2_vitrina2= 'registro-omp.html';
- var contenidoBTN2_vitrina2= 'Lorem ipsum';

- var imagen_vitrina2 = 'banner-3.png';
    //button pie vitrina2'
    - var clasesTexto1_pieVitrina2 = 'bold';
    - var contenidoTexto1_pieVitrina2 = 'Depósito a Plazo Fijo<br>';
    - var clasesTexto2_pieVitrina2 = 'semiBold';
    - var contenidoTexto2_pieVitrina2 = 'Aprovecha esta tasa de interés increíble que tenemos para ti';


//vitrinaSlide 3 variables
- var bg_vitrina3 = '#FFEEB0';
- var classesPrimerTexto_vitrina3= 't1 white bold titleVitrina home-titleVitrina4';
- var contenidoPrimerTexto_vitrina3= '#QuédateEnCasa';
- var contenidoPrimerTexto2_vitrina3= '#QuédateEnCasa';
- var classesSegundoTexto_vitrina3= 't6 white sub-titleVitrina home-sub-titleVitrina4'; 
- var contenidoSegundoTexto_vitrina3= '<br>Triple Acumulación de tus RPGo, en compras <br>online con tu Tarjeta Ripley.<br><br><br>';
- var classesBTN1_vitrina3= 's4 btnRed';
- var hrefBTN1_vitrina3= '../promociones.html?utm_source=Web_RPGo&utm_medium=banner&utm_campaign=RPGo_triple_acumulacion_ecommerce_junio_2020';
- var contenidoBTN1_vitrina3= 'Inscríbete aquí';

- var classesBTN2_vitrina3= 's1 btnWhite d-none';
- var hrefBTN2_vitrina3= 'javascript:;';
- var contenidoBTN2_vitrina3= 'Lorem ipsum';

- var imagen_vitrina3 = 'banner-6.png';
    //button pie vitrina3
    - var clasesTexto1_pieVitrina3 = 'bold';
    - var contenidoTexto1_pieVitrina3 = 'RipleyPuntos Go<br>';
    - var clasesTexto2_pieVitrina3 = 'semiBold';
    - var contenidoTexto2_pieVitrina3 = 'Canjéalos por nuestras Gift Cards y multiplica hasta por 5 el valor';




//Variables - creditos AV - SAV - CC
-var titleBox1 = 'Súper Efectivo';
-var montoBox1 = '5,000';
-var cuotasBox1 = '36'; 
-var montoCuotasBox1 = '212*.';
-var caeBox1 = '34.10';
-var montoCaeBox1 = '1.447.640';
-var linkBox1 = './prestamos/prestamo-rapido-super-efectivo.html';
-var txtLinkBox1 = 'Saber más';
-var condicionBox1 = '*Sujeto a evaluación crediticia. Cuota Referencial.<br><br>';
-var classBox1 = 'btn_MI_SE-saber-mas';

-var titleBox2 = 'Efectivo Express';
-var montoBox2 = '1,000';
-var cuotasBox2 = '12';
-var montoCuotasBox2 = '109*.';
-var caeBox2 = '93.05';
-var montoCaeBox2 = '4.727.520';
-var linkBox2 = 'https://prestamosbancoripley.com.pe/';
-var txtLinkBox2 = 'Me interesa';
-var targetlinkBox2 = "_blank";
-var condicionBox2 = '*Sujeto a evaluación crediticia y disponibilidad de línea de crédito. Cuota Referencial.';
-var classBox2 = 'btn_MI_EE-saber-mas';

-var titleBox3 = 'Préstamo efectivo';
-var montoBox3 = '5,000';
-var cuotasBox3 = '12';
-var montoCuotasBox3 = '594.82*';
-var caeBox3 = '100.13';
-var montoCaeBox3 = '123.486';
-var linkBox3 = './prestamos/prestamo-efectivo.html';
-var txtLinkBox3 = 'Saber más';
-var condicionBox3 = '*Sujeto a evaluación crediticia.<br><br>';
-var classBox3 = 'btn_MI_PE-saber-mas';

-var titleBox4 = false;
-var montoBox4 = '200.000';
-var cuotasBox4 = '12';
-var montoCuotasBox4 = '19.990';
-var caeBox4 = '31,67';
-var montoCaeBox4 = '244.286';
-var linkBox4 = 'https://www.google.com';
-var txtLinkBox4 = 'Me interesa';

//-BENEFICIOS
//Beneficio 1
- var bclassContenedor_beneficio1 = 'active';
- var btypeBox1 = 'blue2';
- var btab1_txtHeader1 = 'Lunes de Cinnabon';
- var btab1_imgLogo1 = 'i-ben-car-buy.svg';
- var btab1_dctoCard1 = 'Acumula puntos comprando en Ripley y establecimientos afiliados.';
- var btab1_detalleDctoCard1 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard1 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink1 = 'https://bit.ly/2uLhBS8';
- var btab1_classEnlace1 = 'btn_MI_P1-saber-mas';

//Beneficio 2
- var classContenedor_beneficio2 = '';
- var btypeBox2 = 'blue2';
- var btab1_txtHeader2 = 'Martes de Burger King';
- var btab1_imgLogo2 = 'i-stars-benficio.svg';
- var btab1_dctoCard2 = 'Convierte tus RipleyPuntos Go en experiencias de consumo.';
- var btab1_detalleDctoCard2 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard2 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink2 = 'https://bit.ly/2OQBnF3';
- var btab1_classEnlace2 = 'btn_MI_P2-saber-mas';

//Beneficio 3
- var classContenedor_beneficio3 = '';
- var btypeBox3 = 'blue';
- var btab1_txtHeader3 = 'Miércoles de Telepizza';
- var btab1_imgLogo3 = 'i-ben-card.svg';
- var btab1_dctoCard3 = 'Tus RipleyPuntos Go valen hasta 5 veces más canjeando Gift Cards.';
- var btab1_detalleDctoCard3 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard3 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink3 = 'https://bit.ly/2FSyXlm';
- var btab1_classEnlace3 = 'btn_MI_P3-saber-mas';

//Beneficio 4
- var classContenedor_beneficio4 = '';
- var btypeBox4 = 'blue2';
- var btab1_txtHeader4 = 'Jueves de Restofans';
- var btab1_imgLogo4 = 'i-box.svg';
- var btab1_dctoCard4 = 'Canjea productos seleccionados en Tiendas Ripley.';
- var btab1_detalleDctoCard4 = 'Acumula el doble de tus estrellas';
- var btab1_condicionDctoCard4 = '*Hasta S/ 200 de descuento';
- var btab1_cardLink4 = 'https://bit.ly/2YSjkmE';
- var btab1_classEnlace4 = 'btn_MI_P4-saber-mas';


//-PROMOCIONES
//- //Promocion 1
//- - var classContenedor_beneficio1 = 'active';
//- - var typeBox1 = 'blue';
//- - var tab1_txtCategoria1 = 'Promocion';
//- - var tab1_txtMarca1 = 'Wong y Metro';
//- - var tab1_txtHeader1 = 'Un gran canje para ti';
//- - var tab1_imgLogo1 = 'logo_cenconsud.svg';
//- - var tab1_dctoCard1 = 'Wong y Metro';
//- - var tab1_detalleDctoCard1 = 'Gift card de S/ 60 <br><br>Por 4,500 RipleyPuntos';
//- - var tab1_condicionDctoCard1 = '';
//- - var tab1_cardLink1 = '';
//- - var tab1_classEnlace1 = 'btn_MI_P1-saber-mas';

//Promocion 1
- var classContenedor_beneficio1 = 'active';
- var typeBox1 = 'blue';
- var tab1_txtCategoria1 = 'Promocion';
- var tab1_txtMarca1 = 'RipleyPuntosGo';
- var tab1_txtHeader1 = 'Multiplica tus puntos';
- var tab1_imgLogo1 = 'i-ripley-puntos-yellow-rpg.svg';
- var tab1_dctoCard1 = 'Multiplica x3';
- var tab1_detalleDctoCard1 = 'En compras por internet.';
- var tab1_condicionDctoCard1 = '*Es indispensable que te inscribas.';
- var tab1_cardLink1 = 'promociones.html';
- var tab1_classEnlace1 = 'btn_MI_P2-saber-mas';

//Promocion 2
- var classContenedor_beneficio2 = '';
- var typeBox2 = 'blue';
- var tab1_txtCategoria2 = 'Promocion';
- var tab1_txtMarca2 = 'Restofans';
- var tab1_txtHeader2 = 'Descuento por ser Prime';
- var tab1_imgLogo2 = 'i-despacho-gratis.svg';
- var tab1_dctoCard2 = 'Despacho gratis';
- var tab1_detalleDctoCard2 = 'Obtén cupones de despacho gratis por compras en Ripley.com.pe';
- var tab1_condicionDctoCard2 = '*Usando la tarjeta y para clientes Prime.';
- var tab1_cardLink2 = '/clientes-prime.html?sec=beneficios';
- var tab1_classEnlace2 = 'btn_MI_P3-saber-mas';

//Promocion 3
- var classContenedor_beneficio3 = '';
- var typeBox3 = 'blue';
- var tab1_txtCategoria3 = 'Promocion';
- var tab1_txtMarca3 = 'Gift Card';
- var tab1_txtHeader3 = 'Pronto tendremos novedades para ti';
- var tab1_imgLogo3 = 'i-gift-card-rpg.svg';
- var tab1_dctoCard3 = 'Gift Card de S/ 140';
- var tab1_detalleDctoCard3 = 'Canjéala por <strong> 7,000 </strong> RipleyPuntos Go.';
- var tab1_condicionDctoCard3 = '';
- var tab1_cardLink3 = '/canjes.html?t=giftcardsSTR';
- var tab1_classEnlace3 = 'btn_MI_P3-saber-mas';



//Promocion 5
//-- var classContenedor_beneficio5 = '';
//-- var typeBox5 = 'blue';
//-- var tab1_txtHeader5 = 'Viernes de Uber';
//-- var tab1_imgLogo5 = 'i-gift-card-rpg.svg';
//-- var tab1_dctoCard5 = '50% de descuento';
//-- var tab1_detalleDctoCard5 = 'en 2 viajes';
//-- var tab1_condicionDctoCard5 = '*Usa el código TARJETARIPLEY50';
//-- var tab1_cardLink5 = 'https://bit.ly/2UjlZqI';
//-- var tab1_classEnlace5 = 'btn_MI_P5-saber-mas';

//Promocion 6 - quitar
//- var classContenedor_beneficio6 = '';
//- var typeBox6 = '';
//- var tab1_txtHeader6 = 'Todos los días';
//- var tab1_imgLogo6 = 'maxiahorro-logo.jpg';
//- var tab1_dctoCard6 = 'Ahora o Nunca';
//- var tab1_detalleDctoCard6 = 'En Productos seleccionados';
//- var tab1_condicionDctoCard6 = '';
//- var tab1_cardLink6 = 'https://bit.ly/2MZS1PY';
//- var tab1_classEnlace6 = 'btn_MI_P6-saber-mas';

//Promocion 7
//--- var classContenedor_beneficio7 = '';
//--- var typeBox7 = 'blue';
//--- var tab1_txtHeader7 = 'Todos los días';
//--- var tab1_imgLogo7 = 'i-gift-card-rpg.svg';
//--- var tab1_dctoCard7 = 'Ahora o Nunca';
//--- var tab1_detalleDctoCard7 = 'En Productos seleccionados';
//--- var tab1_condicionDctoCard7 = '';
//--- var tab1_cardLink7 = 'https://www.promocionesbancoripley.com.pe/'; //'https://bit.ly/2CmkTzz';
//--- var tab1_classEnlace7 = 'btn_MI_P7-saber-mas';
//--
//Promocion 8
//--- var classContenedor_beneficio8 = '';
//--- var typeBox8 = 'blue';
//--- var tab1_txtHeader8 = 'Todos los días';
//--- var tab1_imgLogo8 = 'i-gift-card-rpg.svg';
//--- var tab1_dctoCard8 = '15% de descuento adicional';
//--- var tab1_detalleDctoCard8 = '';
//--- var tab1_condicionDctoCard8 = '*Hasta S/ 200 de descuento';
//--- var tab1_cardLink8 = 'https://bit.ly/2TU1uMc';
//--- var tab1_classEnlace8 = 'btn_MI_P8-saber-mas';


- var classTxtFooter = '';  
- var txtMsjFooter = 'Lorem, ipsum dolor sit amet consectetur <strong>¿adipisicing elit?</strong> <a href="/hazte-cliente.html" class="btnPurple s1 light" style="margin: 15px">¡Voluptatem alias!</a>';

