//- - var titlePage = 'RipleyPuntos GO - Canjes y Promociones';
//- - var is404 = false;
//- - var isHome = false;

//- - var conoceMasPrograma = true;

//- - var heightVitrina ='480px';
//- - var heightImgVitrina ='100%';
//- - var widthImgVitrina ='100%';
//- - var maxWidthVitrina ='1190px';
//- - var bgVitrina = '#F7F6F7';
//- //- - var bgVitrina = 'red';

//- - var imgVitrinaXS = '../img/afiliate/slider/xs-banner-6.png';
//- - var imgVitrina = '../img/afiliate/slider/banner-6.png';

//- - var clasesFirstP = 't1 white bold titleVitrina';
//- - var contenidoFirstP = 'Todo lo que puedes canjear con tus RipleyPuntos Go<br>';
//- - var contenidoFirstP2 = 'Todo lo que puedes canjear con tus RipleyPuntos Go<br>';
//- - var clasesLastP = 't6 white sub-titleVitrina';
//- - var contenidoLastP = '<br>Inscríbete para acumular puntos presentando tu DNI en cada compra.<br><br><br>';

//- - var classBtnVitrina1 = 't6 btnRed btn_categoria-rpg';
//- - var btnVitrina1 = 'Saber más';
//- - var linkBtnVitrina1 = '';
//- - var targetBtnVitrina1 = '_blank';

- var titlePage = 'RipleyPuntos GO - Canjes y Promociones';
- var descriptionPage = '¡Bienvenido! Canjes y Promociones';
- var keywordsPage = "Canjes y Promociones";
- var isHome = false;

- var barra_nav_slider = false;
- var numero_slides = '2';
- var rutaIMG = 'img/canjes_promociones/slider/';

- var heightVitrina ='480px';
- var heightImgVitrina ='100%';
- var widthImgVitrina ='100%';
- var maxWidthVitrina ='1190px';


//vitrinaSlide 1 variables
- var bg_vitrina1 = '#FFE9E3';
- var classesPrimerTexto_vitrina1= 't1 white bold titleVitrina';
- var contenidoPrimerTexto_vitrina1= '¡Estamos comprometidos contigo!';
- var contenidoPrimerTexto2_vitrina1= '¡Estamos comprometidos contigo!';
- var classesSegundoTexto_vitrina1= 't6 white sub-titleVitrina'; 
- var contenidoSegundoTexto_vitrina1= '<br>Triple Acumulación de tus RPGo, por <br>compras online con tu Tarjeta Ripley.<br><br><br>';
- var classesBTN1_vitrina1= 's4 btnRed btn_B1_gift_cards';
- var hrefBTN1_vitrina1= './promociones.html?utm_source=web_rpgo&utm_medium=banner&utm_campaign=acumulacion_may_2020';
- var contenidoBTN1_vitrina1= '¡Inscríbete aquí!';

- var classesBTN2_vitrina1= 's1 btnWhite d-none';
- var hrefBTN2_vitrina1= 'javascript:;';
- var contenidoBTN2_vitrina1= 'Lorem ipsum';

- var imagen_vitrina1 = 'banner-10.png';
- var maxWidthImg = '1190px';
    //button pie vitrina1
    - var clasesTexto1_pieVitrina1 = 'bold';
    - var contenidoTexto1_pieVitrina1 = '¡Obtén tu Tarjeta Ripley Mastercard!';
    - var clasesTexto2_pieVitrina1 = 'semiBold'; 
    - var contenidoTexto2_pieVitrina1 = 'Disfruta de nuestros beneficios de bienvenida, promociones y descuentos exclusivos';

//vitrinaSlide 2 variables
- var bg_vitrina2 = '#EBECEE';
- var classesPrimerTexto_vitrina2= 't1 white bold titleVitrina';
- var contenidoPrimerTexto_vitrina2= '¡Tus RipleyPuntos Go valen hasta 5 veces más!';
- var contenidoPrimerTexto2_vitrina2= '¡Tus RipleyPuntos Go valen hasta 5 veces más!';
- var classesSegundoTexto_vitrina2= 't6 white sub-titleVitrina';
- var contenidoSegundoTexto_vitrina2= '<br>Acumula, canjea Gift Cards y llévate lo que quieras en Tiendas Ripley.<br><br><br>';

- var classesBTN1_vitrina2= 's4 btnRed';
- var hrefBTN1_vitrina2= 'javascript:goToCanjes("canjes.html?t=giftcards")';
- var contenidoBTN1_vitrina2= 'Conoce más';

- var classesBTN2_vitrina2= 's1 btnWhite d-none';
- var hrefBTN2_vitrina2= 'javascript:;';
- var contenidoBTN2_vitrina2= 'Lorem ipsum'

- var imagen_vitrina2 = 'banner-6.png';
    //button pie vitrina2
    - var clasesTexto1_pieVitrina2 = 'bold';
    - var contenidoTexto1_pieVitrina2 = 'Nuestra nueva App <br>';
    - var clasesTexto2_pieVitrina2 = 'semiBold';
    - var contenidoTexto2_pieVitrina2 = 'Revisa de manera fácil tus movimientos a través de nuestra app';


//- //vitrinaSlide 3 variables
//- - var bg_vitrina3 = '#ADB6E8';
//- - var classesPrimerTexto_vitrina3= 't1 white bold titleVitrina';
//- - var contenidoPrimerTexto_vitrina3= 'Canjea 1 Movie Pack por solo 2,500 RipleyPuntos Go';
//- - var contenidoPrimerTexto2_vitrina3= 'Canjea 1 Movie Pack por solo 2,500 RipleyPuntos Go';
//- - var classesSegundoTexto_vitrina3= 't6 white sub-titleVitrina';
//- - var contenidoSegundoTexto_vitrina3='<br>Incluye 3 entradas 2D+ 2 gaseosas medianas + cancha gigante recargable.<br><br><br>';
//- - var classesBTN1_vitrina3= 's4 btnRed';
//- - var hrefBTN1_vitrina3= 'javascript:goToCanjes("canjes.html?t=experiencias")';
//- - var contenidoBTN1_vitrina3= 'Descubre más';

//- - var classesBTN2_vitrina3= 's1 btnWhite d-none';
//- - var hrefBTN2_vitrina3= 'javascript:;';
//- - var contenidoBTN2_vitrina3= 'Lorem ipsum';

//- - var imagen_vitrina3 = 'banner-7.png';
//-     //button pie vitrina3'
//-     - var clasesTexto1_pieVitrina3 = 'bold';
//-     - var contenidoTexto1_pieVitrina3 = 'Depósito a Plazo Fijo<br>';
//-     - var clasesTexto2_pieVitrina3 = 'semiBold';
//-     - var contenidoTexto2_pieVitrina3 = 'Aprovecha esta tasa de interés increíble que tenemos para ti';

//- //vitrinaSlide 4 variables
//- - var bg_vitrina3 = '#FFEEB0';
//- - var classesPrimerTexto_vitrina3= 't1 white bold titleVitrina';
//- - var contenidoPrimerTexto_vitrina3= 'En marzo, regresa el Súper Canje de RipleyPuntos GO';
//- - var contenidoPrimerTexto2_vitrina3= 'En marzo, regresa el Súper Canje de RipleyPuntos GO';
//- - var classesSegundoTexto_vitrina3= 't6 white sub-titleVitrina'; 
//- - var contenidoSegundoTexto_vitrina3= '<br>Canjea los mejores productos de perfumería y belleza en Tiendas Ripley.<br><br><br>';
//- - var classesBTN1_vitrina3= 's1 btnRed';
//- - var hrefBTN1_vitrina3= 'javascript:goToCanjes("canjes.html?t=supercanjes")';
//- - var contenidoBTN1_vitrina3= 'Descúbrelos aquí';

//- - var classesBTN2_vitrina3= 's1 btnWhite d-none';
//- - var hrefBTN2_vitrina3= 'javascript:;';
//- - var contenidoBTN2_vitrina3= 'Lorem ipsum';

//- - var imagen_vitrina3 = 'banner-8.png';
//-     //button pie vitrina4
//-     - var clasesTexto1_pieVitrina3 = 'bold';
//-     - var contenidoTexto1_pieVitrina3 = 'RipleyPuntos Go<br>';
//-     - var clasesTexto2_pieVitrina3 = 'semiBold';
//-     - var contenidoTexto2_pieVitrina3 = 'Canjéalos por nuestras Gift Cards y multiplica hasta por 5 el valor';


- var rutaImgGC = 'img/canjes_promociones/';
//gift cards 
- var rutaImgE = 'img/canjes_promociones/experiencias/';
- var rutaImgS = 'img/canjes_promociones/supercanjes/';
- var rutaImgSVG = 'img/svg/';
- var imgLogoWhite = 'rp-white-logo-white.svg';
- var imgLogoWhite_min = 'rp-white-logo-white-min.svg';

//gift cards 1
- var title1 = 'S/ 140';
- var PromoPrice1 = '7,000';
- var imgsrc1 ='img/svg/i-RipleyPuntos-purple-logo.svg';
- var imgPromo1 = 'i-Asset_2x_1.png';
- var txtante1 = '14,000 puntos';
//gift cards 2
- var title2 = 'S/ 600';
- var PromoPrice2 = '20,000';
- var imgsrc2 ='img/svg/i-RipleyPuntos-purple-logo.svg';
- var imgPromo2 = 'i-Asset_3x_1.png';
- var txtante2 = '60,000 puntos';
//gift cards 3
- var title3 = 'S/ 2,000';
- var PromoPrice3 = '50,000';
- var imgsrc3 ='img/svg/i-RipleyPuntos-purple-logo.svg';
- var imgPromo3 = 'i-Asset_4x_1.png';
- var txtante3 = '200,000 puntos';
//gift cards 4
- var title4 = 'S/ 5,000';
- var PromoPrice4 = '100,000';
- var imgsrc4 ='img/svg/i-RipleyPuntos-purple-logo.svg';
- var imgPromo4 = 'i-Asset_5x_1.png';
- var txtante4 = '500,000 puntos';


// var experiencas especiales
//experiencia especial 1
- var imgBack1 = 'imgExperiencia1.png';
- var pricecurrent1 = '2,500';
- var priceante1 = '22,900 RPGo';
- var titlebottom1 = 'Movie Pack';
- var subtitlebottom1 = '3 entradas 2D, 2 gaseosas medianas, cancha grande refill. Hasta el 15 de Marzo del 2020';
//experiencia especial 2
- var imgBack2 = 'imgExperiencia2.png';
- var pricecurrent2 = '2,500';
- var priceante2 = '22,900 RPGo';
- var titlebottom2 = 'Vale de S/ 60';
- var subtitlebottom2 = 'En compras en Supermercados Wong.';
//experiencia especial 3
- var imgBack3 = 'imgExperiencia3.png';
- var pricecurrent3 = '2,500';
- var priceante3 = '22,900 RPGo';
- var titlebottom3 = 'Movie Pack';
- var subtitlebottom3 = '3 entradas 2D, 2 gaseosas medianas, cancha grande refill.';


// var supercanjes especiales
//supercanjes especial 1
- var sc_imgBack1 = 'Versace-Crystal.png';
- var sc_pricecurrent1 = '4,000';
- var sc_priceother1 = '+ S/ 25';
- var sc_priceante1 = '9,900 RPGo';
- var sc_titlebottom1 = 'Versace';
- var sc_subtitlebottom1 = 'Crystal Noir EDT 30 ml – SKU 23754594';

//supercanjes especial 2
- var sc_imgBack2 = 'ralph-vapo.png';
- var sc_pricecurrent2 = '2,500';
- var sc_priceother2 = '+ S/ 25';
- var sc_priceante2 = '7,900 RPGo';
- var sc_titlebottom2 = 'Ralph Lauren';
- var sc_subtitlebottom2 = 'Ralph EDT Vapo 30 ml – SKU 21631474';

//supercanjes especial 3
- var sc_imgBack3 = 'mac-mate-hit.png';
- var sc_pricecurrent3 = '3,500';
- var sc_priceother3 = '+ S/ 20';
- var sc_priceante3 = '7,000 RPGo';
- var sc_titlebottom3 = 'MAC';
- var sc_subtitlebottom3 = 'Labial mate HIT – SKU 17226344';


//PromocionesTriplica
- var pt_imgBack1 = 'triplicaFarmacia.png';
- var pt_tipoPromotion1 = 'farmacia';
- var pt_titulopromotion1 = 'Triplica promoción 1';

- var pt_imgBack2 = 'triplicasupermercado.png';
- var pt_tipoPromotion2 = 'jugueteria';
- var pt_titulopromotion2 = 'Triplica promoción 2';

- var pt_imgBack3 = 'triplicaFarmacia.png';
- var pt_tipoPromotion3 = 'cierre';
- var pt_titulopromotion3 = 'Triplica promoción 3';