//variables de página
- var titlePage = 'RipleyPuntos GO - Categorias';
- var descriptionPage = '¡Bienvenido! Categorias';
- var keywordsPage = "Categorias";

- var conoceMasPrograma = false;

- var initialPrestamo = true;
//vitrina
- var imgVitrinaXS = '../img/categorias/slider/xs-banner-1.png';
- var imgVitrina = '../img/categorias/slider/banner-1.png';
- var bgVitrina = '#F7F6F7';
- var heightVitrina ='480px';
- var heightImgVitrina ='100%';
- var widthImgVitrina ='100%';
- var maxWidthVitrina ='1190px';

- var clasesFirstP = 't1 white bold titleVitrina';
- var contenidoFirstP = 'Conviértete en un Cliente Prime<br>';
- var contenidoFirstP2 = 'Conviértete en un Cliente Prime<br>';
- var clasesLastP = 't6 white sub-titleVitrina';
- var contenidoLastP = '<br>Acumula RipleyPuntos Go y accede a increíbles beneficios.<br><br><br>';

- var classBtnVitrina1 = 't6 btnRed btn_categoria-rpg';
- var btnVitrina1 = 'Descúbrelos aquí';
- var linkBtnVitrina1 = 'javascript:goToCanjes("clientes-prime.html")';
- var targetBtnVitrina1 = '';

