- var titlePage = 'RipleyPuntos GO - Acumula';
- var descriptionPage = '¡Bienvenido! Acumula';
- var keywordsPage = "Acumula";

- var isHome = false;

- var heightVitrina ='480px';
- var heightImgVitrina ='100%';
- var widthImgVitrina ='100%';
- var maxWidthVitrina ='1190px';
- var bgVitrina = '#F7F6F7';

- var imgVitrinaXS = '../img/afiliate/slider/xs-banner-1.png';
- var imgVitrina = '../img/afiliate/slider/banner-1.png';

- var clasesFirstP = 't1 grey4 bold titleVitrina acumula_titleVitrina';
- var contenidoFirstP = 'Ahora los RipleyPuntos Go son para todos<br>';
- var contenidoFirstP2 = 'Ahora los RipleyPuntos Go son para todos<br>';
- var clasesLastP = 't6 grey4 sub-titleVitrina acumula_sub-titleVitrina';
- var contenidoLastP = '<br>Afíliate al programa y compra en Tiendas Ripley y Ripley.com.pe con cualquier medio de pago.<br><br><br>';

- var classBtnVitrina1 = 't6 btnRed btn_categoria-rpg';
- var btnVitrina1 = '¡Afíliate aquí!';
- var linkBtnVitrina1 = 'registro-omp.html';
- var targetBtnVitrina1 = '';



