include variables/var_aunNoTinesTarjeta

doctype html
html
    head
        include includes/head4rp
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/vitrina.pug

        .clearfix
        include includes/aun-sin-tarjeta.pug

        .clearfix
        include includes/modal-app-terminoslegal.pug

        .clearfix
        include includes/preguntasFrecuentes.pug

        .clearfix
        include includes/footer.pug

        script(src="../js/jsHB.js")