include variables/var_canjes_promociones

doctype html
html
    head
        include includes/head3rp
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/vitrina-slider.pug

        .clearfix
        include includes/canjes-promociones.pug

        //- .clearfix
        //- include includes/client-prime-canje-promo.pug

        .clearfix
        include includes/modal-app-terminoslegal.pug

        .clearfix
        include includes/preguntasFrecuentesCanjesPromociones.pug

        .clearfix
        include includes/pantalla-carga.pug

        .clearfix
        include includes/footer.pug

        script(src="../js/jsHB.js")