include variables/var_categorias

doctype html
html
    head
        include includes/head2rp
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        //- include includes/vitrina-slider.pug
        include includes/vitrina.pug

        .clearfix
        include includes/categorias.pug

        .clearfix
        include includes/client-prime.pug

        .clearfix
        include includes/beneficios-categorias.pug

        .clearfix
        include includes/modal-app-terminoscondicionesbeneficios.pug

        .clearfix
        include includes/preguntasFrecuentesCategorias.pug

        .clearfix
        include includes/footer.pug

        script(src="../js/jsHB.js")