include variables/var_error404

doctype html
html
    head
        include includes/head3
    body
        .toggle-mobile
        include includes/header3.pug

        .clearfix
        include includes/vitrina.pug

        .clearfix
        include includes/footer3.pug

        script(src=ruta + "js/jsHB-min.js")