include variables/var_home

doctype html
html
    head
        include includes/head
    body#body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/vitrina-slider.pug
        .clearfix
        include includes/beneficios.pug
        .clearfix
        include includes/client-prime.pug
        .clearfix
        include includes/inscripcionHome.pug
        .clearfix
        include includes/promociones-home.pug
        .clearfix
        include includes/ver-promociones.pug

        include includes/pantalla-carga.pug
        .clearfix
        include includes/footer.pug

        script(src="../js/jsHB.js")




