include variables/var_promociones

doctype html
html
    head
        include includes/head3rp
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/promociones.pug

        .clearfix
        include includes/pantalla-carga.pug

        .clearfix
        include includes/beneficios-promociones.pug

        .clearfix
        include includes/modal-app-terminoslegal.pug

        include includes/footer.pug

        script(src="js/jsHB.js")
