include variables/var_registro_omp

doctype html
html
    head
        include includes/head
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/registro-omp-cliente.pug

        .clearfix
        include includes/pantalla-carga.pug

        .clearfix
        include includes/footerOMP.pug

        script(src="js/jsHB.js")