include variables/var_ripleyPuntosGo

doctype html
html
    head
        //- iframe#idframeallowscripts(src="#" sandbox="allow-scripts")
        include includes/head1rp
        
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        
        include includes/ripley-puntos.pug

        .clearfix
        include includes/consultar-puntos.pug
      
        .clearfix
        include includes/footer.pug


        script(src="js/jsHB.js")

