include variables/var_segmentador

doctype html
html
    head
        include includes/head
    body
        .toggle-mobile
        include includes/header.pug

        .clearfix
        include includes/segmentaciones.pug

        .clearfix
        include includes/modal-app-puntoscalificables.pug

        include includes/pantalla-carga.pug

        .clearfix
        include includes/footer.pug

        script(src="js/jsHB.js")