  .boxBlue{
    background: $blue1;
  }
  .contenedor_boxColorPromocion{
    background: #fff;
    border: 1px solid rgba(151,153,155,0.15);
    box-shadow: 0 14px 16px 0 rgba(202, 202, 202, 0.17);
    min-height: 290px;
    border-radius: 8px;
    overflow: hidden;
    .box-descuento__header{
      background:$purple1;
    }
  }
  .boxYellow{
    .box-descuento__header{
      background: $yellow1;
    }
  }
  .boxPurple{
    .box-descuento__header{
      background:$darkPurple2;
    }
  }
  